<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="站点名称" prop="storeName">
                        <Input
                                type="text"
                                v-model="searchForm.storeName"
                                clearable
                                placeholder="请输入站点名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="平台" prop="platform">
                        <Select v-model="searchForm.platform" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="(item, i) in dictPlatform" :key="i" :value="item.value">{{item.title}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="站点状态" prop="storeStatus" >
                        <Select v-model="searchForm.storeStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="backendId" prop="backendId" >
                        <Input
                                type="text"
                                v-model="searchForm.backendId"
                                clearable
                                placeholder="请输入id"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加站点</Button>
                <Button @click="updateStatusModelVisible = true" >批量更新状态</Button>
                <Button @click="exportTemplate" >下载模板</Button>
                <Button @click="importDataModel = true" >批量导入</Button>
                <Button @click="modalExportAll = true" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="状态变更"
               v-model="updateStatusModelVisible"
               :width="500"
               :styles="{top: '30px'}"
        >
                <Select v-model="updateStatus" placeholder="请选择" clearable style="width: 300px">
                    <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                </Select>
            <div slot="footer">
                <Button type="text" @click="updateStatusModelVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdateStatus">提交</Button>
            </div>
        </Modal>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="站点别名" prop="storeName"  >
                    <Input v-model="form.storeName" autocomplete="off" />
                </FormItem>
                <FormItem label="平台" prop="platform"  >
                    <Select v-model="form.platform" placeholder="请选择" clearable style="width: 200px">
                        <Option v-for="(item, i) in dictPlatform" :key="i" :value="item.value">{{item.title}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="平台name" prop="platformName"  >
                    <Input v-model="form.platformName" />
                </FormItem>
                <FormItem label="店铺后端url" prop="adminUrl"  >
                    <Input v-model="form.adminUrl" />
                </FormItem>
                <FormItem label="OMS系统ID" prop="omsId"  >
                    <Input v-model="form.omsId" placeholder="OMS系统开的账号ID" />
                </FormItem>
                <FormItem label="API  KEY" prop="apiKey"  >
                    <Input v-model="form.apiKey" />
                </FormItem>
                <FormItem label="API Password" prop="apiPassword"  >
                    <Input v-model="form.apiPassword" />
                </FormItem>
                <FormItem label="Shared Secret" prop="sharedSecret"  >
                    <Input v-model="form.sharedSecret" />
                </FormItem>
                <FormItem label="Token" prop="token"  >
                    <Input v-model="form.token" />
                </FormItem>
                <FormItem label="Store Plan" prop="storePlan"  >
                    <Select v-model="form.storePlan" placeholder="请选择" clearable style="width: 200px">
                        <Option v-for="(item, i) in dictStorePlan" :key="i" :value="item.value">{{item.title}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="paypal 收款账号" prop="paypalAccount"  >
                    <Input v-model="form.paypalAccount" />
                </FormItem>
                <FormItem label="信用卡服务商" prop="ccGateway"  >
                    <Input v-model="form.ccGateway" />
                </FormItem>
                <FormItem label="绑定的信用卡" prop="billCc"  >
                    <Input v-model="form.billCc" />
                </FormItem>
                <FormItem label="主账号邮箱" prop="ownerEmail"  >
                    <Input v-model="form.ownerEmail" />
                </FormItem>
                <FormItem label="主账号虚拟人格名" prop="ownerFirstName"  >
                    <Input v-model="form.ownerFirstName" />
                </FormItem>
                <FormItem label="主账号虚拟人格姓" prop="ownerLastName"  >
                    <Input v-model="form.ownerLastName" />
                </FormItem>
                <FormItem label="店铺主账号密码" prop="ownerPassword"  >
                    <Input v-model="form.ownerPassword" />
                </FormItem>
                <FormItem label="主账号电话号码" prop="ownerPhone"  >
                    <Input v-model="form.ownerPhone" />
                </FormItem>
                <FormItem label="邮箱密码" prop="emailPassword"  >
                    <Input v-model="form.emailPassword" />
                </FormItem>
                <FormItem label="员工账号邮箱" prop="staffEmail"  >
                    <Input v-model="form.staffEmail" />
                </FormItem>
                <FormItem label="员工账号密码" prop="staffPassword"  >
                    <Input v-model="form.staffPassword" />
                </FormItem>
                <FormItem label="紫鸟浏览器IP" prop="superBrowserIp"   >
                    <Input v-model="form.superBrowserIp" />
                </FormItem>
                <FormItem label="addressLine1" prop="addressLine1"  >
                    <Input v-model="form.addressLine1" />
                </FormItem>
                <FormItem label="addressLine2" prop="addressLine2"  >
                    <Input v-model="form.addressLine2" />
                </FormItem>
                <FormItem label="addressZip" prop="addressZip"  >
                    <Input v-model="form.addressZip" />
                </FormItem>
                <FormItem label="addressCity" prop="addressCity"  >
                    <Input v-model="form.addressCity" />
                </FormItem>
                <FormItem label="addressProvince" prop="addressProvince"  >
                    <Input v-model="form.addressProvince" />
                </FormItem>
                <FormItem label="addressCountryRegion" prop="addressCountryRegion"  >
                    <Input v-model="form.addressCountryRegion" />
                </FormItem>
                <FormItem label="note" prop="note"  >
                    <Input v-model="form.note" />
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
        <Modal title="导入站点数据"
               v-model="importDataModel"
               :mask-closable="false"
               :width="650"
               :styles="{top: '50px'}">
            <upload-excel :before-upload="beforeUpload" :on-success="handleSuccess"></upload-excel>
            <div slot="footer">
                <Button type="primary" @click="importDataModel = false" >取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        backendAPI,
        backendGetAll,
        getBackEndStatusEnum,
        backEndUpdateStatusByIds,
        backendImport,
    } from "@/api/easeseaApi";
    import uploadExcel from "../../my-components/xboot/upload-excel";
    export default {
        name: "backEndAccountManage",
        components:{
            uploadExcel,
        },
        data() {
            const validateAdminUrl = (rule, value, callback) => {
                if(rule.required && value){
                    if(this.form.platform == "shopify"){
                        let reg = new RegExp("https://[a-zA-Z0-9-_]*.myshopify.com/admin");
                        if (!reg.test(value)) {
                            callback(new Error('admin路径不正确,正则校验失败'));
                        } else {
                            callback();
                        }
                    }else{
                        let reg = new RegExp("https://[a-zA-Z0-9-_]*.myshoplzza.com/admin");
                        if (!reg.test(value)) {
                            callback(new Error('admin路径不正确,正则校验失败'));
                        } else {
                            callback();
                        }
                    }
                }else{
                    callback("请填写后台路径");
                }
            };

            return {
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                importDataModel:false,
                updateStatusModelVisible:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                dictPlatform: this.$store.state.dict.type.platform,
                dictStorePlan: this.$store.state.dict.type.storePlan,
                dictTrueOrFalse: this.$store.state.dict.type.trueOrFalse,
                statusEnum:{},
                searchForm: {
                    storeName: null,
                    storeStatus:null,
                    platform:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    storeName:"",
                    platform:"shopify",
                    omsId:0,
                    storeStatus:0,
                    platformName:"",
                    adminUrl:"",
                    storePlan:"",
                    logoUrl:"",
                    apiKey:"",
                    token:"",
                    apiPassword:"",
                    paypalAccount:"",
                    ccGateway:"",
                    billCc:"",
                    ownerEmail:"",
                    ownerPassword:"",
                    ownerPhone:"",
                    sharedSecret:"",
                    note:"",
                    shopifyPlan:"",
                    addressLine1:"",
                    addressLine2:"",
                    addressCity:"",
                    addressZip:"",
                    addressProvince:"",
                    addressCountryRegion:"",
                    ownerFirstName:"",
                    ownerLastName:"",
                    emailPassword:"",
                    staffEmail:"",
                    staffPassword:"",
                    superBrowserIp:"",
                },
                FormValidate: {
                    storeName: [
                        { required: true, message: "站点名称不能为空", trigger:"blur" },
                    ],
                    adminUrl: [
                        { required: true, validator: validateAdminUrl, trigger:"blur" },
                    ],
                    platformName: [
                        { required: true, message: "请输入店铺名称", trigger: "change" },
                    ],
                    platform: [
                        { required: true, message: "请选择平台", trigger: "change" },
                    ]
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "ID",
                        key: "backendId",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "平台",
                        key: "platform",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "店铺别名",
                        key: "storeName",
                        width: 120
                    },
                    {
                        title: "店铺名称",
                        key: "platformName",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "创建时间",
                        key: "createdAt",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "管理后台URL",
                        key: "adminUrl",
                        width: 400,
                        align: "center"
                    },
                    {
                        title: "状态",
                        key: "storeStatus",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.storeStatus == 1) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.storeStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.storeStatus < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.storeStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.storeStatus > 1 || params.row.storeStatus == 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.storeStatus]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "apiPassword",
                        key: "apiPassword",
                        sortable: true,
                        sortType: "desc",
                        width: 300
                    },
                    {
                        title: "主账号",
                        key: "ownerEmail",
                        sortable: true,
                        sortType: "desc",
                        width: 130
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = h(
                                "Button",
                                {
                                    props: {
                                        type: "success",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.enable(params.row);
                                        }
                                    }
                                },
                                "启用"
                             );
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                                enableOrDisable,
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getStatusEnum();
                this.getDataList();
            },
            getStatusEnum(){
                getBackEndStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            beforeUpload(file) {
                const isLt1M = file.size / 1024 / 1024 < 10;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入10M以内的文件',
                    type: 'warning'
                });
                return false
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                if (!this.searchForm.storeStatus) {
                    this.searchForm.storeStatus = "";
                }
                backendAPI('get',this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            exportAllMethod(){
                backendGetAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "站点全部数据"
                            });
                        }, 1000);
                    }
                });
            },
            handleSuccess({ results, header }) {
                let flag = false;
                let message = "";
                //遍历校验
                results.forEach(function(item,i){
                    item.storeStatus = 0;
                    if(!item.platformName){
                        flag = true;
                        message = message+"第"+(i+1)+"行平台名称不能为空";
                    }
                    if(!item.adminUrl){
                        flag = true;
                        message = message+"第"+(i+1)+"行adminUrl不能为空";
                    }
                    if(!item.storeName){
                        flag = true;
                        message = message+"第"+(i+1)+"行storeName不能为空";
                    }
                });
                if(flag){
                    this.$Message.error(message);
                }
                this.$Modal.confirm({
                    title: "确认导入",
                    content: "您确认要导入模板中 " + results.length + " 条数据?",
                    onOk: () => {
                        backendImport(results).then((res)=>{
                            if(res.success){
                                this.importDataModel = false;
                                this.$Message.success({content:res.message, duration:3});
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        delete this.form.createdAt;
                        delete this.form.updatedAt;
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            backendAPI('post', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            backendAPI('put', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                this.modalType = 0;
                this.modalTitle = "添加后台站点";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                this.modalType = 1;
                this.modalTitle = "编辑后台站点";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用站点 " + v.storeName + " ?",
                    loading: true,
                    onOk: () => {
                        let param = {ids: [v.backendId], status :1};
                        backEndUpdateStatusByIds(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            exportTemplate(){
                import('@/vendor/Export2Excel').then(excel => {
                    delete this.form.storeStatus;
                    let tHeader = Object.keys(this.form);
                    let data = [];
                    excel.export_json_to_excel({
                        header: tHeader, //表头 必填
                        data, //具体数据 必填
                        filename: '导入采购单模板', //非必填
                        autoWidth: true, //非必填
                        bookType: 'xlsx' //非必填
                    });
                });
            },
            enableAll(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用所选的 " + this.selectCount + " 条数据?",
                    loading: true,
                    onOk: () => {
                        let ids = "";
                        this.selectList.forEach(function(e) {
                            ids += e.backendId + ",";
                        });
                        ids = ids.substring(0, ids.length - 1);
                        let param = {ids: ids, status :1};
                        backEndUpdateStatusByIds(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("批量启用成功");
                                this.clearSelectAll();
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            batchUpdateStatus(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
               if(this.updateStatus){
                   this.$Modal.confirm({
                       title: "确认变更",
                       content: "您确认要变更所选的 " + this.selectCount + " 条数据的状态?",
                       loading: true,
                       onOk: () => {
                           let ids = "";
                           this.selectList.forEach(function(e) {
                               ids += e.backendId + ",";
                           });
                           ids = ids.substring(0, ids.length - 1);
                           let param = {ids: ids, status : this.updateStatus};
                           backEndUpdateStatusByIds(param).then(res => {
                               this.updateStatusModelVisible = false;
                               this.$Modal.remove();
                               if (res.success) {
                                   this.$Message.success("批量更新成功");
                                   this.clearSelectAll();
                                   this.getDataList();
                               }
                           });
                       }
                   });
               }else{
                   this.$Message.warning("请选择变更状态");
               }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
