<template>
    <Form-item label="创建时间">
        <DatePicker
                type="daterange"
                v-model="selectDate"
                format="yyyy-MM-dd"
                @on-change="selectDateRange"
                placeholder="选择起始时间"
                style="width: 200px"
        ></DatePicker>
    </Form-item>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "searchDateChoose",
        props: {

        },
        data() {
            return {
                selectDate:"",
                startDate:'',
                endDate:'',
            };
        },
        methods:{
            initDate(){
                const end = moment().format("yyyy-MM-dd 00:00:00");
                const start = moment().subtract(1, 'month').format("yyyy-MM-dd 23:59:59");
                this.selectDate = [start, end];
                this.startDate = start;
                this.endDate = end;
            },
            selectDateRange(v){
                this.startDate = v[0] + " 00:00:00";
                this.endDate = v[1] + " 23:59:59";
                this.$emit("on-change", [this.startDate,this.endDate]);
            },
            resetDate(){
                this.initDate();
            }
        },
        created() {
            this.initDate();
        }
    }
</script>

<style scoped>

</style>
