<template>
    <div>
        <input ref="excel-upload-input" class="excel-upload-input" type="file" accept=".csv"
               @change="handleClick">
        </input>
        <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
            Drop excel file here or
            <Button :loading="loading" style="margin-left:16px;" size="small" type="primary" @click="handleUpload">
                Browse
            </Button>
        </div>
    </div>
</template>

<script>
    import csvtojson from "csvtojson";
    export default {
        name: "uploadCsv",
        props: {
            beforeUpload: Function, // eslint-disable-line
            onSuccess: Function// eslint-disable-line
        },
        data() {
            return {
                loading: false,
                jsonArray: [],
            }
        },
        methods: {
            generateData(jsonArray) {
                this.jsonArray = jsonArray;
                this.onSuccess && this.onSuccess(this.jsonArray)
            },
            handleDrop(e) {
                e.stopPropagation();
                e.preventDefault();
                if (this.loading) return;
                const files = e.dataTransfer.files;
                if (files.length !== 1) {
                    this.$message.error('Only support uploading one file!')
                    return
                }
                const rawFile = files[0];// only use files[0]
                if (!this.isExcel(rawFile)) {
                    this.$message.error('Only supports upload .xlsx, .xls, .csv suffix files')
                    return false
                }
                this.upload(rawFile);
                e.stopPropagation();
                e.preventDefault()
            },
            handleDragover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy'
            },
            handleUpload() {
                this.$refs['excel-upload-input'].click()
            },
            handleClick(e) {
                const files = e.target.files;
                const rawFile = files[0];// only use files[0]
                if (!rawFile) return;
                this.upload(rawFile)
            },
            upload(rawFile) {
                this.$refs['excel-upload-input'].value = null; // fix can't select the same excel
                if (!this.beforeUpload) {
                    this.readerData(rawFile);
                    return
                }
                const before = this.beforeUpload(rawFile);
                if (before) {
                    this.readerData(rawFile)
                }
            },
            readerData(rawFile) {
                this.loading = true;
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.onload = (e)=>{
                        let string = e.target.result;
                        csvtojson({delimiter:","},{encoding:"UTF-8"}).fromString(string).then((jsonArray)=>{
                            this.generateData(jsonArray);
                            this.loading = false;
                            resolve();
                        })
                    }
                    reader.readAsText(rawFile, "utf-8")
                })
            },
            isExcel(file) {
                return /\.(csv)$/.test(file.name)
            }
        }
    }
</script>

<style scoped>
    .excel-upload-input{
        display: none;
        z-index: -9999;
    }
    .drop{
        border: 2px dashed #bbb;
        width: 600px;
        height: 160px;
        line-height: 160px;
        margin: 0 auto;
        font-size: 24px;
        border-radius: 5px;
        text-align: center;
        color: #bbb;
        position: relative;
    }
</style>
