<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="账户名称" prop="name">
                        <Input
                                type="text"
                                v-model="searchForm.name"
                                clearable
                                placeholder="请输入账户名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="email" prop="email">
                        <Input
                                type="text"
                                v-model="searchForm.email"
                                clearable
                                placeholder="请输入邮箱"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="账户状态" prop="storeStatus" >
                        <Select v-model="searchForm.accountStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加账户</Button>
                <Button @click="updateStatusModelVisible = true" >批量更新状态</Button>
                <Button @click="modalExportAll = true" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="状态变更"
               v-model="updateStatusModelVisible"
               :width="500"
               :styles="{top: '30px'}"
        >
                <Select v-model="updateStatus" placeholder="请选择" clearable style="width: 300px">
                    <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                </Select>
            <div slot="footer">
                <Button type="text" @click="updateStatusModelVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdateStatus">提交</Button>
            </div>
        </Modal>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="账户名称" prop="name"  >
                    <Input v-model="form.name" />
                </FormItem>
                <FormItem label="账户邮箱" prop="email"  >
                    <Input v-model="form.email" />
                </FormItem>
                <FormItem label="密码" prop="password"  >
                    <Input v-model="form.password"  type="password"/>
                </FormItem>
                <FormItem label="PayPal Client Id" prop="paypalClientId"  >
                    <Input v-model="form.paypalClientId" />
                </FormItem>
                <FormItem label="PayPal secret" prop="paypalSecret"  >
                    <Input v-model="form.paypalSecret" />
                </FormItem>
                <FormItem label="Telphone" prop="telphone"  >
                    <Input v-model="form.telphone" />
                </FormItem>
                <FormItem label="注册时间" prop="registerAt"  >
                    <DatePicker
                            type="date"
                            :value="form.registerAt"
                            format="yyyy-MM-dd"
                            placeholder="选择起始时间"
                            style="width: 200px"
                    ></DatePicker>
                </FormItem>
                <FormItem label="note" prop="note"  >
                    <Input v-model="form.note" />
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {paypalApi} from "@/api/easeseaApi";
    import {paypalManageApi} from "@/api/easeseaApi";
    import moment from "moment";
    export default {
        name: "paypalAccountManage",
        data() {
            return {
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                updateStatusModelVisible:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                statusEnum:{},
                searchForm: {
                    name: null,
                    email:null,
                    accountStatus:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    name:"",
                    email:"",
                    password:"",
                    paypalClientId:"",
                    paypalSecret:"",
                    telphone:"",
                    registerAt:"",
                },
                FormValidate: {
                    name: [
                        { required: true, message: "账户名称不能为空", trigger:"blur" },
                    ],
                    email: [
                        { required: true, message: "邮箱账号不能为空", trigger: "blur" },
                    ],
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "name",
                        key: "name",
                        width: 200,
                        sortable: true
                    },
                    {
                        title: "email",
                        key: "email",
                        width: 260,
                        sortable: true
                    },
                    {
                        title: "注册时间",
                        key: "registerAt",
                        width: 200
                    },
                    {
                        title: "Client ID",
                        key: "paypalClientId",
                        width: 300,
                        sortable: true
                    },
                    {
                        title: "telphone",
                        key: "telphone",
                        width: 200,
                        align: "center"
                    },
                    {
                        title: "状态",
                        key: "status",
                        align: "center",
                        width: 200,
                        render: (h, params) => {
                            if (params.row.status == 1) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            } else if (params.row.status < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            } else if (params.row.status > 1 || params.row.status == 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = h(
                                "Button",
                                {
                                    props: {
                                        type: "success",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.enable(params.row);
                                        }
                                    }
                                },
                                "启用"
                             );
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                                enableOrDisable,
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getStatusEnum();
                this.getDataList();
            },
            getStatusEnum(){
                paypalManageApi.getStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                paypalApi('get',this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            exportAllMethod(){
                paypalManageApi.getAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "账户全部数据"
                            });
                        }, 1000);
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        delete this.form.createdAt;
                        delete this.form.updatedAt;
                        this.form.registerAt = moment(this.form.registerAt).format("YYYY-MM-DD");
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            paypalApi('post', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.accountModalVisible = false;
                                    this.getDataList();
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            paypalApi('put', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.accountModalVisible = false;
                                    this.getDataList();
                                }
                            });
                        }
                    }
                });
            },
            add() {
                this.modalType = 0;
                this.modalTitle = "添加后台账户";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                this.modalType = 1;
                this.modalTitle = "编辑后台账户";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                delete data.updatedAt;
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用账户 " + v.storeName + " ?",
                    loading: true,
                    onOk: () => {
                        let param = {ids: [v.paypalId], status :1};
                        paypalManageApi.batchUpdateStatus(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            batchUpdateStatus(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
               if(this.updateStatus){
                   this.$Modal.confirm({
                       title: "确认变更",
                       content: "您确认要变更所选的 " + this.selectCount + " 条数据的状态?",
                       loading: true,
                       onOk: () => {
                           let ids = "";
                           this.selectList.forEach(function(e) {
                               ids += e.paypalId + ",";
                           });
                           ids = ids.substring(0, ids.length - 1);
                           let param = {ids: ids, status : this.updateStatus};
                           paypalManageApi.batchUpdateStatus(param).then(res => {
                               this.updateStatusModelVisible = false;
                               this.$Modal.remove();
                               if (res.success) {
                                   this.$Message.success("批量更新成功");
                                   this.clearSelectAll();
                                   this.getDataList();
                               }
                           });
                       }
                   });
               }else{
                   this.$Message.warning("请选择变更状态");
               }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
