<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="批次号" prop="name">
                        <Input
                                type="text"
                                v-model="searchForm.batchId"
                                clearable
                                placeholder="请输入账户名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="创建时间" prop="createTime">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item label="状态" prop="storeStatus" >
                        <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" >导入任务</Button>
                <Button @click="exportTemplate" type="primary" >下载导入模板</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="detailColumns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="导入退款任务"
               v-model="importDataModel"
               :mask-closable="false"
               :width="650"
               :styles="{top: '50px'}">
            <upload-excel :before-upload="beforeUpload" :on-success="handleSuccess"></upload-excel>
            <div slot="footer">
                <Button type="primary" @click="importDataModel = false" >取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {paypalRefundAPI} from "@/api/easeseaApi";
    import moment from "moment";
    import uploadExcel from "../../my-components/xboot/upload-excel";
    export default {
        components:{
            uploadExcel,
        },
        name: "paypalAccountManage",
        data() {
            return {
                importDataModel:false,
                selectDate:null,
                loading: true,
                operationLoading: false,
                loadingExport: true,
                updateStatusModelVisible:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                statusEnum:{},
                searchForm: {
                    batchId:null,
                    status:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                submitLoading: false,
                columns: [
                    {
                        title: "批次号",
                        key: "batchId",
                        width: 200,
                        sortable: true
                    },
                    {
                        title: "需处理条数",
                        key: "count",
                        width: 260,
                        sortable: true
                    },
                    {
                        title: "创建时间",
                        key: "createdTime",
                        width: 200
                    },
                    {
                        title: "完成时间",
                        key: "finishedTime",
                        width: 200,
                        sortable: true
                    },
                    {
                        title: "状态",
                        key: "status",
                        align: "center",
                        width: 200,
                        render: (h, params) => {
                            if (params.row.status > 0) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            } else if (params.row.status == 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            }else if (params.row.status < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = h(
                                "Button",
                                {
                                    props: {
                                        type: "success",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.downloadDetail(params.row);
                                        }
                                    }
                                },
                                "下载结果"
                             );
                            let cancelButton = null;
                            if(params.row.status == 0){
                                cancelButton = h(
                                    "Button",
                                    {
                                        props: {
                                            type: "warning",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.cancelRequest(params.row);
                                            }
                                        }
                                    },
                                    "取消任务"
                                );
                            }
                            return h("div", [
                                cancelButton,
                                enableOrDisable,
                            ]);
                        }
                    }
                ],
                detailColumns: [
                    {
                      title:"处理批次号",
                      key:"batchId",
                    },
                    {
                        title:"明细ID",
                        key:"id",
                    },
                    {
                        title: "收款人邮箱",
                        key: "account"
                    },
                    {
                        title: "站点",
                        key: "site"
                    },
                    {
                        title: "订单号",
                        key:"orderId",
                    },
                    {
                        title: "交易号",
                        key:"captureId",
                    },
                    {
                        title: "应退金额",
                        key: "amount"
                    },
                    {
                        title: "货币类型",
                        key: "currencyCode"
                    },
                    {
                        title: "退款时间",
                        key: "finishedTime"
                    },
                    {
                        title: "退款ID",
                        key: "refundId"
                    },
                    {
                        title: "状态",
                        key: "status"
                    },
                    {
                        title: "描述",
                        key: "message"
                    }
                ],
                data: [],
                exportData:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getStatusEnum();
                this.getDataList();
            },
            getStatusEnum(){
                paypalRefundAPI.getStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                paypalRefundAPI.listPage(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            downloadDetail(row){
                let params = {batchId: row.batchId};
                paypalRefundAPI.downLoadDetail(params).then(res => {
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: row.batchId+"明细结果导出"
                            });
                        }, 1000);
                    }
                });
            },
            beforeUpload(file) {
                const isLt1M = file.size / 1024 / 1024 < 2;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入2M以内的文件',
                    type: 'warning'
                });
                return false
            },
            exportTemplate(){
                let list = [];
                import('@/vendor/Export2Excel').then(excel => {
                    let tHeader = ["账户","网站","订单号","交易号","应退金额","货币类型","平台"];
                    const filterVal = ["账户","网站","订单号","交易号","应退金额","货币类型","平台"];
                    let data = this.formatJson(filterVal, list);
                    excel.export_json_to_excel({
                        header: tHeader, //表头 必填
                        data, //具体数据 必填
                        filename: '导入退款任务模板', //非必填
                        autoWidth: true, //非必填
                        bookType: 'xlsx' //非必填
                    });
                })
            },
            handleSuccess({ results, header }) {
                let long = (results.length * 3 / 60).toFixed(2) ;
                if(header[0] != "账户" || header[1] != "网站" || header[2] != "订单号"
                    || header[3] != "交易号" || header[4] != "应退金额" || header[5] != "货币类型" || header[6] !="平台"){
                    this.$Message.error("模板表头校验失败，请使用正确模板");
                    return;
                }
                //进行数据校验
                let params = [];
                let flag = true;
                results.forEach(function(item,i){
                    let refundBody = {};
                    refundBody.captureId = item["交易号"];
                    refundBody.orderId = item["订单号"];
                    refundBody.site = item["网站"];
                    refundBody.account = item["账户"];
                    refundBody.amount = item["应退金额"];
                    refundBody.currencyCode = item["货币类型"];
                    refundBody.platform = item["平台"];
                    if(!refundBody.captureId){
                        refundBody.status = "数据校验失败";
                        refundBody.message = "缺少交易号";
                        flag = false;
                    }
                    if(!refundBody.amount || isNaN(refundBody.amount)){
                        refundBody.status = "数据校验失败";
                        refundBody.message = "金额错误";
                        flag = false;
                    }
                    if(!refundBody.currencyCode){
                        refundBody.status = "数据校验失败";
                        refundBody.message = "缺少货币类型";
                        flag = false;
                    }
                    if(!refundBody.account){
                        refundBody.status = "数据校验失败";
                        refundBody.message = "缺少收款人邮箱";
                        flag = false;
                    }
                    if(!refundBody.platform){
                        refundBody.status = "数据校验失败";
                        refundBody.message = "缺少支付平台字段";
                        flag = false;
                    }else{
                        let platform = refundBody.platform.toUpperCase();
                        if(platform != 'PAYPAL' && platform != 'WORLDPAY' && platform != 'ADYEN'){
                            refundBody.status = "数据校验失败";
                            refundBody.message = "填写的平台暂不不支持，支持的只有Paypal 和WorldPay";
                            flag = false;
                        }
                    }

                    params.push(refundBody);
                });
                if(!flag){
                    this.exportData = params;
                    setTimeout(() => {
                        this.$refs.exportTable.exportCsv({
                            filename: "校验失败结果"
                        });
                    }, 1000);
                    this.$Message.error("存在数据校验失败，正在下载校验结果");
                }else{
                    this.$Modal.confirm({
                        title: "确认导入",
                        content: "您确认要导入excel中 " + params.length + " 条数据?， 预估处理时间为" + long + "分钟",
                        onOk: () => {
                            paypalRefundAPI.batchRefund(params).then((res)=>{
                                if(res.success){
                                    this.importDataModel = false;
                                    this.$Message.success({content:res.message, duration:3});
                                    this.getDataList();
                                }
                            });
                        }
                    });
                }
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            add() {
                this.importDataModel = true;
            },
            cancelRequest(row){
                let params = {batchId: row.batchId};
                paypalRefundAPI.cancelRequest(params).then(res => {
                    if (res.success) {
                        this.$Message.success("取消处理成功");
                        this.getDataList();
                    }
                });
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    if(!v[0]){
                        this.$Message.error("请选择时间");
                        this.searchForm.startDate ='' ;
                        this.searchForm.endDate = '';
                        return;
                    }
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => {
                    if (j === 'timestamp') {
                        return parseTime(v[j])
                    } else {
                        return v[j]
                    }
                }))
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(10,'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
