<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="站点" prop="storeCode">
                        <Select v-model="searchForm.storeCode" clearable  filterable style="width: 200px">
                            <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                <span style="color:#ccc;">{{ item.storeName }}</span>
                            </Option>
                        </Select>
                    </Form-item>
                    <Form-item label="创建时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item label="search">
                        <Input
                                type="text"
                                v-model="searchForm.searchData"
                                clearable
                                placeholder="search"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
    </div>
</template>

<script>
    import {
        getCheckoutDetailList,
        getUserStoreCodes,
    } from "@/api/bu8api";
    import moment from 'moment';
    export default {
        name: "checkoutDetail",
        data() {
            return {
                loading: true,
                operationLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate: null,
                searchForm: {
                    searchData:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "checkoutId",
                        key: "checkoutId",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "storeCode",
                        key: "storeCode",
                        width: 140,
                        sortable: true
                    },
                    {
                        title: "createdAt",
                        key: "createdAt",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "sentEmail",
                        key: "sentEmail",
                        width: 120,
                        align: "center",
                        render:(h, params)=>{
                            return h('div', params.row.sentEmail == '1'? "已发送":"未发送")
                        }
                    },
                    {
                        title: "sentTime",
                        key: "sentTime",
                        sortable: true,
                        sortType: "desc",
                        width: 180
                    },
                    {
                        title: "email",
                        key: "email",
                        width: 220,
                        sortable: true
                    },
                    {
                        title: "ordersCount",
                        key: "ordersCount",
                        sortable: true,
                        width: 140
                    },
                    {
                        title: "country",
                        key: "country",
                        sortable: true,
                        width: 140
                    },
                    {
                        title: "totalPrice",
                        key: "totalPrice",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "name",
                        key: "name",
                        width: 180
                    },
                    {
                        title: "recoveredTime",
                        key: "recoveredTime",
                        width: 180
                    },
                ],
                data: [],
                storeCodes:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDataList();
                this.getStoreCodes();
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        this.storeCodes = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                if (!this.searchForm.storeStatus) {
                    this.searchForm.storeStatus = "";
                }
                getCheckoutDetailList(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 00:00:00");
                const start = moment().subtract(1,'month').format("YYYY-MM-DD 23:59:59");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.getDates();
            this.init();
        }
    }
</script>
