<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="150" class="search-form">
                    <Form-item label="以图搜图" prop="avatar">
                        <upload-pic-input-new ref="searchImage"></upload-pic-input-new>
                    </Form-item>
                    <Form-item label="类目" prop="categoryId">
                        <Select v-model="searchForm.categoryId" placeholder="请选择" clearable style="width: 260px">
                            <Option value="0">上衣 Tops</Option>
                            <Option value="1">裙装 Dress</Option>
                            <Option value="2">下装 Bottoms</Option>
                            <Option value="3">包 Bag</Option>
                            <Option value="4">鞋 Shoes</Option>
                            <Option value="5">配饰 Accessories</Option>
                            <Option value="6">零食 Snacks</Option>
                            <Option value="7">美妆 Makeups</Option>
                            <Option value="8">瓶饮 Bottle drink</Option>
                            <Option value="9">家具 Furniture</Option>
                            <Option value="20">玩具 Toy</Option>
                            <Option value="21">内衣 Underwear</Option>
                            <Option value="22">数码硬件 Digital device</Option>
                            <Option value="88888888">其他 Others</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="进行主体识别" prop="categoryId">
                        <Select v-model="searchForm.crop" placeholder="请选择" clearable style="width: 200px">
                            <Option value="0">否</Option>
                            <Option value="1">是</Option>
                        </Select>
                    </Form-item>

                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        :page-size-opts="[100,50,20]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
            <Row>
                <div class="imageDiv">
                    <viewer :images="data"  style="display: table-cell;width: 100%;">
                        <img v-for="item in data" v-lazy="'https://'+item.customContent+'.com/image_cache/resize/200x200/image/'+item.picName" :key="item.productId" style="margin:12px">
                    </viewer>
                </div>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        :page-size-opts="[100,50,20]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
    </div>
</template>

<script>
    import uploadPicInputNew from "../my-components/xboot/upload-pic-input-new";
    import {chooseProductApi} from  "@/api/easeseaApi";
    import 'viewerjs/dist/viewer.css'
    import Viewer from "v-viewer/src/component.vue"
    export default {
        name: "searchImage.vue",
        components: {
            uploadPicInputNew,
            Viewer,
        },
        data(){
            return {
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                total: 0,
                searchForm:{
                    base64:"",
                    categoryId:null,
                    crop:"0",
                },
                data:[]
            }
        },
        methods:{
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            getImageList(){
                this.searchForm.base64 = this.$refs.searchImage.getBase64();
                if(this.searchForm.base64){
                    chooseProductApi.searchImages(this.searchForm).then((res)=>{
                        if(res.success){
                            this.data = res.result.records;
                            this.total = res.result.total;
                        }
                    });
                }else{
                    this.$Message.warning("请先上传图片");
                }
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getImageList();
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 100;
                this.getImageList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 100;
            },
        }
    }
</script>

<style scoped>

</style>
