<template>
  <Row>
    <Card>
      <Row>
        <p class="sub-header">整体数据</p>
      </Row>
      <Row>
        <Col :md="6" :lg="6" >
          <line-charts ref="sales" id="sales" width="100%"></line-charts>
        </Col>
        <Col :md="6" :lg="6" >
          <line-charts ref="orderNumber" id="orderNumber" width="100%"></line-charts>
        </Col>
        <Col :md="6" :lg="6" >
          <line-charts ref="productNumber" id="productNumber" width="100%"></line-charts>
        </Col>
        <Col :md="6" :lg="6" >
          <line-charts ref="storeLine" id="storeLine" width="100%"></line-charts>
        </Col>
      </Row>
    </Card>
  </Row>
</template>

<script>
    import lineCharts from "./compoments/lineCharts";
    import doughnutCharts from "./compoments/doughnutCharts";
    import rateCharts from "./compoments/rateCharts";
    import radarCharts from "./compoments/radarCharts";
    import moment from "moment";
    import biServerAPI from "@/api/bi";

    export default {//接受父组件传递来的数据
        name: "baseDashBoard.vue",
        components:{
          lineCharts,
          doughnutCharts,
          rateCharts,
          radarCharts,
        },
        props: {
            groupName: {
                type: String,
                default: null
            },
        },
        data(){
            return {

            }
        },
        mounted() {
            const vm = this;
            vm.$nextTick(()=> {
                vm.init();
            })
        },
        methods:{
          init(){
            this.loadData();
            setInterval(this.loadData, 5000 *60);
          },
          loadData(){
            this.getSaleStatics();
            this.getSaleAmount();
            this.getOrderLineCharts();
            this.getOrderCountAndPrice();
            this.getProductLineCharts();
            this.getProductCountAndPrice();
            this.getStoreLineChart();
            this.getStoreCountAndPrice();
          },
          buildChartData(listResult, type){
            let seriesArray = [];
            let set = new Set();
            let setName = new Set();
            let dataMap = {};
            let chartData = {};
            listResult.forEach((item)=>{
              set.add(item.x);
              if(item.name){
                setName.add(item.name);
                dataMap[item.x + item.name] = Number(item.y);
              }else {
                dataMap[item.x] = Number(item.y);
              }
            });
            let x = Array.from(set);
            let nameArray = Array.from(setName);
            if(nameArray.length > 0){
              let nameObj = {};
              nameArray.forEach((name, index)=>{
                let seriesObj = {};
                seriesObj.name = name;
                seriesObj.type = type;
                seriesObj.data = [];
                seriesObj.connectNulls = true;
                nameObj[name] = seriesObj;
                seriesArray.push(seriesObj);
              });
              x.forEach((xValue,index)=>{
                nameArray.forEach((name, index)=>{
                  let key = xValue + name;
                  let seriesObj = nameObj[name];
                  seriesObj.data.push(dataMap[key]);
                })
              });
            }else{
              let seriesObj = {};
              seriesObj.name = "default";
              seriesObj.data = [];
              seriesObj.type = type;
              seriesObj.connectNulls = true;
              x.forEach((xValue,index)=>{
                seriesObj.data[index] = dataMap[x];
              });
              seriesArray.push(seriesObj);
            }
            chartData.category = x;
            chartData.legend = nameArray;
            chartData.series = seriesArray;
            return chartData;
          },
          getParam(){
            if(!this.groupName){
              return {startDate:moment().format("YYYY-MM-DD HH:mm:ss"), endDate:moment().format("YYYY-MM-DD HH:mm:ss")};
            }else{
              return {startDate:moment().format("YYYY-MM-DD HH:mm:ss"), endDate:moment().format("YYYY-MM-DD HH:mm:ss"), groupName:this.groupName};
            }
          },
          getSaleStatics(){
            let that = this;
            let param = that.getParam();
            param.startDate = moment().subtract(1, 'day').format("YYYY-MM-DD HH:mm:ss");
            that.$refs.sales.initChart();
            biServerAPI.getSaleStaticsByHour(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.length > 0){
                  let chartDate = that.buildChartData(res.result, "line");
                  that.$refs.sales.reDraw(chartDate);
                }else{
                  that.$refs.sales.noDataMethod();
                }
              }else{
                that.$refs.sales.noDataMethod();
              }
            });
          },
          getSaleAmount(){
            let that = this;
            let param = that.getParam();
            param.startDate = moment().subtract(1, 'day').format("YYYY-MM-DD HH:mm:ss");
            biServerAPI.getSaleAmountTotal(param).then((res)=>{
              if(res.success){
                let i = 0;
                let title="";
                for(let key in res.result){
                  if(key == moment().subtract(16,'hour').format("YYYY-MM-DD")){
                    title += "今日:$";
                  }else{
                    title += "昨日:$";
                  }
                  title += this.formatNumber(Number(res.result[key])) +"\n";
                  i++;
                }
                that.$refs.sales.setTitle(title);
              }
            });
          },
          formatNumber(strNum){
            if (strNum.length <= 3) {
              return strNum
            }
            if (!/^(\+|-)?(\d+)(\.\d+)?$/.test(strNum)) {
              return strNum
            }
            let a = RegExp.$1;

            let b = RegExp.$2;

            let c = RegExp.$3;
            let re = new RegExp();
            re.compile('(\\d)(\\d{3})(,|$)')
            while (re.test(b)) {
              b = b.replace(re, '$1,$2$3')
            }
            return a + '' + b + '' + c
          },
          getOrderLineCharts(){
            let that = this;
            let param = that.getParam();
            that.$refs.orderNumber.initChart();
            biServerAPI.getOrderByHour(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.length > 0){
                  let chartDate = that.buildChartData(res.result, "line");
                  that.$refs.orderNumber.reDraw(chartDate);
                }else{
                  that.$refs.orderNumber.noDataMethod();
                }
              }
            })
          },
          getOrderCountAndPrice(){
            let that = this;
            let param = that.getParam();
            biServerAPI.getSumOrderAndPrice(param).then((res)=>{
              if(res.success){
                let title = "";
                if(res.result && res.result.count && res.result.price){
                  title += "订单数:" + this.formatNumber(Number(res.result.count)) +'个\n';
                  title += "客单价:$" + this.formatNumber(Number(res.result.price));
                  that.$refs.orderNumber.setTitle(title);
                }
              }
            })
          },
          getProductLineCharts(){
            let that = this;
            let param = that.getParam();
            that.$refs.productNumber.initChart();
            biServerAPI.getProductByHour(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.length > 0){
                  let chartData = that.buildChartData(res.result, "line");
                  that.$refs.productNumber.reDraw(chartData);
                }else{
                  that.$refs.productNumber.noDataMethod();
                }
              }
            })
          },
          getProductCountAndPrice(){
            let that = this;
            let param = that.getParam();
            biServerAPI.countProductAndAvgPrice(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.count && res.result.price) {
                  let title = "";
                  title += "商品数:" + this.formatNumber(Number(res.result.count)) + '个\n';
                  title += "商品均价:$" + this.formatNumber(Number(res.result.price));
                  that.$refs.productNumber.setTitle(title);
                }
              }
            })
          },
          getStoreLineChart(){
            let that = this;
            let param = this.getParam();
            that.$refs.storeLine.initChart();
            biServerAPI.getStoreByHour(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.length > 0){
                  let chartDate = that.buildChartData(res.result, "line");
                  that.$refs.storeLine.reDraw(chartDate);
                }else{
                  that.$refs.storeLine.noDataMethod();
                }
              }
            })
          },
          getStoreCountAndPrice(){
            let that = this;
            let param = that.getParam();
            biServerAPI.countStoreAndAvgPrice(param).then((res)=>{
              if(res.success){
                if(res.result && res.result.count && res.result.price) {
                  let title = "";
                  title += "销售网站数:" + this.formatNumber(Number(res.result.count)) + '个\n';
                  title += "销售均价:$" + this.formatNumber(Number(res.result.price));
                  that.$refs.storeLine.setTitle(title);
                }
              }
            })
          },
        }
    }
</script>

<style scoped>

</style>

