.Card {
  overflow: visible !important;
}
.body-header{
  font-size: 17px;
  font-weight: 500;
}
.sub-header{
  font-size: 15px;
  font-weight: 500;
}
.top_table th, td{
  font-size: 8px !important;
}
.split-right{
  border-right: 3px solid #bbbbbb !important;
}
.ivu-table-cell{
  padding-left:2px;
  padding-rigth:2px
}
