<style lang="less">
  @import "bi.less";
</style>
<template>
  <Row>
    <Card :padding="0">
      <Row class="body-header">
        <Col :lg="18">
            <span >参谋部实时数据看板</span>
        </Col>
        <Col :lg="6">
          <span >{{currentTime}}</span>
        </Col>
      </Row>
    </Card>
    <base-dashboard></base-dashboard>
    <Row>
        <Col :md="10" :lg="10" >
          <Card>
            <Row>
              <p class="sub-header">每小时销售额</p>
            </Row>
            <Row>
              <line-charts ref="bigSale" id="bigSale" width="100%" height="300px"></line-charts>
            </Row>
          </Card>
        </Col>
        <Col :md="8" :lg="8">
          <Card>
            <Row>
              <p class="sub-header">订单数趋势</p>
            </Row>
            <Row>
              <line-charts ref="bigOrder" id="bigOrder" width="100%" height="300px"></line-charts>
            </Row>
          </Card>
        </Col>
        <Col :md="6" :lg="6">
          <Card>
            <Row>
              <p class="sub-header">各组销售占比</p>
            </Row>
            <Row>
              <doughnut-charts ref="groupRate" id="groupRate" width="100%" height="250px"></doughnut-charts>
            </Row>
          </Card>
        </Col>
      </Row>
      <Row>
        <Col :lg="6">
          <Card>
            <Row>
              <p class="sub-header">各小组销售额TOP10</p>
            </Row>
            <Row>
              <rate-charts ref="subGroupSaleTop" id="subGroupSaleTop" width="100%"  height="250px"></rate-charts>
            </Row>
          </Card>
        </Col>
        <Col :lg="6">
          <Card>
            <Row>
              <p class="sub-header">网站销售额TOP10</p>
            </Row>
            <Row>
              <rate-charts ref="topVendor" id="topVendor" width="100%" height="250px"></rate-charts>
            </Row>
          </Card>
        </Col>
        <Col :lg="6">
          <Card>
            <Row>
              <p class="sub-header">SPU销售TOP10</p>
            </Row>
            <Row>
              <radar-charts ref="SPUTOP" id="SPUTOP" width="100%" height="250px"></radar-charts>
            </Row>
          </Card>
        </Col>
        <Col :lg="6">
          <Card>
            <Row>
              <p class="sub-header">分类销售</p>
            </Row>
            <Row>
              <radar-charts ref="CategoryTop" id="CategoryTop" width="100%" height="250px"></radar-charts>
            </Row>
          </Card>
        </Col>
      </Row>
    </Row>
</template>
<script>
  import lineCharts from "./compoments/lineCharts";
  import doughnutCharts from "./compoments/doughnutCharts";
  import rateCharts from "./compoments/rateCharts";
  import radarCharts from "./compoments/radarCharts";
  import baseDashboard from "./baseDashboard";
  import moment from "moment";
  import biServerAPI from "@/api/bi";

  export default {
    name: "bossDashboard.vue",
    components:{
      lineCharts,
      doughnutCharts,
      rateCharts,
      radarCharts,
      baseDashboard,
    },
    data() {
      let type = this.$store.state.user.type;
      return {
        type,
        currentTime:'',
      }
    },
    methods:{
      init(){
        this.showTime();
        this.loadData();
        setInterval(this.loadData, 5000 *60);
      },
      loadData(){
        this.getSaleStatics();
        this.getOrderLineCharts();
        this.getDayToDayTitle();
        this.getGroupRate();
        this.getTopSubGroupSale();
        this.getTopVendor();
        this.getTOPSPU();
        this.getCategoryTop();
      },
      showTime(){
        this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        setInterval(()=>{
          this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        }, 1000);
      },
      buildChartData(listResult, type){
        let seriesArray = [];
        let set = new Set();
        let setName = new Set();
        let dataMap = {};
        let chartData = {};
        listResult.forEach((item)=>{
          set.add(item.x);
          if(item.name){
            setName.add(item.name);
            dataMap[item.x + item.name] = Number(item.y);
          }else {
            dataMap[item.x] = Number(item.y);
          }
        });
        let x = Array.from(set);
        let nameArray = Array.from(setName);
        if(nameArray.length > 0){
          let nameObj = {};
          nameArray.forEach((name, index)=>{
            let seriesObj = {};
            seriesObj.name = name;
            seriesObj.type = type;
            seriesObj.data = [];
            seriesObj.connectNulls = true;
            nameObj[name] = seriesObj;
            seriesArray.push(seriesObj);
          });
          x.forEach((xValue,index)=>{
            nameArray.forEach((name, index)=>{
              let key = xValue + name;
              let seriesObj = nameObj[name];
              seriesObj.data.push(dataMap[key]);
            })
          });
        }else{
          let seriesObj = {};
          seriesObj.name = "default";
          seriesObj.data = [];
          seriesObj.type = type;
          seriesObj.connectNulls = true;
          x.forEach((xValue,index)=>{
            seriesObj.data[index] = dataMap[x];
          });
          seriesArray.push(seriesObj);
        }
        chartData.category = x;
        chartData.legend = nameArray;
        chartData.series = seriesArray;
        return chartData;
      },
      getParam(){
        return {startDate:moment().format("YYYY-MM-DD HH:mm:ss"), endDate:moment().format("YYYY-MM-DD HH:mm:ss")};
      },
      getSaleStatics(){
        let that = this;
        let param = that.getParam();
        param.startDate = moment().subtract(1, 'day').format("YYYY-MM-DD HH:mm:ss");
        that.$refs.bigSale.initChart();
        biServerAPI.getSaleStaticsByHour(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartDate = that.buildChartData(res.result, "line");
              chartDate.series.forEach((item, index)=>{
                if(index == chartDate.series.length -1){
                  item.label = {show: true,
                                formatter: function(a) {
                                  return a.value.toLocaleString()
                                }};
                }
              });
              that.$refs.bigSale.reDraw(chartDate);
            }else{
              that.$refs.bigSale.noDataMethod();
            }
          }else{
            that.$refs.bigSale.noDataMethod();
          }
        });
      },
      formatNumber(strNum){
          if (strNum.length <= 3) {
            return strNum
          }
          if (!/^(\+|-)?(\d+)(\.\d+)?$/.test(strNum)) {
            return strNum
          }
          let a = RegExp.$1;

          let b = RegExp.$2;

          let c = RegExp.$3;
          let re = new RegExp();
          re.compile('(\\d)(\\d{3})(,|$)')
          while (re.test(b)) {
            b = b.replace(re, '$1,$2$3')
          }
          return a + '' + b + '' + c
      },
      getOrderLineCharts(){
        let that = this;
        let param = that.getParam();
        that.$refs.bigOrder.initChart();
        biServerAPI.getOrderByHour(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartDate = that.buildChartData(res.result, "line");
              chartDate.series.forEach((item)=>{
                item.type = "bar";
                item.label = {show:true};
              });
              that.$refs.bigOrder.reDraw(chartDate);
            }else{
              that.$refs.bigOrder.noDataMethod();
            }
          }
        })
      },
      getDayToDayTitle(){
        let that = this;
        let param = that.getParam();
        param.startDate = moment().subtract(1, 'day').format("YYYY-MM-DD HH:mm:ss");
        biServerAPI.getDayToDayValue(param).then((res)=>{
          if(res.success && res.result){
            let title = "同比:" + res.result + "%";
            that.$refs.bigSale.setTitle(title);
          }
        })
      },
      getGroupRate(){
        let that = this;
        let param = that.getParam();
        that.$refs.groupRate.initChart();
        biServerAPI.getGroupRate(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartData = {legend:[], data:[]};
              res.result.forEach((item)=>{
                let data = {name:item.x, value:Number(item.y)};
                chartData.legend.push(item.name);
                chartData.data.push(data);
              });
              that.$refs.groupRate.reDraw(chartData);
            }else{
              that.$refs.groupRate.noDataMethod();
            }
          }
        });
      },
      getTopSubGroupSale(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.subGroupSaleTop.initChart();
        biServerAPI.getTopSaleSubGroup(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartData = {category: [], data:[]};
              res.result.forEach((item)=>{
                chartData.category.push(item.x);
                chartData.data.push(Number(item.y));
              });
              chartData.category.reverse();
              chartData.data.reverse();
              that.$refs.subGroupSaleTop.reDraw(chartData);
            }else{
              that.$refs.subGroupSaleTop.noDataMethod();
            }
          }
        });
      },
      getTopVendor(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.topVendor.initChart();
        biServerAPI.getTopVendor(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartData = {category: [], data:[]};
              res.result.forEach((item)=>{
                chartData.category.push(item.x);
                chartData.data.push(Number(item.y));
              });
              chartData.category.reverse();
              chartData.data.reverse();
              that.$refs.topVendor.reDraw(chartData);
              that.$refs.topVendor.initClickEvent();
            }else{
              that.$refs.topVendor.noDataMethod();
            }
          }
        });
      },
      getTOPSPU(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.SPUTOP.initChart();
        biServerAPI.getTopSpuPrice(param).then((res)=>{
          if(res.success ){
            if(res.result && res.result.length > 0){
              let chartData = {indicator: [], data:[]};
              let maxValue = 0;
              res.result.forEach((item)=>{
                if(Number(item.y) > Number(maxValue)){
                  maxValue = item.y;
                }
                chartData.data.push(Number(item.y));
              });
              res.result.forEach((item)=>{
                let obj = {text:item.x, max: maxValue};
                chartData.indicator.push(obj);
              });
              that.$refs.SPUTOP.reDraw(chartData);
            }else{
              that.$refs.SPUTOP.noDataMethod();
            }
          }
        })
      },
      getCategoryTop(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.CategoryTop.initChart();
        biServerAPI.getTopCategory(param).then((res)=>{
          if(res.success ){
            if(res.result && res.result.length > 0){
              let chartData = {indicator: [], data:[]};
              let maxValue = 0;
              res.result.forEach((item)=>{
                if(Number(item.y) > Number(maxValue)){
                  maxValue = item.y;
                }
                chartData.data.push(Number(item.y));
              });
              res.result.forEach((item)=>{
                let obj = {text:item.x, max: maxValue};
                chartData.indicator.push(obj);
              });
              that.$refs.CategoryTop.reDraw(chartData);
            }else{
              that.$refs.CategoryTop.noDataMethod();
            }
          }
        })
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

