<style lang="less">
  @import "bi.less";
</style>
<template>
  <Row>
    <Card :padding="0">
      <Row class="body-header">
        <Col :lg="18">
          <span >参谋部SPU数据看板</span>
        </Col>
        <Col :lg="6">
          <span >{{currentTime}}</span>
        </Col>
      </Row>
    </Card>
    <Row >
      <Table
              v-loading="loading"
              border
              :data="data"
              :columns="dataColumns"
              class="top_table"
      >
      </Table>
    </Row>
  </Row>
</template>

<script>
  import biServerAPI from "@/api/bi";
  import moment from "moment";
  export default {
    name: "bossSpuTop.vue",
    data() {
      let {
        currentUserId,
        name,
        groupId,
        groupName,
        isSuperAdmin,
      } = this.$store.state.user;
      return {
        currentUserId,
        name,
        groupId,
        groupName,
        isSuperAdmin,
        loading:true,
        size : 30,
        topData:{},
        data:[],
        currentTime:'',
        dataColumns:[
          {
            title: "SPU",
            key: "spu",
          },
          {
            title: "销量最高网站",
            key: "vendor",
            render:(h, params)=>{
              return h("a",{
                domProps:{
                  href:params.row.vendor,
                  target:'_blank',
                }
              }, params.row.vendor);
            }
          },
          {
            title: "姓名",
            key: "teamleader",
          },
          {
            title: "今日销量",
            key: "spuQty",
          },{
            title: "昨日销量",
            key: "preSpuQty",
          },
          {
            title: "涨幅",
            key: "incRatio30",
          },
          {
            title: "SPU",
            key: "spu30",
          },
          {
            title: "销量最高网站",
            key: "vendor30",
            render:(h, params)=>{
              return h("a",{
                domProps:{
                  href:params.row.vendor30,
                  target:'_blank',
                }
              }, params.row.vendor30);
            }
          },
          {
            title: "姓名",
            key: "teamleader30",
          },
          {
            title: "今日销量",
            key: "spuQty30",
          },{
            title: "昨日销量",
            key: "preSpuQty30",
          },
          {
            title: "涨幅",
            key: "incRatio30",
          },{
            title: "SPU",
            key: "spu60",
          },
          {
            title: "销量最高网站",
            key: "vendor60",
            render:(h, params)=>{
              return h("a",{
                domProps:{
                  href:params.row.vendor60,
                  target:'_blank',
                }
              }, params.row.vendor60);
            }
          },
          {
            title: "姓名",
            key: "teamleader60",
          },
          {
            title: "今日销量",
            key: "spuQty60",
          },{
            title: "昨日销量",
            key: "preSpuQty60",
          },
          {
            title: "涨幅",
            key: "incRatio60",
          },
          {
            title: "SPU",
            key: "spu90",
          },
          {
            title: "销量最高网站",
            key: "vendor90",
            render:(h, params)=>{
              return h("a",{
                domProps:{
                  href:params.row.vendor90,
                  target:'_blank',
                }
              }, params.row.vendor90);
            }
          },
          {
            title: "姓名",
            key: "teamleader90",
          },
          {
            title: "今日销量",
            key: "spuQty90",
          }
        ]
      }
    },
    methods:{
      init(){
        this.showTime();
        this.loadData();
      },
      loadData(){
        Promise.all([this.getTop90Sales(), this.getNewTop30Sales()]).then(()=>{
          this.data = this.topData[0];
          for(let j=1; j<=3; j++){
            this.buildObje(this.data,j*this.size);
          }
          this.loading = false;
        });
      },
      showTime(){
        this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        setInterval(()=>{
          this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        }, 1000);
      },
      buildObje(temp, j){
        if(this.topData[j]){
           this.topData[j].forEach((item, i)=>{
             temp[i]["spu"+j] = item.spu;
             temp[i]["vendor"+j] = item.vendor;
             temp[i]["teamleader"+j] = item.teamleader;
             temp[i]["spuQty"+j] = item.spuQty;
             temp[i]["preSpuQty"+j] = item.preSpuQty;
             temp[i]["incRatio"+j] = item.incRatio;
          });
        }
      },
      getTop90Sales(){
        let param = {startDate:moment().format("YYYY-MM-DD HH:mm:ss"),endDate:moment().format("YYYY-MM-DD HH:mm:ss"), limit:90};
        return biServerAPI.getTop90Sales(param).then((res)=>{
          if(res.success){
            this.initData(res.result);
          }
          return
        })
      },
      initData(list){
        this.topData[0] = list.slice(0, 0+this.size);
        this.topData[30] = list.slice(30, 30+this.size);
        this.topData[60] = list.slice(60, 60+this.size);
      },
      getNewTop30Sales(){
        let param = {startDate:moment().format("YYYY-MM-DD HH:mm:ss"),endDate:moment().format("YYYY-MM-DD HH:mm:ss"), limit:30};
        return biServerAPI.getNewTop30Sales(param).then((res)=>{
          if(res.success){
            this.topData[90] = res.result;
          }
          return
        })
      }
    },
    mounted() {
      this.init();
    }
  }
</script>

