<style lang="less">
  @import "bi.less";
</style>
<template>
  <Row>
    <Card :padding="0">
      <Row  class="body-header">
        <Col :lg="18">
          <span>参谋部商品实时数据看板</span>
        </Col>
        <Col :lg="6">
          <span >{{currentTime}}</span>
        </Col>
      </Row>
    </Card>
    <base-dashboard></base-dashboard>

    <Row>
        <Col :md="8" :lg="8" >
          <Card>
            <Row>
              <p class="sub-header">分类销售额</p>
            </Row>
            <Row>
              <rate-charts ref="topCategory" id="topCategory" width="100%" height="600px"></rate-charts>
            </Row>
          </Card>
        </Col>
        <Col :md="8" :lg="8">
          <Card>
            <Row>
              <p class="sub-header">TOP网站销售</p>
            </Row>
            <Row>
              <rate-charts ref="topVendor" id="topVendor" width="100%" height="600px"></rate-charts>
            </Row>
          </Card>
        </Col>
        <Col :md="8" :lg="8">
          <Card>
            <Row>
              <p class="sub-header">TOP SPU销售</p>
            </Row>
            <Row>
              <rate-charts ref="topSPU" id="topSPU" width="100%" height="600px"></rate-charts>
            </Row>
          </Card>
        </Col>
      </Row>
    </Row>
</template>
<script>
  import lineCharts from "./compoments/lineCharts";
  import doughnutCharts from "./compoments/doughnutCharts";
  import rateCharts from "./compoments/rateCharts";
  import radarCharts from "./compoments/radarCharts";
  import baseDashboard from "./baseDashboard";
  import biServerAPI from "@/api/bi";
  import moment from "moment";


  export default {
    name: "bossSpuDashboard.vue",
    components:{
      lineCharts,
      doughnutCharts,
      rateCharts,
      radarCharts,
      baseDashboard
    },
    data() {
      let type = this.$store.state.user.type;
      return {
        type,
        currentTime:'',
      }
    },
    methods:{
      init(){
        this.showTime();
        this.loadData();
      },
      loadData(){
        this.getTopVendor();
        this.getTOPSPU();
        this.getCategoryTop();
      },
      showTime(){
        this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        setInterval(()=>{
          this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        }, 1000);
      },
      getParam(){
         return {startDate:moment().format("YYYY-MM-DD HH:mm:ss"), endDate:moment().format("YYYY-MM-DD HH:mm:ss")};
      },
      formatNumber(strNum){
        if (strNum.length <= 3) {
          return strNum
        }
        if (!/^(\+|-)?(\d+)(\.\d+)?$/.test(strNum)) {
          return strNum
        }
        let a = RegExp.$1;

        let b = RegExp.$2;

        let c = RegExp.$3;
        let re = new RegExp();
        re.compile('(\\d)(\\d{3})(,|$)')
        while (re.test(b)) {
          b = b.replace(re, '$1,$2$3')
        }
        return a + '' + b + '' + c
      },
      getTopVendor(){
        let that = this;
        let param = this.getParam();
        param.limit = 20;
        that.$refs.topVendor.initChart();
        biServerAPI.getTopVendor(param).then((res)=>{
          if(res.success && res.result){
            let chartData = that.buildLineChartData(res.result);
            that.$refs.topVendor.reDraw(chartData);
            that.$refs.topVendor.initClickEvent();
          }else{
            that.$refs.topVendor.noDataMethod();
          }
        });
      },
      getTOPSPU(){
        let that = this;
        let param = this.getParam();
        param.limit = 20;
        that.$refs.topSPU.initChart();
        biServerAPI.getTopSpuPrice(param).then((res)=>{
          if(res.success && res.result){
            let chartData = that.buildLineChartData(res.result);
            that.$refs.topSPU.reDraw(chartData);
          }else{
            that.$refs.topSPU.noDataMethod();
          }
        })
      },
      getCategoryTop(){
        let that = this;
        let param = this.getParam();
        param.limit = 20;
        that.$refs.topCategory.initChart();
        biServerAPI.getTopCategory(param).then((res)=>{
          if(res.success && res.result){
            let chartData = that.buildLineChartData(res.result);
            that.$refs.topCategory.reDraw(chartData);
          }else{
            that.$refs.topCategory.noDataMethod();
          }
        })
      },
      buildLineChartData(list){
        if(list && list.length >0){
          let chartData = {category: [], data:[]};
          list.forEach((item)=>{
            chartData.category.push(item.x);
            chartData.data.push(Number(item.y));
          });
          chartData.category.reverse();
          chartData.data.reverse();
          return chartData;
        }
      }
    },
    mounted() {
      this.init();
    }
  }
</script>


