<style lang="less">
  @import "bi.less";
</style>
<template>
  <Row>
    <Card :padding="0">
      <Row class="body-header">
        <Col :lg="18">
          <span >实时数据看板</span>
          <Select v-if="chooseGroup" v-model="groupName" @on-change="changeMethod" placeholder="请选择大组" filterable  style="width: 200px">
            <Option v-for="(item) in marketGroup" v-bind:key="item" :value="item">
              {{ item }}
            </Option>
          </Select>
        </Col>
        <Col :lg="6">
          <span >{{currentTime}}</span>
        </Col>
      </Row>
    </Card>
    <base-dashboard :groupName="groupName" v-if="showCharts"></base-dashboard>
    <Row  v-if="showCharts">
        <Col :md="10" :lg="10" >
          <Row>
            <Card>
              <Row>
                <p class="sub-header">每小时销售额</p>
              </Row>
              <Row>
                <line-charts ref="bigSale" id="bigSale" width="100%" height="300px"></line-charts>
              </Row>
            </Card>
          </Row>
          <Row>
            <Col :md="12" :lg="12" >
              <Card>
                <Row>
                  <p class="sub-header">品类销售</p>
                </Row>
                <Row>
                  <radar-charts ref="CategoryTop" id="CategoryTop" width="100%" height="200px"></radar-charts>
                </Row>
              </Card>
            </Col>
            <Col :md="12" :lg="12" >
              <Card>
                <Row>
                  <p class="sub-header">小组销售</p>
                </Row>
                <Row>
                  <rate-charts ref="subGroupSale" id="subGroupSale" width="100%" height="200px"></rate-charts>
                </Row>
              </Card>
            </Col>
          </Row>
        </Col>
        <Col :md="7" :lg="7" >
          <Card>
            <Row>
              <p class="sub-header">TOP网站销售</p>
            </Row>
            <Row>
              <rate-charts ref="topVendor" id="topVendor" width="100%" height="600px"></rate-charts>
            </Row>
          </Card>
        </Col>
        <Col :md="7" :lg="7" >
          <Card>
            <Row>
              <p class="sub-header">TOP SPU销量</p>
            </Row>
            <Row>
              <rate-charts ref="topSPU" id="topSPU" width="100%" height="600px"></rate-charts>
            </Row>
          </Card>
        </Col>
      </Row>
    </Row>
</template>
<script>
  import lineCharts from "./compoments/lineCharts";
  import doughnutCharts from "./compoments/doughnutCharts";
  import rateCharts from "./compoments/rateCharts";
  import radarCharts from "./compoments/radarCharts";
  import baseDashboard from "./baseDashboard";
  import biServerAPI from "@/api/bi";
  import moment from "moment";

  export default {
    name: "groupDashboard.vue",
    components:{
      lineCharts,
      doughnutCharts,
      rateCharts,
      radarCharts,
      baseDashboard
    },
    data() {
      let type = this.$store.state.user.type;
      return {
        type,
        groupName:"",
        currentTime:'',
        chooseGroup: false,
        showCharts: false,
        marketGroup:[],
      }
    },
    methods:{
      init(){
       this.showTime();
       this.showCharts = false;
       this.getGroupTree();
      },
      changeMethod(){
        this.showCharts = true;
        setTimeout(this.loadData,200);
        this.$refs.baseDashboard.loadData();
      },
      loadData(){
        this.getSaleStatics();
        this.getDayToDayTitle();
        this.getTopSubGroupSale();
        this.getTopVendor();
        this.getTOPSPU();
        this.getCategoryTop();
      },
      showTime(){
        this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        setInterval(()=>{
          this.currentTime = moment().utcOffset(-8).format("YYYY-MM-DD HH:mm:ss");
        }, 1000);
      },
      getParam(){
        return {startDate:moment().format("YYYY-MM-DD HH:mm:ss"), endDate:moment().format("YYYY-MM-DD HH:mm:ss"),
          groupName:this.groupName, subGroupName: this.groupName + this.name}
      },
      buildChartData(listResult, type){
        let seriesArray = [];
        let set = new Set();
        let setName = new Set();
        let dataMap = {};
        let chartData = {};
        listResult.forEach((item)=>{
          set.add(item.x);
          if(item.name){
            setName.add(item.name);
            dataMap[item.x + item.name] = Number(item.y);
          }else {
            dataMap[item.x] = Number(item.y);
          }
        });
        let x = Array.from(set);
        let nameArray = Array.from(setName);
        if(nameArray.length > 0){
          let nameObj = {};
          nameArray.forEach((name, index)=>{
            let seriesObj = {};
            seriesObj.name = name;
            seriesObj.type = type;
            seriesObj.data = [];
            seriesObj.connectNulls = true;
            nameObj[name] = seriesObj;
            seriesArray.push(seriesObj);
          });
          x.forEach((xValue,index)=>{
            nameArray.forEach((name, index)=>{
              let key = xValue + name;
              let seriesObj = nameObj[name];
              seriesObj.data.push(dataMap[key]);
            })
          });
        }else{
          let seriesObj = {};
          seriesObj.name = "default";
          seriesObj.data = [];
          seriesObj.type = type;
          seriesObj.connectNulls = true;
          x.forEach((xValue,index)=>{
            seriesObj.data[index] = dataMap[x];
          });
          seriesArray.push(seriesObj);
        }
        chartData.category = x;
        chartData.legend = nameArray;
        chartData.series = seriesArray;
        return chartData;
      },
      getSaleStatics(){
        let that = this;
        let param = that.getParam();
        param.startDate = moment().subtract(1,'day').format("YYYY-MM-DD HH:mm:ss");
        that.$refs.bigSale.initChart();
        biServerAPI.getSaleStaticsByHour(param).then((res)=>{
          if(res.success){
            if(res.result && res.result.length > 0){
              let chartDate = that.buildChartData(res.result, "line");
              chartDate.series.forEach((item, index)=>{
                if(index == chartDate.series.length -1){
                  item.label = {show: true};
                }
              });
              that.$refs.bigSale.reDraw(chartDate);
            }else{
              that.$refs.bigSale.noDataMethod();
            }
          }else{
            that.$refs.bigSale.noDataMethod();
          }
        });
      },
      formatNumber(strNum){
        if (strNum.length <= 3) {
          return strNum
        }
        if (!/^(\+|-)?(\d+)(\.\d+)?$/.test(strNum)) {
          return strNum
        }
        let a = RegExp.$1;

        let b = RegExp.$2;

        let c = RegExp.$3;
        let re = new RegExp();
        re.compile('(\\d)(\\d{3})(,|$)')
        while (re.test(b)) {
          b = b.replace(re, '$1,$2$3')
        }
        return a + '' + b + '' + c
      },
      getDayToDayTitle(){
        let that = this;
        let param = that.getParam();
        param.startDate = moment().subtract(1, 'day').format("YYYY-MM-DD HH:mm:ss");
        biServerAPI.getDayToDayValue(param).then((res)=>{
          if(res.success && res.result){
            let title = "同比:" + res.result + "%";
            that.$refs.bigSale.setTitle(title);
          }
        })
      },
      getTopSubGroupSale(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.subGroupSale.initChart();
        biServerAPI.getTopSaleSubGroup(param).then((res)=>{
          if(res.success && res.result && res.result.length > 0){
            let chartData = {category: [], data:[]};
            res.result.forEach((item)=>{
              chartData.category.push(item.x);
              chartData.data.push(Number(item.y));
            });
            chartData.category.reverse();
            chartData.data.reverse();
            that.$refs.subGroupSale.reDraw(chartData);
          }else{
            that.$refs.subGroupSale.noDataMethod();
          }
        });
      },
      getTopVendor(){
        let that = this;
        let param = that.getParam();
        param.limit = 20;
        that.$refs.topVendor.initChart();
        biServerAPI.getTopVendor(param).then((res)=>{
          if(res.success && res.result && res.result.length > 0){
            let chartData = {category: [], data:[]};
            res.result.forEach((item)=>{
              chartData.category.push(item.x);
              chartData.data.push(Number(item.y));
            });
            chartData.category.reverse();
            chartData.data.reverse();
            that.$refs.topVendor.reDraw(chartData);
            that.$refs.topVendor.initClickEvent();
          }else{
            that.$refs.topVendor.noDataMethod();
          }
        });
      },
      getTOPSPU(){
        let that = this;
        let param = that.getParam();
        param.limit = 20;
        that.$refs.topSPU.initChart();
        biServerAPI.getTopSpuPrice(param).then((res)=>{
          if(res.success && res.result && res.result.length > 0){
            let chartData = {category: [], data:[]};
            res.result.forEach((item)=>{
              chartData.category.push(item.x);
              chartData.data.push(Number(item.y));
            });
            chartData.category.reverse();
            chartData.data.reverse();
            that.$refs.topSPU.reDraw(chartData);
          }else{
            that.$refs.topSPU.noDataMethod();
          }
        })
      },
      getCategoryTop(){
        let that = this;
        let param = that.getParam();
        param.limit = 10;
        that.$refs.CategoryTop.initChart();
        biServerAPI.getTopCategory(param).then((res)=>{
          if(res.success && res.result && res.result.length > 0){
            let chartData = {indicator: [], data:[]};
            let maxValue = 0;
            res.result.forEach((item)=>{
              if(Number(item.y) > Number(maxValue)){
                maxValue = item.y;
              }
              chartData.data.push(Number(item.y));
            });
            res.result.forEach((item)=>{
              let obj = {text:item.x, max: maxValue};
              chartData.indicator.push(obj);
            });
            that.$refs.CategoryTop.reDraw(chartData);
          }else{
            that.$refs.CategoryTop.noDataMethod();
          }
        })
      },
      getGroupTree(){
        biServerAPI.getDistinctGroupName().then(res => {
          if (res.success) {
            this.marketGroup = res.result;
            this.chooseGroup = true;
          }
        });
      }
    },
    mounted() {
      this.init();
    }
  }
</script>
