<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <Row>
        <Tabs type="card" @on-click="changeCard" :animated="false" >
            <TabPane label="产品数据" name="product" >
                    <Card>
                        <Row>
                            <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                                <Form-item label="站点" prop="storeCode">
                                    <Select v-model="searchForm.storeCode" clearable  filterable style="width: 200px">
                                        <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                            <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                            <span style="color:#ccc;">{{ item.storeName }}</span>
                                        </Option>
                                    </Select>
                                </Form-item>
                                <Form-item label="下单时间">
                                    <DatePicker
                                            type="daterange"
                                            v-model="selectDate"
                                            format="yyyy-MM-dd"
                                            @on-change="selectDateRange"
                                            placeholder="选择起始时间"
                                            style="width: 200px"
                                    ></DatePicker>
                                </Form-item>
                                <Form-item label="quantity" prop="quantity">
                                    <Input
                                            type="text"
                                            v-model="searchForm.quantity"
                                            clearable
                                            placeholder="请输入大于的数量"
                                            style="width: 200px"
                                    />
                                </Form-item>
                                <span v-if="drop">
                                    <Form-item label="productId" prop="productId">
                                        <Input
                                                type="text"
                                                v-model="searchForm.productId"
                                                clearable
                                                placeholder="请输入productId"
                                                style="width: 200px"
                                        />
                                    </Form-item>
                                    <Form-item label="title" prop="title">
                                        <Input
                                                type="text"
                                                v-model="searchForm.title"
                                                clearable
                                                placeholder="请输入title"
                                                style="width: 200px"
                                        />
                                    </Form-item>
                                     <Form-item label="tags" prop="tags">
                                        <Input
                                                type="text"
                                                v-model="searchForm.tags"
                                                clearable
                                                placeholder="请输入tags"
                                                style="width: 200px"
                                        />
                                    </Form-item>
                                </span>
                                <Form-item style="margin-left:-35px;" class="br">
                                    <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                                    <Button @click="handleReset">重置</Button>
                                    <a class="drop-down" @click="dropDown">
                                        {{dropDownContent}}
                                        <Icon :type="dropDownIcon"></Icon>
                                    </a>
                                </Form-item>
                            </Form>
                        </Row>
                        <Row>
                            <Alert show-icon>
                                已选择
                                <span class="select-count">{{selectCount}}</span> 项
                                <a class="select-clear" @click="clearSelectAll">清空</a>
                            </Alert>
                        </Row>
                        <Row>
                            <Table
                                    :loading="loading"
                                    border
                                    :columns="columns"
                                    :data="data"
                                    sortable="custom"
                                    @@on-row-dblclick="getVariant"
                                    @on-sort-change="changeSort"
                                    @on-selection-change="showSelect"
                                    ref="table"
                            ></Table>
                        </Row>
                        <Row type="flex" justify="end" class="page">
                            <Page
                                    :current="searchForm.pageNumber"
                                    :total="total"
                                    :page-size="searchForm.pageSize"
                                    @on-change="changePage"
                                    @on-page-size-change="changePageSize"
                                    :page-size-opts="[10,20,50]"
                                    size="small"
                                    show-total
                                    show-elevator
                                    show-sizer
                            ></Page>
                        </Row>
                    </Card>
            </TabPane>
            <TabPane label="无销量产品" name="noSaleProduct" >
                <Col :lg="24">
                    <Card>
                        <Row>
                            <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                                <Form-item label="下单时间">
                                    <DatePicker
                                            type="daterange"
                                            v-model="selectDate"
                                            format="yyyy-MM-dd"
                                            @on-change="selectDateRange"
                                            placeholder="选择起始时间"
                                            style="width: 200px"
                                    ></DatePicker>
                                </Form-item>
                                <Form-item label="spu" prop="spu">
                                    <Input
                                            type="text"
                                            v-model="searchForm.spu"
                                            clearable
                                            placeholder="请输入spu"
                                            style="width: 200px"
                                    />
                                </Form-item>
                                <Form-item label="title" prop="title">
                                    <Input
                                            type="text"
                                            v-model="searchForm.title"
                                            clearable
                                            placeholder="请输入title"
                                            style="width: 200px"
                                    />
                                </Form-item>
                                <Form-item label="tags" prop="tags">
                                    <Input
                                            type="text"
                                            v-model="searchForm.tags"
                                            clearable
                                            placeholder="请输入tags"
                                            style="width: 200px"
                                    />
                                </Form-item>
                                <Form-item label="noTags" prop="noTags">
                                    <Input
                                            type="text"
                                            v-model="searchForm.noTags"
                                            clearable
                                            placeholder="请输入tags"
                                            style="width: 200px"
                                    />
                                </Form-item>
                                <Form-item style="margin-left:-35px;" class="br">
                                    <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                                    <Button @click="handleReset">重置</Button>
                                    <a class="drop-down" @click="dropDown">
                                        {{dropDownContent}}
                                        <Icon :type="dropDownIcon"></Icon>
                                    </a>
                                </Form-item>
                            </Form>
                        </Row>
                        <Row>
                            <Alert show-icon>
                                已选择
                                <span class="select-count">{{selectCount}}</span> 项
                                <a class="select-clear" @click="clearSelectAll">清空</a>
                            </Alert>
                        </Row>
                        <Row>
                            <Table
                                    :loading="noSaleLoading"
                                    border
                                    :columns="noSaleColumns"
                                    :data="noSaleData"
                                    sortable="custom"
                                    @on-sort-change="changeSort"
                                    @on-selection-change="showSelect"
                                    ref="table"
                            ></Table>
                        </Row>
                        <Row type="flex" justify="end" class="page">
                            <Page
                                    :current="searchForm.pageNumber"
                                    :total="total"
                                    :page-size="searchForm.pageSize"
                                    @on-change="changePage"
                                    @on-page-size-change="changePageSize"
                                    :page-size-opts="[10,20,50]"
                                    size="small"
                                    show-total
                                    show-elevator
                                    show-sizer
                            ></Page>
                        </Row>
                    </Card>
                </Col>
            </TabPane>
        </Tabs>
        <Modal title="详细信息"
               v-model="showVariant"
               :mask-closable="false"
               :width="500"
               :styles="{top: '30px'}">
            <Card>
                <line-bar-charts ref="sales" id="sales" width="100%"></line-bar-charts>
                <Row v-if="showVariant">
                    <Table
                            :loading="variantLoading"
                            border
                            :columns="variantColoumns"
                            :data="variantData"
                            show-summary
                            sum-text="总和"
                    ></Table>
                </Row>
            </Card>
        </Modal>
    </Row>
</template>

<script>
    import {
        getProductDetailListData,
        getProductStatistic,
        getNoSaleProduct,
        getUserStoreCodes,
        getVariantSale
    } from "@/api/bu8api";
    import lineBarCharts from "../../my-components/charts/lineBarCharts";
    import moment from 'moment';
    export default {
        name: "productDetail",
        components:{
            lineBarCharts,
        },
        data() {
            return {
                loading: true,
                noSaleLoading: true,
                showVariant:false,
                variantLoading:true,
                operationLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate: null,
                currentPane:"product",
                searchForm: {
                    storeCode: null,
                    productId: null,
                    productTitle: null,
                    quantity:null,
                    tags:null,
                    noTags:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                columns: [
                    {
                        title: "img",
                        key: "imageSrc",
                        align: "center",
                        render: (h, params) => {
                            return h('img', {
                                attrs: {
                                    src: params.row.imageSrc,
                                },
                                style: {
                                    width: '100px',
                                    height: '100px',
                                }
                            })
                        }
                    },
                    {
                        title: "站点",
                        key: "storeCode",
                        align: "center"
                    },
                    {
                        title: "handle",
                        key: "handle",
                        align: "center"
                    },
                    {
                        title: "名称",
                        key: "title",
                        sortable: true
                    },
                    {
                        title: "标签",
                        key: "tags",
                        sortable: true
                    },

                    {
                        title: "数量",
                        key: "quantity",
                        sortable: true,
                    },
                    {
                        title: "累计销售金额",
                        key: "price",
                        sortable: true
                    },
                    {
                        title: "趋势",
                        render:(h, params)=>{
                            if(params.row.dayToday){
                                if(params.row.dayToday > 1){
                                    return h('i',{
                                        "class":"ivu-icon ivu-icon-md-arrow-up",
                                        domProps:{
                                            style:"font-size: 32px;"
                                        }
                                    });
                                }else{
                                    return h('i',{
                                        "class":"ivu-icon ivu-icon-md-arrow-down",
                                        domProps:{
                                            style:"font-size: 32px;"
                                        }
                                    });
                                }
                            }else{
                                return h('div',"-");
                            }
                        }
                    },
                ],
                noSaleColumns: [
                {
                    type: "selection",
                    width: 60,
                    align: "center",
                    fixed: "left"
                },
                {
                    title: "img",
                    key: "imageSrc",
                    width: 140,
                    align: "center",
                    render: (h, params) => {
                        return h('img', {
                            attrs: {
                                src: params.row.imageSrc,
                            },
                            style: {
                                width: '100px',
                                height: '100px',
                            }
                        })
                    }
                },
                {
                    title: "handle",
                    key: "handle",
                    width: 400,
                    sortable: true,
                    align: "center"
                },
                {
                    title: "spu",
                    key: "spu",
                    width: 140,
                    sortable: true,
                    align: "center"
                },
                {
                    title: "名称",
                    key: "title",
                    width: 400,
                    sortable: true,
                },
                {
                    title: "标签",
                    key: "tags",
                    width: 300,
                    sortable: true
                },
                ],
                data: [],
                storeCodes:[],
                noSaleData:[],
                variantColoumns:[],
                variantData:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDataList();
                this.getStoreCodes();
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        this.storeCodes = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                getProductDetailListData(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(10,'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            changeCard(v){
                this.currentPane = v;
                this.queryData();
            },
            getProductIdNoSale(){
                getNoSaleProduct(this.searchForm).then((res)=>{
                    this.noSaleLoading = false;
                    if (res.success) {
                        this.noSaleData = res.result.records;
                        this.total = res.result.total;
                    }
                });

            },
            getVariant(param){
                this.showVariant = true;
                let fromParam = {productId:param.productId, startDate:this.searchForm.startDate,
                    endDate:this.searchForm.endDate};
                getVariantSale(fromParam).then((res)=>{
                    if (res.success) {
                        let i = 0;
                        let data = [];
                        let columns = [];
                        let columnCache = {};
                        for(let key in res.result){
                            if(typeof res.result[key] == "object"){
                                if(i == 0){
                                    columns.push({title:"option", key:"option", width:100});
                                }
                                let row = {"option":key};
                                let total = 0;
                                for(let key2 in res.result[key]){
                                    if(!columnCache[key2]){
                                        columns.push({title:key2, key:key2,width:80});
                                        columnCache[key2] =true;
                                    }
                                    row[key2]= res.result[key][key2];
                                    total += res.result[key][key2];
                                }
                                row["TOTAL"]= total;
                                data.push(row);
                            }else{
                                if(i == 0){
                                    columns.push({title:"option",key:"option",width:100});
                                    this.variantColoumns= columns;
                                }
                                data.push({"option":key,"total":res.result[key]});
                            }
                            i++
                        }
                        columns.push({title:"TOTAL", key:"TOTAL", width:100});
                        this.variantColoumns = columns;
                        this.variantData = data;
                    }
                    this.variantLoading = false;
                });
                getProductStatistic(fromParam).then((res)=>{
                    if(res.success && res.result){
                        let category = [];
                        let price = {type:'line', data:[], name:"price"};
                        let count = {type:'bar', data:[], name:"quantity"};
                        res.result.forEach((item)=>{
                            category.push(item.cDate);
                            price.data.push(item.price);
                            count.data.push(item.quantity);
                        });
                        let chartData = {category : category, series:[]};
                        chartData.series.push(price);
                        chartData.series.push(count);
                        that.$refs.sales.reDraw(chartData);
                    }else{
                        that.$refs.sales.noDataMethod();
                    }
                });
            },
            queryData(){
                if(this.currentPane == "product"){
                    this.getDataList();
                }else if(this.currentPane == "noSaleProduct"){
                    this.getProductIdNoSale();
                }
            },
        },
        mounted() {
            this.getDates();
            this.init();
        }
    }
</script>
