<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>yizhihai.png">
  <title>XBoot 前后端分离开发平台 Spring Boot、Vue、iView、iView-admin By Exrick</title>
  <meta name="keywords" content="X-Boot,XBoot,前后端分离,开发平台,Spring Boot,Vue,iview,Exrick">
  <meta name="description"
    content="基于Spring Boot 2.x的前后端分离开发平台XBoot前台：Vue+iView 后台：Spring Boot 2.x/Spring Security/JWT/Spring Data JPA+Mybatis-Plus/Redis/Elasticsearch 分布式限流/同步锁/验证码/SnowFlake雪花算法ID生成 动态权限管理 代码生成 日志记录 定时任务 第三方社交账号、短信登录">
  <!-- 部署CDN优化 -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.11.2/vue-i18n.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
  <script src="//unpkg.com/view-design/dist/iview.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.10.0/dist/apexcharts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts@1.5.0/dist/vue-apexcharts.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.5.0/gitalk.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wangEditor/3.1.1/wangEditor.min.js"></script> -->
<!--  <script>-->
<!--    (function (h, o, t, j, a, r) {-->
<!--      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };-->
<!--      h._hjSettings = { hjid: 878627, hjsv: 6 };-->
<!--      a = o.getElementsByTagName('head')[0];-->
<!--      r = o.createElement('script'); r.async = 1;-->
<!--      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;-->
<!--      a.appendChild(r);-->
<!--    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');-->
<!--    var _hmt = _hmt || [];-->
<!--    (function () {-->
<!--      var hm = document.createElement("script");-->
<!--      hm.src = "https://hm.baidu.com/hm.js?64e52d9ed8f5acc3eb7d60058e2fb7ab";-->
<!--      var s = document.getElementsByTagName("script")[0];-->
<!--      s.parentNode.insertBefore(hm, s);-->
<!--    })();-->
<!--  </script>-->
</head>

<body>
  <noscript>
    <strong>We're sorry but xboot-front doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
