<style lang="less">
@import "./frame.less";
</style>

<template>
  <div>
    <Row>
      <Col>
        <Card>
          <Divider style="margin-top:-10px;margin-bottom:0px;"/>
          <Row>
            <div style="position:relative;">
              <iframe
                id="iframe"
                :src="go"
                frameborder="0"
                width="100%"
                :height="height"
                scrolling="auto"
              ></iframe>
              <Spin fix size="large" v-if="loading"></Spin>
            </div>
          </Row>
        </Card>
      </Col>
    </Row>
  </div>
</template>

<script>
import axios from "axios";
import Qs from "qs";
export default {
  name: "frame",
  data() {
    let userInfo = this.$store.state.app.currentUser;
    return {
      loading: false,
      go: "",
      url: "",
      html: "",
      height: "525px",
      userInfo: userInfo,
    };
  },
  computed: {},
  methods: {
    initUrl() {
      let roleArray = [];
      this.userInfo.roles.forEach((item)=>{
        roleArray.push(item.id);
      });
      let userType = this.userInfo.type;
      let departmentId = this.userInfo.departmentId;
      let departmentTitle = this.userInfo.departmentTitle;
      let userId = this.userInfo.id;
      let username = this.userInfo.username;
      let params = {username: username, userId:userId,
        userType:userType, departmentId:departmentId, departmentTitle,
        roles : roleArray.join(",") };
      let url = this.$route.meta.url;
      if (url !== null && url !== undefined) {
        if(url.indexOf("?") > 0){
            url = url +"&"+ Qs.stringify(params,{arrayFormat: 'repeat'});
        }else{
            url = url + "?" + Qs.stringify(params,{arrayFormat: 'repeat'});
        }
        console.log(url);
        this.url = url;
        this.go = url;
        // window.open(this.go);
        this.loading = true;
        let that = this;
        // 判断iframe是否加载完毕
        let iframe = document.getElementById("iframe");
        if (iframe.attachEvent) {
          iframe.attachEvent("onload", function() {
            //iframe加载完成后你需要进行的操作
            that.loading = false;
          });
        } else {
          iframe.onload = function() {
            //iframe加载完成后你需要进行的操作
            that.loading = false;
          };
        }
      }
    },
    handleGo() {
      let url = this.url;
      this.go = this.url;
    },
    handleOpen() {
      window.open(this.url);
    }
  },
  watch: {
    $route(to, from) {
      this.initUrl();
    }
  },
  mounted() {
    // 计算高度
    let height = document.documentElement.clientHeight;
    this.height = Number(height-217) + "px";
    this.initUrl();
  }
};
</script>

<style>
</style>
