<template>
    <div class="charts">
       <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
</template>

<script>
    import echarts from "echarts";

    export default {//接受父组件传递来的数据
        name: "doughnutCharts.vue",
        props: {
            className: {
                type: String,
                default: 'chart'
            },
            id: {
                type: String,
                default: 'chart'
            },
            width: {
                type: String,
                default: '100%'
            },
            height: {
                type: String,
                default: '100%'
            }
        },
        data(){
            return {
                chartObj:null,
            }
        },
        mounted() {
            const vm = this;
            vm.$nextTick(()=> {
                vm.initChart()
            })
        },
        methods:{
            initChart() {
                this.chartObj = echarts.init(document.getElementById(this.id));
                this.loadingMethod();
            },
            loadingMethod(){
                this.chartObj.showLoading('default', {
                  text: 'loading',
                  color: '#c23531',
                  textColor: '#000',
                  maskColor: 'rgba(255, 255, 255, 0.8)',
                  zlevel: 0,
                });
            },
            noDataMethod(){
              this.chartObj.clear();
              this.chartObj.showLoading('default', {
                text: '暂无数据',
                color: '#ffffff',
                textColor: '#8a8e91',
                maskColor: 'rgba(255, 255, 255, 0.8)',
              });
            },
            drawCharts(chartData){
                const option = {
                  tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                  },
                  legend:{
                    top:"0%",
                    data: chartData.legend,
                  },
                  yAxis: {
                    type: 'value',
                    show:false
                  },
                  series: [
                    {
                      name: '小组销售额',
                      type: 'pie',
                      radius: ['50%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: true,
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '30',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: true,
                      },
                      data: chartData.data
                    }
                  ]
                };
                this.chartObj.setOption(option);
                this.chartObj.resize();
            },
            reDraw(chartData){
                if(chartData){
                  this.chartObj.hideLoading();
                  this.drawCharts(chartData);
                }
            },
        }
    }
</script>

<style scoped>

</style>

