<template>
    <div class="charts">
       <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
</template>

<script>
    import echarts from "echarts";
    export default {//接受父组件传递来的数据
        name: "radarCharts.vue",
        props: {
            className: {
                type: String,
                default: 'chart'
            },
            id: {
                type: String,
                default: 'chart'
            },
            width: {
                type: String,
                default: '100%'
            },
            height: {
                type: String,
                default: '100%'
            }
        },
        data(){
            return {
                chartObj:null,
                eventsCache:false,
            }
        },
        mounted() {
            const vm = this;
            vm.$nextTick(()=> {
                vm.initChart()
            })
        },
        methods:{
            initChart() {
                this.chartObj = echarts.init(document.getElementById(this.id));
                this.loadingMethod();
            },
            loadingMethod(){
                this.chartObj.showLoading('default', {
                  text: 'loading',
                  color: '#c23531',
                  textColor: '#000',
                  maskColor: 'rgba(255, 255, 255, 0.8)',
                  zlevel: 0,
                });
            },
            noDataMethod(){
              this.chartObj.clear();
              this.chartObj.showLoading('default', {
                text: '暂无数据',
                color: '#ffffff',
                textColor: '#8a8e91',
                maskColor: 'rgba(255, 255, 255, 0.8)',
              });
            },
            drawCharts(chartData){
              const option = {
                  grid:{
                    left:'35%',
                    top:'0%',
                    bottom:'0%',
                    right:'3%',
                  },
                  tooltip: {
                    trigger: 'item'
                  },
                  xAxis: {
                    type: 'value',
                    splitLine: {
                      show: false //坐标轴在 grid 区域中的分隔线
                    },

                    axisLabel: {
                      show: false //坐标轴刻度标签
                    },
                    axisTick: {
                      show: false //坐标轴刻度
                    },
                    axisLine: {
                      show: false //坐标轴轴线
                    },
                  },
                  yAxis: {
                    type: 'category',
                    axisTick: {
                      show: false
                    },
                    axisLine: {
                      show: false
                    },
                    data: chartData.category
                  },
                  series: [
                    {
                      type: 'bar',
                      barWidth: '50%',
                      data: chartData.data,
                      label:{
                        show:true,
                        position:'right',
                        formatter: function(a) {
                          return a.value.toLocaleString()
                        }
                      },
                      itemStyle: {
                        normal: {
                          barBorderRadius: 10
                        }
                      },
                      zlevel: 1
                    },
                  ]
                };
                this.chartObj.setOption(option);
                this.chartObj.resize();
            },
            reDraw(chartData){
                if(chartData){
                  this.chartObj.hideLoading();
                  this.drawCharts(chartData);
                }
            },
            initClickEvent(){
              if(!this.eventsCache){
                this.chartObj.on('click', function (params) {
                   window.open("https://"+params.name);
                });
              }
            }
        }
    }
</script>

<style scoped>

</style>

