<template>
    <div class="charts">
        <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
</template>

<script>
    import echarts from "echarts";

    export default {//接受父组件传递来的数据
        name: "barCharts.vue",
        props: {
            className: {
                type: String,
                default: 'chart'
            },
            id: {
                type: String,
                default: 'chart'
            },
            width: {
                type: String,
                default: '100%'
            },
            height: {
                type: String,
                default: '400px'
            },
            chartData:{
                type:Object,
                default: () => {
                    return {
                    category: ["2020-01-01","2020-01-02","2020-01-03","2020-01-04","2020-01-05"],
                        data: [{"name":"2020-01-01",value:10},{"name":"2020-01-02",value:40},
                                {"name":"2020-01-03",value:50},{"name":"2020-01-04",value:30},
                                {"name":"2020-01-05",value:30},]
                    }
                }
            },
        },
        data(){
            return {
                chartObj:null,
            }
        },
        mounted() {
            const vm = this;
            vm.$nextTick(()=> {
                vm.initChart()
            })
        },
        methods:{
            initChart() {
                this.chartObj = echarts.init(document.getElementById(this.id));
                this.drawCharts(this.chartData);
            },
            drawCharts(chartData){
                const option = {
                    xAxis: {
                        type: "category",
                        data: chartData.category,
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            type: "bar",
                            data: chartData.data,
                        }
                    ]
                };
                this.chartObj.setOption(option);
                this.chartObj.resize();
            },
            reDraw(chartData){
                this.drawCharts(chartData);
            }
        }
    }
</script>

<style scoped>

</style>
