<template>
    <div class="charts">
       <div :class="className" :id="id" :style="{height:height,width:width}"></div>
    </div>
</template>

<script>
    import echarts from "echarts";

    export default {//接受父组件传递来的数据
        name: "lineBarCharts.vue",
        props: {
            className: {
                type: String,
                default: 'chart'
            },
            id: {
                type: String,
                default: 'chart'
            },
            width: {
                type: String,
                default: '100%'
            },
            height: {
                type: String,
                default: '120px'
            },
            chartData:{
                type:Object,
                default: () => {
                    return {
                        category: ["2020-01-01","2020-01-02","2020-01-03","2020-01-04","2020-01-05"],
                        data: [{"name":"2020-01-01",value:10},{"name":"2020-01-02",value:40},
                            {"name":"2020-01-03",value:50},{"name":"2020-01-04",value:30},
                            {"name":"2020-01-05",value:30},]
                    }
                }
            },
        },
        data(){
            return {
                chartObj:null,
            }
        },
        mounted() {
            const vm = this;
            vm.$nextTick(()=> {
                vm.initChart()
            })
        },
        methods:{
            initChart() {
                this.chartObj = echarts.init(document.getElementById(this.id));
                this.loadingMethod();
            },
            loadingMethod(){
                this.chartObj.showLoading('default', {
                  text: 'loading',
                  color: '#c23531',
                  textColor: '#000',
                  maskColor: 'rgba(255, 255, 255, 0.8)',
                  zlevel: 0,
                });
            },
            noDataMethod(){
                this.chartObj.clear();
                this.chartObj.showLoading('default', {
                    text: '暂无数据',
                    color: '#ffffff',
                    textColor: '#8a8e91',
                    maskColor: 'rgba(255, 255, 255, 0.8)',
                });
            },
            drawCharts(chartData) {
                const option = {
                    xAxis: {
                        type: "category",
                        data: chartData.category,
                    },
                    grid: {
                        left: '0%',
                        right: '1%',
                        bottom: '1%',
                        top: '5%',
                        containLabel: true
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    yAxis: {
                        type: 'value',
                        show: true
                    },
                    series: chartData.series
                };
                this.chartObj.setOption(option);
                this.chartObj.resize();
            },
            reDraw(chartData){
                if(chartData){
                  this.chartObj.hideLoading();
                  this.drawCharts(chartData);
                }
            },
            setTitle(title) {
              if (title) {
                let option = {};
                option.title = {
                  top: '30%',
                  left: 'left',
                  text: title,
                  textStyle: {
                    fontSize: '10px',
                  },
                  z: 2
                };
                this.chartObj.setOption(option)
              }
            },
        }
    }
</script>

<style scoped>

</style>

