<template>
    <Card>
        <Tabs type="card" :animated="false" >
            <TabPane label="短连接生成" name="shortLink" >
                <Card>
                    <Form ref="form" :model="form" :label-width="150" :rules="formValidate">
                        <Form-item label="站点" prop="storeCode">
                            <Select v-model="storeCode" clearable  filterable style="width: 200px">
                                <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                    <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                    <span style="color:#ccc;">{{ item.storeName }}</span>
                                </Option>
                            </Select>
                        </Form-item>
                        <Form-item label="平台" prop="platform">
                            <RadioGroup v-model="platform">
                                <Radio label="1" >店匠</Radio>
                                <Radio label="2">SHOPIFY</Radio>
                            </RadioGroup>
                        </Form-item>
                        <FormItem label="系列连接" prop="collectionUrl" >
                            <Input v-model="form.collectionUrl" type="text" placeholder="示例: https://cutefiti.com/collections/dresses" />
                        </FormItem>
                        <FormItem label="产品连接" prop="url" >
                            <Input type="textarea" v-model="form.url" placeholder="请正确粘贴路径，并以换行作为分隔" :rows="20" clearable></Input>
                        </FormItem>
                        <Form-item style="margin-left:-35px;" class="br">
                            <Button @click="queryShortUrl" :loading="loading" type="primary" >生成连接</Button>
                        </Form-item>
                        <Form-item label="生成结果" prop="result" v-if="querySuccess">
                            <a :href="form.shortUrl" target="_blank" >{{form.shortUrl}}</a>
                            <Button size="small" v-clipboard:copy="form.shortUrl" v-clipboard:success="showSuccess">copy</Button>
                        </Form-item>
                    </Form>
                </Card>
            </TabPane>
            <TabPane label="csv文件拆分" name="csvFileSplit" >
                <Card>
                    <Form ref="csvForm" :model="csvForm" :label-width="250" >
                        <Form-item label="输入拆分后每个文件产品数" prop="count">
                            <Input
                                    type="text"
                                    v-model="csvForm.count"
                                    clearable
                            />
                        </Form-item>
                        <upload-csv :before-upload="beforeUpload" :on-success="handleSuccess"></upload-csv>
                    </Form>
                </Card>
            </TabPane>
        </Tabs>
    </Card>
</template>

<script>
    import {
        getUserStoreCodes,
        getShoplazzaIdByUrl
    } from "@/api/bu8api";
    import axios from "axios";
    import {export_json_to_csv} from '@/vendor/Exportcsv'
    import uploadCsv from "../../my-components/xboot/upload-csv.vue";
    export default {
        name: "shortLinkUtil.vue",
        components:{
            uploadCsv,
        },
        data() {
            return {
                querySuccess:false,
                loading:false,
                storeCode:null,
                storeCodes:[],
                platform:"1",
                form:{
                    url:"",
                    shortUrl:"",
                    collectionUrl:""
                },
                csvForm:{
                    count: 800,
                },
                formValidate:{
                    collectionUrl:[
                        { required: true, message: "请填写集合连接", trigger: "blur" }
                    ],
                    url:[
                        { required: true, message: "前填写产品连接", trigger: "blur" }
                    ],
                }
            }
        },
        methods:{
            init(){
              this.getStoreCodes();
            },
            showSuccess(){
               this.$Message.success("复制成功");
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        this.storeCodes = res.result;
                    }
                })
            },
            queryShortUrl(){
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if(!this.storeCode){
                            this.$Message.error("请选择站点");
                        }
                        this.loading = true;
                        let urlArray = this.form.url.split("\n");
                        let handleArray = [];
                        let urlFlag =  true;
                        urlArray.forEach((item, index)=>{
                            let tempHandle = this.parseUrlReturnHandle(item);
                            if(index == 0){
                                urlFlag = this.ifUrl(item);
                            }
                            if(tempHandle && !handleArray.includes(tempHandle)){
                                handleArray.push(tempHandle);
                            }
                        });
                        if(urlFlag && this.platform == "1"){
                            this.getIds(handleArray).then((res)=>{
                                if(res.success){
                                    let longUrl = "";
                                    if(this.form.collectionUrl.indexOf("?") > 0){
                                        longUrl = this.form.collectionUrl + "q=" + res.result.join(",");
                                    }else{
                                        longUrl = this.form.collectionUrl + "?q=" + res.result.join(",");
                                    }
                                    this.queryShortApi(longUrl);
                                }else{
                                    this.$Message.error("请求服务器出错");
                                }
                            })
                        }else {
                            let longUrl = "";
                            if(this.form.collectionUrl.indexOf("?") > 0){
                                longUrl = this.form.collectionUrl + "q=" + handleArray.join(",");
                            }else{
                                longUrl = this.form.collectionUrl + "?q=" + handleArray.join(",");
                            }
                            this.queryShortApi(longUrl);
                        }
                    }
                });
            },
            getIds(handleArray){
                let param = {handles:handleArray, storeCode:this.storeCode};
                return getShoplazzaIdByUrl(param);
            },
            ifUrl(url){
                return url.indexOf("/") > 0 ? true : false;
            },
            parseUrlReturnHandle(url){
                if(url){
                    if(url.indexOf("?") > 0 ){
                        url = url.split("?")[0];
                    }
                    if(url.indexOf("/")>=0){
                        return url.split("/").pop();
                    }else{
                        return url;
                    }
                }else {
                    return null
                }
            },
            queryShortApi(longUrl){
                let apiUrl = "http://198.11.176.1:1000/api/v1/long_url";
                let params = {
                    long_url : longUrl
                };
                let options = {
                    url: apiUrl,
                    params: params,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                };
                axios(options).then((res)=>{
                    if(res.status = 200 && !res.error){
                        this.querySuccess= true;
                        this.loading = false;
                        this.form.shortUrl = res.link;
                    }else{
                        this.$Message.error(res.error);
                    }
                });
            },
            beforeUpload(file){
                const isLt1M = file.size / 1024 / 1024 < 60;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入60M以内的文件',
                    type: 'warning'
                });
                return false
            },
            handleSuccess(jsonArray){
                if(jsonArray && jsonArray.length>0) {
                    let splitArray = new Array();
                    let index = 1;
                    let file_perfiex = 1;
                    let handle = {};
                    for (let item of jsonArray) {
                        if(!handle[item['Handle']]){
                            handle[item['Handle']] = true;
                            index ++;
                        }
                        if(index == this.csvForm.count ){
                            export_json_to_csv(splitArray,"splitfile"+file_perfiex)
                            splitArray = new Array();
                            file_perfiex++;
                            index = 0;
                        }
                        splitArray.push(item);
                    }
                    export_json_to_csv(splitArray,"splitfile"+file_perfiex)
                }
            },
        },
        mounted() {
            this.init();
        }
    }
</script>

<style scoped>

</style>
