<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="站点" prop="storeCode">
                        <Select v-model="searchForm.storeCode" clearable  filterable style="width: 200px">
                            <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                <span style="color:#ccc;">{{ item.storeName }}</span>
                            </Option>
                        </Select>
                    </Form-item>
                    <Form-item label="创建时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <span v-if="drop">
                        <Form-item label="Name" prop="name">
                            <Input
                                    type="text"
                                    v-model="searchForm.name"
                                    clearable
                                    placeholder="请输入name"
                                    style="width: 200px"
                            />
                        </Form-item>
                         <Form-item label="OrderId" prop="orderId">
                            <Input
                                    type="text"
                                    v-model="searchForm.orderId"
                                    clearable
                                    placeholder="请输入orderId"
                                    style="width: 200px"
                            />
                        </Form-item>
                        <Form-item label="ProductId" prop="productId">
                            <Input
                                    type="text"
                                    v-model="searchForm.productId"
                                    clearable
                                    placeholder="请输入productId"
                                    style="width: 200px"
                            />
                        </Form-item>
                        <Form-item label="SKU" prop="sku">
                        <Input
                                type="text"
                                v-model="searchForm.sku"
                                clearable
                                placeholder="请输入sku"
                                style="width: 200px"
                        />
                        </Form-item>
                        <Form-item label="Title" prop="productTitle">
                        <Input
                                type="text"
                                v-model="searchForm.productTitle"
                                clearable
                                placeholder="请输入productTitle"
                                style="width: 200px"
                        />
                        </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Card style="margin-top: 20px">
            <Row>
                <Form ref="searchReportForm" :model="searchReportForm" inline :label-width="100" class="search-form">
                    <FormItem label="时间范围" required>
                        <DatePicker
                                type="daterange"
                                v-model="reportSelectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectReportDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </FormItem>
                    <FormItem label="站点" prop="storeCode">
                            <Select v-model="searchReportForm.storeCode" clearable style="width: 200px">
                                <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                    <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                    <span style="color:#ccc;">{{ item.storeName }}</span>
                                </Option>
                            </Select>
                    </FormItem>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleReportSearch" type="primary" icon="ios-refresh">刷新</Button>
                        <Button @click="handleReportReset">重置</Button>
                    </Form-item>
                </Form>
            </Row>
            <Row>
            <Tabs type="card" @on-click="changeReport" :animated="false" >
                <TabPane label="订单" name="Order" icon="logo-apple">
                        <bar-charts ref="OrderCharts" id="OrderCharts" width="100%" ></bar-charts>
                </TabPane>
                <TabPane label="销售额" name="Sale" icon="logo-apple">
                        <line-charts ref="SaleCharts" id="SaleCharts" width="100%" ></line-charts>
                </TabPane>
                <TabPane label="客单价" name="CustomerUnitPrice" icon="logo-apple">
                    <line-charts ref="CustomerUnitPriceCharts" width="100%" ></line-charts>
                </TabPane>
<!--                <TabPane label="未发货率" name="unFulfilledRate" icon="logo-apple">-->
<!--                    <line-charts ref="unFulfilledRate" width="100%" ></line-charts>-->
<!--                </TabPane>-->
<!--                <TabPane label="出单产品数" name="ProductCount" icon="logo-apple">-->
<!--                    <line-charts ref="ProductCountCharts" ></line-charts>-->
<!--                </TabPane>-->
<!--                <TabPane label="复购率" name="RepeatPurchaseRate" icon="logo-apple">-->
<!--                    <line-charts ref="RepeatPurchaseRateCharts" ></line-charts>-->
<!--                </TabPane>-->
            </Tabs>
            </Row>
        </Card>
    </div>

</template>

<script>
    import {
        getOrderDetailListData,
        getUserStoreCodes,
        getOrdersStaticPrice,
        getOrdersStaticCount,
        getSaleProductCount,
        getOrderUnFulfilledRate,
    } from "@/api/bu8api";
    import barCharts from "../../my-components/charts/barCharts";
    import lineCharts from "../../my-components/charts/lineCharts";
    import moment from 'moment';
    export default {
        name: "orderDetail",
        components:{
            barCharts,
            lineCharts,
        },
        data() {
            return {
                loading: true,
                operationLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate:null,
                searchForm: {
                    storeCode:"",
                    name:"",
                    orderId:"",
                    sku:"",
                    productId:"",
                    productTitle:"",
                    pageNumber: 1,
                    pageSize: 10,
                },
                searchReportForm:{
                    storeCode: null,
                    startDate:null,
                    endDate:null,
                },
                currentPane:'Order',
                reportSelectDate:'',
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "order_id",
                        key: "orderId",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "name",
                        key: "name",
                        width: 120,
                        sortable: true
                    },
                    {
                        title: "store_code",
                        key: "storeCode",
                        width: 150,
                        sortable: true
                    },
                    {
                        title: "product_id",
                        key: "productId",
                        width: 150,
                        align: "center"
                    },
                    {
                        title: "product_title",
                        key: "productTitle",
                        sortable: true,
                        sortType: "desc",
                        width: 300
                    },
                    {
                        title: "sku",
                        key: "sku",
                        width: 150,
                        sortable: true
                    },
                    {
                        title: "variant_id",
                        key: "variantId",
                        sortable: true,
                        width: 120
                    },
                    {
                        title: "variant_title",
                        key: "variantTitle",
                        sortable: true,
                        width: 120
                    },
                    {
                        title: "quantity",
                        key: "quantity",
                        sortable: true,
                        sortType: "desc",
                        width: 100
                    },
                    {
                        title: "price",
                        key: "price",
                        sortable: true,
                        sortType: "desc",
                        width: 100
                    },
                ],
                data: [],
                storeCodes:[],
                reportCache:{},
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getStoreCodes();
                this.getDataList();
                this.initReportDates();
                this.handleReportSearch();
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        this.storeCodes = res.result;
                    }
                })
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                if (!this.searchForm.storeStatus) {
                    this.searchForm.storeStatus = "";
                }
                getOrderDetailListData(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 00:00:00");
                const start = moment().subtract(1,'month').format("YYYY-MM-DD 23:59:59");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            changeReport(v){
                this.currentPane = v;
                if(v == "Order" && !this.reportCache[v]){
                   getOrdersStaticCount(this.searchReportForm).then((res)=>{
                       if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.OrderCharts.reDraw(res.result);
                       }
                   });
                }else if(v == "Sale"){
                    getOrdersStaticPrice(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.SaleCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "CustomerUnitPrice"){
                    getOrdersStaticCount(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.CustomerUnitPriceCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "unFulfilledRate"){
                    getOrderUnFulfilledRate(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.unFulfilledRate.reDraw(res.result);
                        }
                    });
                }else if(v == "ProductCount"){
                    getSaleProductCount(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.ProductCountCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "RepeatPurchaseRate"){

                }
            },
            handleReportReset(){
                this.$refs.searchReportForm.resetFields();
                this.initReportDates();
            },
            initReportDates(){
                const end = moment().format("YYYY-MM-DD");
                const start = moment().subtract(1,'month').format("YYYY-MM-DD");
                this.reportSelectDate = [start, end];
                this.searchReportForm.startDate = start;
                this.searchReportForm.endDate = end;
            },
            handleReportSearch(){
                this.reportCache = {};
                this.changeReport(this.currentPane);
            },
            selectReportDateRange(v){
                this.searchReportForm.startDate = v[0];
                this.searchReportForm.endDate = v[1];
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
