<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="域名" prop="storeUrl">
                        <Select v-model="searchForm.storeUrlList" clearable  filterable multiple style="width: 200px">
                            <Option v-for="item in storeUrls" :value="item" :key="item" :label="item" >
                                <span style="margin-right:10px;">{{ item }}</span>
                            </Option>
                        </Select>
                    </Form-item>
                    <Form-item label="根据域名汇总" prop="flag">
                        <Select v-model="searchForm.flag" clearable  style="width: 150px">
                            <Option value="true" >是</Option>
                            <Option value="false" selected="selected">否</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="时区" prop="timeZone">
                        <Select v-model="searchForm.timeZone" style="width: 200px">
                            <Option value="Asia/Shanghai" selected="selected">中国标准时间</Option>
                            <Option value="America/Los_Angeles" >太平洋标准时间</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="exportAll"  type="primary">导出全部数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        stripe
                        :columns="searchForm.flag ? columnsFlag : columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        show-summary
                        :summary-method="handleSummary"
                        sum-text="总和"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Card style="margin-top: 20px">
            <Row>
                <Form ref="searchReportForm" :model="searchReportForm" inline :label-width="100" class="search-form">
                    <FormItem label="时间范围" required>
                        <DatePicker
                                type="daterange"
                                v-model="reportSelectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectReportDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </FormItem>
                    <FormItem label="站点" prop="storeCode">
                        <Select v-model="searchReportForm.storeCode" clearable style="width: 200px">
                            <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName" >
                                <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                <span style="color:#ccc;">{{ item.storeName }}</span>
                            </Option>
                        </Select>
                    </FormItem>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleReportSearch" type="primary" icon="ios-refresh">刷新</Button>
                        <Button @click="handleReportReset">重置</Button>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Tabs type="card" @on-click="changeReport" :animated="false" >
                    <TabPane label="订单" name="Order" icon="logo-apple">
                        <bar-charts ref="OrderCharts" id="OrderCharts" width="100%" ></bar-charts>
                    </TabPane>
                    <TabPane label="销售额" name="Sale" icon="logo-apple">
                        <line-charts ref="SaleCharts" id="SaleCharts" width="100%" ></line-charts>
                    </TabPane>
                    <TabPane label="客单价" name="CustomerUnitPrice" icon="logo-apple">
                        <line-charts ref="CustomerUnitPriceCharts" width="100%" ></line-charts>
                    </TabPane>
<!--                    <TabPane label="未发货率" name="unFulfilledRate" icon="logo-apple">-->
<!--                        <line-charts ref="unFulfilledRate" width="100%" ></line-charts>-->
<!--                    </TabPane>-->
<!--                    <TabPane label="出单产品数" name="ProductCount" icon="logo-apple">-->
<!--                        <line-charts ref="ProductCountCharts" ></line-charts>-->
<!--                    </TabPane>-->
<!--                    <TabPane label="复购率" name="RepeatPurchaseRate" icon="logo-apple">-->
<!--                        <line-charts ref="RepeatPurchaseRateCharts" ></line-charts>-->
<!--                    </TabPane>-->
                </Tabs>
            </Row>
        </Card>
    </div>

</template>

<script>
    import {
        findOrderStatisticByTime,
        getUserStoreCodes,
        getOrdersStaticPrice,
        getOrdersStaticCount,
        getSaleProductCount,
        getOrderUnFulfilledRate,
    } from "@/api/bu8api";
    import barCharts from "../../my-components/charts/barCharts";
    import lineCharts from "../../my-components/charts/lineCharts";
    import moment from 'moment';
    export default {
        name: "orderDetail",
        components:{
            barCharts,
            lineCharts,
        },
        data() {
            return {
                loading: true,
                operationLoading: false,
                drop: false,
                loadingExport:false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate:null,
                modalExportAll:false,
                searchForm: {
                    storeUrlList: null,
                    flag:false,
                    timeZone:"Asia/Shanghai",
                    pageNumber: 1,
                    pageSize: 20,
                },
                searchReportForm:{
                    storeCode: null,
                    startDate:null,
                    endDate:null,
                },
                exportData:[],
                currentPane:'Order',
                reportSelectDate:'',
                reportCache:{},
                columns: [
                    {
                        title: "日期",
                        key: "cdate",
                        sortable: true,
                        width: "120",
                        fixed: "left",
                    },
                    {
                        title: "订单",
                        key: "totalOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "有效订单",
                        key: "validOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "发货订单",
                        key: "fulfilledOrders",
                        width:"90",
                        sortable: true
                    },
                    {
                        title: "5日发货订单",
                        key: "fulfilled5Days",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "10日发货订单",
                        key: "fulfilled10Days",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "复购",
                        key: "returning",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "出单产品",
                        key: "productsCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "出单SPU",
                        key: "spuCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "件数",
                        key: "quantitySum",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "连带率",
                        key:"rate",
                        sortable: true,
                        width:"80",
                        render: (h, params) => {
                            if (params.row.quantitySum && params.row.totalOrders) {
                                let rate = (Number(params.row.quantitySum) / Number(params.row.totalOrders)).toFixed(2);
                                return h("div", rate);
                            }
                        },
                    },
                    {
                        title: "FB花费",
                        key: "spend",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "FB购买",
                        key: "purchase",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "FB金额",
                        key: "purchaseValue",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "总金额",
                        key: "totalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "净金额",
                        key: "netTotalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "整体ROAS",
                        key: "roas",
                        width:"100",
                        sortable: true
                    },
                ],
                columnsFlag: [
                    {
                        title: "站点",
                        key: "storeUrl",
                        width: "120",
                        fixed: "left",
                    },
                    {
                        title: "日期",
                        key: "cdate",
                        sortable: true,
                        width: "120",
                        fixed: "left",
                    },
                    {
                        title: "订单",
                        key: "totalOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "有效订单",
                        key: "validOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "发货订单",
                        key: "fulfilledOrders",
                        width:"90",
                        sortable: true
                    },
                    {
                        title: "5日发货订单",
                        key: "fulfilled5Days",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "10日发货订单",
                        key: "fulfilled10Days",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "复购",
                        key: "returning",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "出单产品",
                        key: "productsCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "出单SPU",
                        key: "spuCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "件数",
                        key: "quantitySum",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "连带率",
                        key:"rate",
                        sortable: true,
                        width:"80",
                        render: (h, params) => {
                            if (params.row.quantitySum && params.row.totalOrders) {
                                let rate = (Number(params.row.quantitySum) / Number(params.row.totalOrders)).toFixed(2);
                                return h("div", rate);
                            }
                        },
                    },
                    {
                        title: "FB花费",
                        key: "spend",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "FB购买",
                        key: "purchase",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "FB金额",
                        key: "purchaseValue",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "总金额",
                        key: "totalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "净金额",
                        key: "netTotalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "整体ROAS",
                        key: "roas",
                        width:"100",
                        sortable: true
                    },
                ],
                data: [],
                storeUrls:[],
                storeCodes:[],
                total: 0,
                sortKey: "cdate",
                sortOrder: "desc",
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getStoreCodes();
                this.getDataList();
                this.initReportDates();
                this.handleReportSearch();
            },
            handleSummary ({ columns, data }) {
                const sums = {};
                columns.forEach((column, index) => {
                    const key = column.key;
                    if (index === 0) {
                        sums[key] = {
                            key,
                            value: '总和'
                        };
                        return;
                    }
                    const values = data.map(item => Number(item[key]));
                    if (!values.every(value => isNaN(value))) {
                        const v = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[key] = {
                            key,
                            value:  Math.round(v*100) / 100
                        };
                    } else {
                        sums[key] = {
                            key,
                            value: ''
                        };
                    }
                });
                sums["rate"] = {key:"rate",value:Math.round(sums["quantitySum"].value / sums["totalOrders"].value *100) /100 };
                sums["roas"] = {key:"roas",value:Math.round(sums["netTotalAmount"].value / sums["spend"].value *100) /100};
                return sums;
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            exportAll(){
                this.modalExportAll=true;
            },
            exportAllMethod(){
                let param = this.searchForm;
                param.pageSize = 50;
                findOrderStatisticByTime(param).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result.records;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "产品全部数据"
                            });
                        }, 1000);
                    }
                });
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        let urlSet = new Set();
                        this.storeCodes = res.result;
                        res.result.forEach((item)=>{
                            urlSet.add(item.storeUrl);
                        });
                        this.storeUrls = Array.from(urlSet);
                    }
                })
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                findOrderStatisticByTime(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 20;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 20;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.sortKey = e.key;
                this.sortOrder = e.order;
                this.data.sort(this.sortMethod)
            },
            sortMethod(a, b){
                if(this.sortOrder == "asc"){
                    return a[this.sortKey] - b[this.sortKey]
                }else if(this.sortOrder == "desc"){
                    return - a[this.sortKey] - b[this.sortKey]
                }else{
                    return 1
                }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(19,'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            changeReport(v){
                this.currentPane = v;
                if(v == "Order" && !this.reportCache[v]){
                    getOrdersStaticCount(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.OrderCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "Sale"){
                    getOrdersStaticPrice(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.SaleCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "CustomerUnitPrice"){
                    getOrdersStaticCount(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.CustomerUnitPriceCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "unFulfilledRate"){
                    getOrderUnFulfilledRate(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.unFulfilledRate.reDraw(res.result);
                        }
                    });
                }else if(v == "ProductCount"){
                    getSaleProductCount(this.searchReportForm).then((res)=>{
                        if(res.success){
                            this.reportCache[v] = true;
                            this.$refs.ProductCountCharts.reDraw(res.result);
                        }
                    });
                }else if(v == "RepeatPurchaseRate"){

                }
            },
            handleReportReset(){
                this.$refs.searchReportForm.resetFields();
                this.initReportDates();
            },
            initReportDates(){
                const end = moment().format("YYYY-MM-DD");
                const start = moment().subtract(20,'day').format("YYYY-MM-DD");
                this.reportSelectDate = [start, end];
                this.searchReportForm.startDate = start;
                this.searchReportForm.endDate = end;
            },
            handleReportSearch(){
                this.reportCache = {};
                this.changeReport(this.currentPane);
            },
            selectReportDateRange(v){
                this.searchReportForm.startDate = v[0];
                this.searchReportForm.endDate = v[1];
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
