<style lang="less">
</style>
<template>
  <div>
    <Row>
        <Card>
          <Row class="operation">
            <Button @click="closeCurrentPage" type="primary" >关闭窗口</Button>
          </Row>
        <Tabs type="card" :animated="false" >
          <TabPane label="采购单明细" name="采购单明细" >
            <Card>
              <Row>
              <Button @click="purchaseError" type="error" >标记为异常</Button>
              </Row>
              <Row>
                <Span>PONum:</Span>
                <Span>{{data.poNum}}</Span>
              </Row>
              <Row>
                <Span>总金额:</Span>
                <Span>{{data.amount}}</Span>
              </Row>
              <Row>
                <Span>采购单日期:</Span>
                <Span>{{data.purchaseDate}}</Span>
              </Row>
              <Row>
                <Span>供应商:</Span>
                <Span>{{data.corporationFullName}}</Span>
              </Row>
<!--              <Row v-for="(item,index) in groupObj" :key="index" >-->
<!--                <Row>-->
<!--                  <div>-->
<!--                    采购链接: <a :href="index" target="_blank">点击打开</a>-->
<!--                  </div>-->
<!--                </Row>-->
                <Table
                        :loading="loading"
                        border
                        :span-method="objectSpanMethod"
                        :columns="columns"
                        :data="purchasesSkuList"
                        sortable="custom"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
<!--              </Row>-->
            </Card>
          </TabPane>
          <TabPane label="录入采购信息" name="录入采购信息" v-if="editCard" key="edit" >
            <Card>
              <Form ref="form" :model="form" :label-width="150" :rules="FormValidate">
                <FormItem label="poNum" prop="poNum">
                  <Input v-model="form.poNum" disabled="disabled"/>
                </FormItem>
                <FormItem label="平台" prop="platform" >
                  <Select v-model="form.platform">
                    <Option value="1688" selected="selected">1688</Option>
                    <Option value="天猫">天猫</Option>
                    <Option value="淘宝">淘宝</Option>
                    <Option value="其他">其他</Option>
                  </Select>
                </FormItem>
                <FormItem label="平台订单号" prop="orderNumber"  >
                  <Input v-model="form.orderNumber" />
                </FormItem>
                <Row v-for="(item,index) in form.ordersSkuList" :key="index" >
                  <Col :span="8">
                    <FormItem label="sku" :label-width="150" :prop="index+'sku'" >
                      <Input v-model="item.sku" />
                    </FormItem>
                  </Col>
                  <Col :span="6">
                    <FormItem label="数量" :label-width="70"  :prop="index+'quantity'">
                      <Input v-model="item.quantity" @on-blur="resetTotalAmount" type="number" size="small"  />
                    </FormItem>
                  </Col>
                  <Col :span="6">
                    <FormItem label="价格" :label-width="70"  :prop="index+'price'">
                      <Input v-model="item.price" @on-blur="resetTotalAmount" type="number" />
                    </FormItem>
                  </Col>
                </Row>
                <FormItem label="本次采购金额" prop="orderAmount"  >
                  <Input v-model="form.orderAmount" @on-blur="changeShipingAmount" type="number"/>
                </FormItem>
                <FormItem label="本次采购运费" prop="orderShipping">
                  <Input v-model="form.orderShipping" type="number"/>
                </FormItem>
                <FormItem label="优惠费用" prop="orderDiscount">
                  <Input v-model="form.orderDiscount"  type="number"/>
                </FormItem>
                <FormItem label="供应商" prop="supplier" >
                  <Input v-model="form.supplier" placeholder="请录入供应商"></Input>
                </FormItem>
                <FormItem label="实际采购链接" prop="purchaseLink" >
                  <Input v-model="form.purchaseLink" placeholder="请正确填写采购链接"></Input>
                </FormItem>
                <FormItem label="跟踪号" prop="trackingNumber"  >
                  <Input v-model="form.trackingNumber" />
                </FormItem>
                <FormItem label="备注" prop="note"  >
                  <Input type="textarea" v-model="form.note" :rows="5"></Input>
                </FormItem>
              </Form>
              <Row>
                <Button type="primary" :loading="submitLoading" @click="submitPurchase">提交</Button>
              </Row>
            </Card>
          </TabPane>
          <TabPane v-for="(item, i) in historyData" :label="item.orderNumber" name="Order" :key="item.orderNumber" >
            <Form>
               <FormItem label="平台订单号">
                 <Input v-model="item.orderNumber" readonly></Input>
               </FormItem>
              <FormItem label="供应商" >
                <Input v-model="item.supplier" readonly></Input>
              </FormItem>
              <FormItem label="运费" >
                <Input v-model="item.orderShipping" readonly></Input>
              </FormItem>
              <FormItem label="订单金额" >
                <Input v-model="item.orderAmount" readonly></Input>
              </FormItem>
              <FormItem label="物流跟踪号" >
                <Input v-model="item.trackingNumber" ></Input>
              </FormItem>
<!--              <Button type="primary" v-if="item.trackingNumber" @click="updateTrackingNumber(item)">提交</Button>-->
            </Form>
            <Row>
              <Table
                      border
                      :columns="historyColumns"
                      :data="item.ordersSkuList"
                      sortable="custom"
                      ref="table"
              ></Table>
            </Row>
          </TabPane>
        </Tabs>
        </Card>
    </Row>
    <Modal
            title="异常提交"
            v-model="exceptionModal"
            :mask-closable="false"
            :width="500"
            :styles="{top: '30px'}">
      <Form ref="exceptionForm" :model="exceptionForm" :label-width="150" :rules="exceptionValid">
        <FormItem label="选择异常类型" prop="expType" >
          <Select v-model="exceptionForm.type" placeholder="请选择" clearable style="width: 200px">
            <Option v-for="(item, i) in Object.keys(exceptionType)" :key="i" :value="item">{{exceptionType[item]}}</Option>
          </Select>
        </FormItem>
        <FormItem label="问题描述" prop="note">
          <Input  v-model="exceptionForm.note" placeholder="在这里你可以详细描述问题" type="textarea" :rows="5"></Input>
        </FormItem>
<!--        <FormItem label="下一步处理人" prop="nextUser">-->
<!--          -->
<!--        </FormItem>-->
        <FormItem label="下一步处理组" prop="newDepId">
          <department-choose @on-change="handleSelectDepTree" :open-data-filter="false" style="width: 200px" ref="dep"></department-choose>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="exceptionModal = false">取消</Button>
        <Button type="primary" :loading="exceptionLoading" @click="submitException">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import {
  addPurchaseOrder,
  editPurchase,
  getPurchaseDetailPage,
  savePurchaseException,
  getExceptionType,
  getHistoryOrders
} from "@/api/bu8api";
import {Message} from "view-design";
import decimal from "decimal.js"
import departmentChoose from "../../my-components/xboot/department-choose";
export default {
  name: "purchaseEdit",
  components: {
    departmentChoose,
  },
  data() {
    return {
      loading: true, // 表单加载状态
      submitLoading: false, // 表单提交状态
      editCard:false,
      poNum:null,
      selectList:[],
      form:{
        poNum: null,
        orderNumber:null,
        platform:null,
        supplier:null,
        orderShipping:0,
        orderAmount:0,
        orderTime:null,
        orderStatus:null,
        orderDiscount:0,
        purchaseLink:'',
        trackingNumber:null,
        nodes:null,
        ordersSkuList:null,
      },
      columns:[
        {
          type: "selection",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          title: "图片",
          key:"imgSrc",
          width: 130,
          render:(h, param)=>{
            if(param.row.imgSrc){
              return h('img', {
                attrs: {
                  src: param.row.imgSrc,
                },
                style: {
                  width: '80px',
                  height: '100px',
                }
              })
            }
          }
        },
        {
          title: "名称",
          key:"productName",
          width: 200,
        },
        {
          title: "sku",
          key: "sku",
          width: 130,
        },
        {
          title: "需采购数量",
          key: "quantity",
          width: 130,
        },
        {
          title: "已采购数量",
          key: "purchaseQuantity",
          width: 130,
        },
        {
          title: "采购链接",
          key: "purchaseLink",
          width: 130,
          render:(h, param)=>{
            if(param.row.purchaseLink){
              return h("a",{
                domProps:{
                  href:param.row.purchaseLink,
                  target:'_blank',
                }
              }, '采购连接');
            }
          }
        },
      ],
      // 表单验证规则
      FormValidate: {
        orderNumber: [
          { required: true, message: "平台订单号不能为空", trigger: "blur" }
        ],
        orderShipping:[
          { required: true, message: "运费不能为空", trigger: "blur" }
        ],
        orderStatus:[
          { required: true, message: "前选择状态", trigger: "blur" }
        ],
        supplier:[
          { required: true, message: "请填写实际采购供应商", trigger: "blur" }
        ]
      },
      exceptionValid:{
        note:[
          { required: true, message: "请填写详细问题描述", trigger: "blur" }
        ]
      },
      exceptionForm:{
        poNum:null,
        note: null,
        type: null,
        nextUser: null,
        nextDepId: null,
        skus: null,
      },
      goodsPrice:{},
      exceptionLoading:false,
      exceptionType: {},
      exceptionModal:false,
      data:{},
      purchasesSkuList:[],
      rowSpans:[],
      curIndex: 0,
      backSearchForm:{},
      backRoute: "",
      historyData:[],
      historyColumns:[
        {
          title: "sku",
          key: "sku",
          width: 200,
        },
        {
          title: "采购数量",
          key: "quantity",
          width: 200,
        },
        {
          title: "单价",
          key: "price",
          width: 200,
        },
      ],
    };
  },
  methods: {
    init() {
      this.rowSpans=[];
      this.backRoute = this.$route.query.backRoute;
      this.poNum = this.$route.query.poNum;
      let purchaseStatus = this.$route.query.status;
      this.backSearchForm = this.$route.query.searchForm;
      this.saveDetail(purchaseStatus);
      this.showDetail();
      this.showHistoryDetail(purchaseStatus);
    },
    resetTotalAmount(){
      let totalAmount = new decimal(0);
       this.form.ordersSkuList.forEach((item)=>{
         totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
       });
       this.form.orderAmount = totalAmount.toNumber();
    },
    changeShipingAmount(){
      let totalAmount = new decimal(0);
      this.form.ordersSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
      });
      let discount = 0;
      if(totalAmount.comparedTo(new decimal(this.form.orderAmount)) > 0){
        discount = totalAmount.minus(new decimal(this.form.orderAmount)).toNumber().toString();
        this.form.orderShipping = "0";
      }else{
        this.form.orderShipping = new decimal(this.form.orderAmount).minus(totalAmount).toNumber().toString();
        discount = "0";
      }
      this.form.orderDiscount = discount;
    },
    saveDetail(purchaseStatus) {
      if(purchaseStatus != 2){
        let searchObject = {"poNum":this.poNum};
        editPurchase(searchObject).then((res)=>{
          if (res.success) {
            this.form = res.result;
            this.editCard = true;
          }else{
            Message.error("查询数据异常。")
          }
        })
      }else{
        this.editCard = false;
      }
    },
    showHistoryDetail(purchaseStatus){
      let searchObject = {"poNum":this.poNum};
      if(purchaseStatus != 0){
        getHistoryOrders(searchObject).then((res)=>{
          if(res.success) {
            this.historyData = res.result;
          }else{
            Message.error("查询历史采购明细出错。")
          }
        })
      }else{
        this.historyData = [];
      }
    },
    updateTrackingNumber(v){

    },
    submitException(){
      if(!this.exceptionForm.type){
         Message.error("请选择异常类型");
         return;
      }
      if(!this.exceptionForm.note){
        Message.error("请详细描述问题");
        return;
      }
      this.exceptionForm.poNum = this.form.poNum;
      if(!this.exceptionForm.nextUser && !this.exceptionForm.nextDepId){
        Message.error("下一步处理人或者下一步处理部门必须有一个必填");
        return;
      }
      this.exceptionLoading = true;
      savePurchaseException(this.exceptionForm).then((res)=>{
        this.exceptionLoading = false;
        if (res.success) {
           this.exceptionModal = false;
          this.closeCurrentPage();
        }else{
          Message.error("保存失败," + res.message)
        }
      })
    },
    handleSelectDepTree(v) {
      this.exceptionForm.nextDepId = v;
    },
    showDetail(){
      this.loading = true;
      let that = this;
      let param = {'poNum':this.poNum};
      getPurchaseDetailPage(param).then((res)=>{
        this.loading = false;
        if (res.success) {
          this.data = res.result.data;
          let goodsPrice = res.result.goodsPrice;
          let list = this.data.purchasesSkuList;
          that.initDataList(goodsPrice, list);
        }else{
          Message.error("查询数据异常。")
        }
      })
    },
    initDataList(goodsPrice,list){
      let that = this;
      let numObj = {};
      let i = 0;
      for (let item of list){
          if(goodsPrice[item.sku]){
            let url = goodsPrice[item.sku].purchaseLink;
            item.link = that.parseUrl(url);
            item.purchaseLink  = url;
            if(numObj[item.link]){
              numObj[item.link] += 1;
            }else{
              numObj[item.link] = 1;
            }
            if(i == 0){
              that.initFormPlatform(url);
            }
            i++;
          }
       };
      this.purchasesSkuList = list;
      for (let data of this.purchasesSkuList){
          if(numObj[data.link] >= 0){
            that.rowSpans.push(numObj[data.link]);
            numObj[data.link] = 0;
          }
      }
    },
    objectSpanMethod({row,column,rowIndex,columnIndex}) {
      // 选中"姓名"列
      if (columnIndex === 6) {
        const rowspan = this.rowSpans[rowIndex];
        const colspan = rowspan > 0 ? 1 : 0;
        return {
          rowspan,
          colspan
        }
      }
    },
    parseUrl(url){
      let realUrl = "";
      if (url.indexOf("?") >0 ){
        realUrl = url.substr(0, url.indexOf("?"));
      }else{
        realUrl = url;
      }
      return realUrl;
    },
    initFormPlatform(url){
       if(url.indexOf('1688.com')>0){
          this.form.platform = '1688';
       }else if(url.indexOf('taobao.com')>0){
         this.form.platform = '淘宝';
       }else if(url.indexOf('tmall.com')>0){
         this.form.platform = '天猫';
       }else{
         this.form.platform = '其他';
       }
    },
    showSelect(e) {
      this.selectList = e;
    },
    handleReset() {
      this.$refs.form.resetFields();
    },
    submitPurchase(){
      this.$refs.form.validate(valid => {
        if (valid) {
          // 编辑
          let totalAmount = 0;
          let skuarray = [];
          for(let item of this.form.ordersSkuList){
            item.poNum = this.form.poNum;
            item.orderNumber = this.form.orderNumber;
            totalAmount += parseFloat(item.price) * parseInt(item.quantity);
            if(item.quantity != 0){
              skuarray.push(item);
            }
          }
          if(totalAmount != this.form.orderAmount){
            Message.error("明细金额总和不等于订单金额");
            return;
          }
          if(skuarray.length ==0){
            Message.error("必须有采购明细信息");
            return;
          }
          this.form.ordersSkuList = skuarray;
          this.submitLoading = true;
          this.$Modal.confirm({
            title: "确认提交",
            content: "您确认信息都已经填写正确，点击确认后将自动提交 ? ",
            loading: true,
            onOk: () => {
              addPurchaseOrder(this.form).then(res => {
                this.submitLoading = false;
                this.$Modal.remove();
                if (res.success) {
                  this.$Message.success("操作成功");
                  this.closeCurrentPage();
                }
              });
            }
          });
        }
      });
    },
    // 关闭当前页面
    closeCurrentPage() {
      this.$store.commit("removeTag", "purchaseEdit");
      localStorage.pageOpenedList = JSON.stringify(
        this.$store.state.app.pageOpenedList
      );
      let query = {searchForm: this.backSearchForm};
      this.$router.push({
        name: this.backRoute,
        query: query,
      });
      this.backSearchForm = null;
    },
    purchaseError(){
      let skus = [];
      if(this.selectList.length == 0){
        Message.error({duration:1, content:"请选择异常的sku!"});
        return;
      }
      this.selectList.forEach(function(e) {
         skus.push(e.sku);
      });

      this.exceptionForm.skus = skus;
      getExceptionType().then((res)=>{
        this.exceptionType = res.result;
        this.exceptionModal = true;
      });
    }
  },
  watch: {
    $route(to, from) {
      if (to.name == "purchaseEdit") {
        if(this.poNum != to.query.poNum){
          this.init();
        }
      }
    },
  },
  mounted() {
    this.init();
  }
};
</script>
