<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="下单时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item label="采购员"  >
                        <Select v-model="searchForm.purchaserId" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="(item) in purchaseUserList" :value="item.id" :key="item.id">{{item.username}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="PoNum" prop="poNum">
                        <Input
                                type="text"
                                v-model="searchForm.poNum"
                                clearable
                                placeholder="请输入poNum(模糊匹配)"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="平台" prop="platform">
                        <Select v-model="searchForm.platform">
                            <Option value="">请选择</Option>
                            <Option value="1688">1688</Option>
                            <Option value="天猫">天猫</Option>
                            <Option value="淘宝">淘宝</Option>
                            <Option value="其他">其他</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="平台订单号" :label-width="100" >
                        <Input
                                type="text"
                                v-model="searchForm.orderNumber"
                                clearable
                                placeholder="请输入平台订单号"
                                style="width: 200px"
                        />
                    </Form-item>
                    <span v-if="drop">
                        <Form-item label="供应商" prop="supplier">
                            <Input
                                    type="text"
                                    v-model="searchForm.supplier"
                                    clearable
                                    placeholder="请输入供应商(模糊匹配)"
                                    style="width: 200px"
                            />
                        </Form-item>
                        <Form-item label="采购状态"  >
                           <Select v-model="searchForm.purchaseStatus" placeholder="请选择" clearable style="width: 200px">
                               <Option value="">全部</Option>
                               <Option value="0" selected="selected">未采购</Option>
                               <Option value="1">部分采购</Option>
                               <Option value="2">已完成采购</Option>
                               <Option value="3">异常采购</Option>
                           </Select>
                        </Form-item>
                         <Form-item label="通途状态"  >
                            <Select v-model="searchForm.tongToolStatus" placeholder="请选择" clearable style="width: 200px">
                                <Option value="0">等待</Option>
                                <Option value="1">部分到货等待剩余</Option>
                                <Option value="2">部分到货不等待剩余</Option>
                                <Option value="3">全部到货</Option>
                                <Option value="4">作废</Option>
                            </Select>
                        </Form-item>
                        <Form-item label="跟踪号"  >
                              <Input
                                  type="text"
                                  v-model="searchForm.trackingNumber"
                                  clearable
                                  placeholder="请输入跟踪号"
                                  style="width: 200px"
                              />
                        </Form-item>
                        <Form-item label="sku"  >
                             <Input
                                     type="text"
                                     v-model="searchForm.sku"
                                     clearable
                                     placeholder="请输入SKU"
                                     style="width: 200px"
                             />
                        </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button :loading="exportLoading" @click="exportAll" type="primary" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
            <Modal
                    title="物流跟踪信息"
                    v-model="trackModal"
                    :mask-closable="false"
                    :width="800"
                    :styles="{top: '30px', height: '800px'}"
            >
                <iframe
                        id="iframe"
                        :src="frameUrl"
                        frameborder="0"
                        width="100%"
                        height="800px"
                        scrolling="auto"
                ></iframe>
                <Spin fix size="large" v-if="frameLoading"></Spin>
            </Modal>
        </Card>
    </div>
</template>

<script>
    import {
        getPurchaseDetailPageList,
        getPurchaseDetailAll,
        getUserByPurchase,
    } from "@/api/bu8api";
    import moment from 'moment';
    export default {
        name: "purchaseList",
        data() {
            return {
                trackModal:false,
                frameUrl:null,
                frameLoading:false,
                exportLoading:false,
                loading: true,
                operationLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate:null,
                submitLoading: false,
                purchaseUserList:[],
                searchForm: {
                    skuStr:null,
                    orderStr:null,
                    platform: null,
                    corporationFullName:null,
                    purchaserId: null,
                    purchaseStatus: null,
                    tongToolStatus:null,
                    poNum:null,
                    purchaseOrderId:null,
                    status:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "po_num",
                        key: "poNum",
                        width: 130,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "平台",
                        key: "platform",
                        width: 120,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "订单号",
                        key: "orderNumber",
                        fixed:"left",
                        width: 180,
                    },
                    {
                        title: "采购员",
                        key: "purchaserUsername",
                        width: 180,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "供应商",
                        key: "supplier",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "sku",
                        key: "sku",
                        width: 180,
                    },
                    {
                        title: "产品名称",
                        key: "productName",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "下单日期",
                        key: "orderTime",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "物流跟踪号",
                        key: "trackingNumber",
                        width: 120,
                        align: "center",
                        render:(h, param)=>{
                            if(param.row.trackingNumber){
                                return h('a',{
                                    on: {
                                        click: () => {
                                            this.showTrackModal(param.row.trackingNumber);
                                        }
                                    }
                                }, param.row.trackingNumber)
                            }
                        },
                    },
                    {
                        title: "总金额",
                        key: "orderAmount",
                        width: 100,
                        sortable: true
                    },
                    {
                        title: "单价",
                        key: "price",
                        width: 100,
                        sortable: true
                    },
                    {
                        title: "数量",
                        key: "quantity",
                        width: 100,
                        sortable: true
                    },
                    {
                        title: "备注",
                        key: "note",
                        width: 180,
                    },
                ],
                data: [],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getPurchaserUser();
            },
            getPurchaserUser(){
                getUserByPurchase().then((res)=>{
                    if(res.success){
                        this.purchaseUserList = res.result;
                        let userInfo = JSON.parse(this.getStore("userInfo"));
                        if(this.purchaseUserList){
                            this.purchaseUserList.forEach((item)=>{
                                if(item.id == userInfo.id){
                                    this.searchForm.purchaserId = item.id;
                                }
                            })
                        }
                        this.getDataList();
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            showTrackModal(url){
                this.frameUrl = "https://www.kuaidi100.com/chaxun?nu="+url;
                this.trackModal = true;
                this.frameLoading = true;
                let that =this;
                let iframe = document.getElementById("iframe");
                if (iframe.attachEvent) {
                    iframe.attachEvent("onload", function() {
                        //iframe加载完成后你需要进行的操作
                        that.frameLoading = false;
                    });
                } else {
                    iframe.onload = function() {
                        //iframe加载完成后你需要进行的操作
                        that.frameLoading = false;
                    };
                }
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                getPurchaseDetailPageList(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.$route.query.searchForm = null;
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] +" 00:00:00";
                    this.searchForm.endDate = v[1] +" 23:59:59";
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(3, 'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            exportAll(){
                let that = this;
                that.exportLoading = true;
                getPurchaseDetailAll(this.searchForm).then((res)=>{
                    if(res.success){
                        import('@/vendor/Export2Excel').then(excel => {
                            let tHeader = [];
                            let filterVal = [];
                            that.getHeaderAndFilter(tHeader, filterVal);
                            const list = res.result;
                            const data = this.formatJson(filterVal, list);
                            excel.export_json_to_excel({
                                header: tHeader, //表头 必填
                                data, //具体数据 必填
                                filename: '采购单明细', //非必填
                                autoWidth: true, //非必填
                                bookType: 'xlsx' //非必填
                            });
                            that.exportLoading = false;
                        })
                    }
                })
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => {
                    if (j === 'timestamp') {
                        return parseTime(v[j])
                    } else {
                        return v[j]
                    }
                }))
            },
            getHeaderAndFilter(header, filter){
                this.columns.forEach((item)=>{
                    if(item.title && item.key){
                        header.push(item.title);
                        filter.push(item.key);
                    }
                });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
