<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="创建时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item label="采购状态"  >
                       <Select v-model="searchForm.purchaseStatus" placeholder="请选择" clearable style="width: 200px">
                           <Option value="">全部</Option>
                           <Option value="0" selected="selected">未采购</Option>
                           <Option value="1">部分采购</Option>
                           <Option value="2">已完成采购</Option>
                           <Option value="3">异常采购</Option>
                       </Select>
                    </Form-item>
                    <Form-item label="采购员"  >
                        <Select v-model="searchForm.purchaserId" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="(item) in purchaseUserList" :value="item.id" :key="item.id">{{item.username}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="PoNum" prop="poNum">
                        <Input
                                type="text"
                                v-model="searchForm.poNum"
                                clearable
                                placeholder="请输入poNum(模糊匹配)"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="平台" prop="platform">
                        <Select v-model="searchForm.platform">
                            <Option value="">请选择</Option>
                            <Option value="1688">1688</Option>
                            <Option value="天猫">天猫</Option>
                            <Option value="淘宝">淘宝</Option>
                            <Option value="其他">其他</Option>
                        </Select>
                    </Form-item>
                    <span v-if="drop">
                        <Form-item label="供应商" prop="corporationFullName">
                            <Input
                                    type="text"
                                    v-model="searchForm.corporationFullName"
                                    clearable
                                    placeholder="请输入供应商(模糊匹配)"
                                    style="width: 200px"
                            />
                        </Form-item>
                        <Form-item label="通途状态"  >
                            <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                                <Option value="0">等待</Option>
                                <Option value="1">部分到货等待剩余</Option>
                                <Option value="2">部分到货不等待剩余</Option>
                                <Option value="3">全部到货</Option>
                                <Option value="4">作废</Option>
                            </Select>
                        </Form-item>
                        <Form-item label="跟踪号"  >
                            <Select v-model="trackNumberRadio" @on-change="handleTrackNumber" placeholder="请选择" clearable style="width: 200px">
                                <Option value="1">无跟踪号</Option>
                                <Option value="2">录入跟踪号</Option>
                            </Select>
                              <Input
                                      type="text"
                                      v-model="searchForm.trackNumber"
                                      v-if="trackNumberRadio == 2"
                                      clearable
                                      placeholder="请输入跟踪号"
                                      style="width: 200px"
                              />
                        </Form-item>
                        <Form-item label="平台订单号"  >
                             <Input
                                     type="text"
                                     v-model="searchForm.orderStr"
                                     clearable
                                     placeholder="请输入平台订单号"
                                     style="width: 200px"
                             />
                        </Form-item>
                        <Form-item label="sku"  >
                             <Input
                                     type="text"
                                     v-model="searchForm.skuStr"
                                     clearable
                                     placeholder="请输入SKU"
                                     style="width: 200px"
                             />
                        </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="endPurchase" type="primary" >不等待剩余</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal
                title="物流跟踪信息"
                v-model="trackModal"
                :mask-closable="false"
                :width="800"
                :styles="{top: '30px', height: '800px'}"
        >
            <iframe
                    id="iframe"
                    :src="frameUrl"
                    frameborder="0"
                    width="100%"
                    height="800px"
                    scrolling="auto"
            ></iframe>
            <Spin fix size="large" v-if="frameLoading"></Spin>
        </Modal>
    </div>
</template>

<script>
    import {
        getPurchaseList,
        addPurchaseOrder,
        editPurchase,
        getPurchaseDetailPage,
        updateErrorFinish,
        getUserByPurchase,
    } from "@/api/bu8api";
    import moment from 'moment';
    import { Message } from 'view-design';
    export default {
        name: "purchaseManage",
        data() {
            return {
                trackModal:false,
                frameUrl:null,
                frameLoading:false,
                loading: true,
                operationLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate:null,
                submitLoading: false,
                trackNumberRadio:"",
                purchaseUserList:[],
                searchForm: {
                    skuStr:null,
                    orderStr:null,
                    platform: null,
                    corporationFullName:null,
                    purchaserId: null,
                    purchaseStatus:"0",
                    poNum:null,
                    purchaseOrderId:null,
                    status:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "po_num",
                        key: "poNum",
                        width: 130,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "平台",
                        key: "platform",
                        width: 120,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "订单号",
                        key: "orderStr",
                        fixed:"left",
                        width: 180,
                    },
                    {
                        title: "采购员",
                        key: "purchaserUsername",
                        width: 180,
                        fixed:"left",
                        sortable: true
                    },
                    {
                        title: "供应商",
                        key: "corporationFullName",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "sku",
                        key: "skuStr",
                        width: 180,
                    },
                    {
                        title: "创建时间",
                        key: "createdDate",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "采购日期",
                        key: "purchaseDate",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "金额",
                        key: "amount",
                        width: 100,
                        sortable: true
                    },
                    {
                        title: "通途跟踪号",
                        key: "trackNumber",
                        width: 180,
                        align: "center",
                        render:(h, param)=>{
                            if(param.row.trackNumber){
                                return h('a',{
                                    on: {
                                        click: () => {
                                            this.showTrackModal(param.row.trackNumber);
                                        }
                                    }
                                }, param.row.trackNumber)
                            }
                        },
                    },
                    {
                        title: "通途状态",
                        key: "status",
                        width: 180,
                        sortable: true,
                        render: (h, param)=> {
                            let status = "";
                            if(param.row.status == 0){
                                status= "等待到货"
                            }else if(param.row.status == 1){
                                status= "部分到货，等待剩余"
                            }else if(param.row.status == 2){
                                status= "部分到货, 不等待剩余"
                            }else if(param.row.status == 3){
                                status= "全部到货"
                            }else if(param.row.status == 4){
                                status= "作废"
                            }
                            return h("div", status);
                        }
                    },
                    {
                        title: "采购状态",
                        key: "purchaseStatus",
                        sortable: true,
                        width: 130,
                        render: (h, param)=> {
                            let status = "";
                            if(param.row.purchaseStatus == 0){
                                status= "未采购"
                            }else if(param.row.purchaseStatus == 1){
                                status= "部分采购"
                            }else if(param.row.purchaseStatus == 2){
                                status= "已全部采购"
                            }else if(param.row.purchaseStatus == 3){
                                status= "采购异常"
                            }else if(param.row.purchaseStatus == 4){
                                status= "部分采购不等待剩余"
                            }
                            return h("div", status);
                        }
                    },
                    {
                        title: "采购到货时间",
                        key: "purchaseArrivalDate",
                        sortable: true,
                        width: 180
                    },
                    {
                        title: "备注",
                        key: "noteStr",
                        width: 180,
                    },
                    {
                        title: "操作",
                        key: "action",
                        align: "center",
                        width: 120,
                        fixed:'right',
                        render: (h, params) => {
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.showDetail(params.row);
                                            }
                                        }
                                    },
                                    "查看"
                                ),
                            ]);
                        },
                    }
                ],
                data: [],
                total: 0,
            };
        },
        methods: {
            init() {
                if(this.$route.query.searchForm && typeof this.$route.query.searchForm != "string") {
                    this.searchForm = this.$route.query.searchForm;
                    this.selectDate = [this.searchForm.startDate, this.searchForm.endDate]
                    this.getDataList();
                }else{
                    this.getDates();
                    this.getPurchaserUser();
                }
            },
            showTrackModal(url){
                this.frameUrl = "https://www.kuaidi100.com/chaxun?nu="+url;
                this.trackModal = true;
                this.frameLoading = true;
                let that =this;
                let iframe = document.getElementById("iframe");
                if (iframe.attachEvent) {
                    iframe.attachEvent("onload", function() {
                        //iframe加载完成后你需要进行的操作
                        that.frameLoading = false;
                    });
                } else {
                    iframe.onload = function() {
                        //iframe加载完成后你需要进行的操作
                        that.frameLoading = false;
                    };
                }
            },
            getPurchaserUser(){
                getUserByPurchase().then((res)=>{
                    if(res.success){
                        this.purchaseUserList = res.result;
                        let userInfo = JSON.parse(this.getStore("userInfo"));
                        if(this.purchaseUserList){
                            this.purchaseUserList.forEach((item)=>{
                                if(item.id == userInfo.id){
                                    this.searchForm.purchaserId = item.id;
                                }
                            })
                        }
                        this.getDataList();
                    }
                })
            },
            handleTrackNumber(){
                if(this.trackNumberRadio == 1){
                    this.searchForm.trackNumber="";
                }else if(this.trackNumberRadio == undefined){
                    this.searchForm.trackNumber=null;
                }
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                getPurchaseList(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.$route.query.searchForm = null;
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] +" 00:00:00";
                    this.searchForm.endDate = v[1] +" 23:59:59";
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            showDetail(v){
                let query = { poNum:v.poNum, status:v.purchaseStatus, backRoute: this.$route.name , searchForm: this.searchForm};
                this.$router.push({
                    // 该路由已在/router/router.js中定义好
                    name: "purchaseEdit",
                    query: query,
                });
            },
            endPurchase(){
                let poNums = [];
                let flag = false;
                for(let row of this.selectList){
                    if(row.purchaseStatus == 2 || row.purchaseStatus == 0){
                        Message.error("未采购或者已完成采购不能更新为不等待剩余。");
                        flag = true;
                    }
                    poNums.push(row.poNum);
                }
                let params = {"poNums":poNums};
                if(!flag){
                    this.$Modal.confirm({
                        title: "确认结束",
                        content: "您确认要结束采购，不等待剩余产品 ?",
                        loading: true,
                        onOk: () => {
                            updateErrorFinish(params).then((res)=>{
                                this.$Modal.remove();
                                if(res.success){
                                    Message.success("处理成功，请关闭这些采购单的异常流程"+res.message);
                                    this.getDataList();
                                }else{
                                    Message.error("请求错误"+res.message)
                                }
                            })
                        }
                    });
                }
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
