<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="创建时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item label="PoNum" prop="PoNum">
                        <Input
                                type="text"
                                v-model="searchForm.poNum"
                                clearable
                                placeholder="请输入poNum"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="SKU">
                        <Input
                                type="text"
                                v-model="searchForm.skuStr"
                                clearable
                                placeholder="请输入poNum"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="处理状态" prop="flowStatus">
                        <Select v-model="searchForm.flowStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option value="0">未处理</Option>
                            <Option value="1">已处理</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="流程状态" prop="status">
                        <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                            <Option value="0">未关闭</Option>
                            <Option value="1">已关闭</Option>
                        </Select>
                    </Form-item>
                    <span v-if="drop">
                        <Form-item label="数据组" prop="depId" v-hasRole="['ROLE_SUPPLY','ROLE_ADMIN']">
                        <department-choose @on-change="handleSelectDep" :open-data-filter="false" style="width: 200px" ref="depId"></department-choose>
                    </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal
            title="查看处理异常"
            v-model="exceptionModal"
            :mask-closable="false"
            :width="1200"
            :styles="{top: '30px'}"
            >
            <Row>
                poNum: {{detailData.task ? detailData.task.poNum : ''}}
            </Row>
            <Row>
                发起异常人: {{detailData.task ? detailData.task.staff: ''}}
            </Row>
            <Row>
                创建时间: {{detailData.task ? detailData.task.createTime:''}}
            </Row>
            <Row>
                异常类型: {{detailData.task ? exceptionType[detailData.task.type]: ''}}
            </Row>
            <Row>
                <Table :loading="detailLoading"
                       border
                       :span-method="objectSpanMethod"
                       :columns="skuColumns"
                       :data="detailData.purchasesSkuList"
                       ></Table>
            </Row>
            <Row>
                <Table :loading="detailLoading"
                       border
                       :columns="flowColumns"
                       :data="detailData.flowList"
                       ></Table>
            </Row>
            <Row>
                <Form ref="exceptionForm" :model="exceptionForm" :label-width="150" v-if="currentShow" :rules="exceptionValid">
                    <FormItem label="FlowId" prop="note">
                        <Input v-model="exceptionForm.flowId" readonly="readonly" clearable></Input>
                    </FormItem>
                    <FormItem label="处理结果描述" prop="note">
                        <Input type="textarea" v-model="exceptionForm.note" :rows="5" clearable></Input>
                    </FormItem>
                    <FormItem label="下一步处理组" prop="newDepId">
                        <department-choose @on-change="handleSelectDepTree" :open-data-filter="false" style="width: 200px" ref="nextDepId"></department-choose>
                    </FormItem>
                </Form>
            </Row>
            <div slot="footer">
                <Button type="text" @click="exceptionModal = false">取消</Button>
                <Button type="primary" :loading="submitLoading" v-if="currentSubmit" @click="submitException">提交下一步</Button>
                <Button type="primary" :loading="closeLoading"  v-if="currentSubmit" @click="closeExceptionHandle">关闭流程</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        getExceptionList,
        nextException,
        getExceptionType,
        getExceptionDetail,
        closeException,
    } from "@/api/bu8api";
    import 'viewerjs/dist/viewer.css'
    import Viewer from "v-viewer/src/component.vue"
    import departmentChoose from "../../my-components/xboot/department-choose";
    import { Message } from 'view-design';
    import moment from "moment";
    export default {
        name: "purchaseManage",
        components: {
            departmentChoose,
            Viewer
        },
        data() {
            return {
                images:[
                    "https://cdn.shopify.cn/s/files/1/0284/4514/7276/products/2.png?v=1585281928"
                ],
                loading: true,
                closeLoading: false,
                drop: false,
                selectDate:null,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                currentSubmit: true,
                detailLoading:false,
                submitLoading: false,
                searchForm: {
                    skuStr:null,
                    depId:null,
                    status: "0",
                    flowStatus: "0",
                    poNum:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "po_num",
                        key: "poNum",
                        width: 130,
                        fixed: "left",
                        sortable: true
                    },
                    {
                        title: "sku",
                        key: "skuStr",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "异常类型",
                        key: "type",
                        width: 180,
                        render: (h, params)=> {
                            let type = params.row.type;
                            if(this.exceptionType[params.row.type]){
                                type = this.exceptionType[params.row.type];
                            }
                            return  h("div", type);
                        }
                    },
                    {
                        title: "任务状态",
                        key: "status",
                        width: 180,
                        render: (h, params)=> {
                            let status = "";
                            if(params.row.status == 0){
                                status= "未关闭"
                            }else if(params.row.status == 1){
                                status= "已关闭"
                            }
                            return  h("div", status);
                        }
                    },
                    {
                        title: "流程状态",
                        key: "flowStatus",
                        width: 180,
                        render: (h, params)=> {
                            let status = "";
                            let style = {};
                            if(params.row.flowStatus == 0){
                                status= "待处理";
                                style = {style:{color:"red"}}
                            }else if(params.row.flowStatus == 1){
                                status= "已处理";
                                style = {}
                            }
                            return  h("div", style, status);
                        }
                    },
                    {
                        title: "异常发起者",
                        key: "staff",
                        width: 150,
                    },
                    {
                        title: "创建时间",
                        key: "createTime",
                        width: 180,
                        align: "center"
                    },
                    {
                        title: "更新时间",
                        key: "updateTime",
                        sortable: true,
                        width: 180
                    },
                    {
                        title: "操作",
                        width: 180,
                        fixed:"right",
                        render: (h, params)=> {
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.showDetail(params.row);
                                            }
                                        }
                                    },
                                    "查看以及处理"
                                ),
                            ]);
                        }
                    },
                ],
                data: [],
                skuColumns:[
                    {
                        title: "sku",
                        key: "sku",
                        width: 120
                    },
                    {
                        title: "产品名称",
                        key: "productName",
                        width: 220
                    },
                    {
                        title: "供应商",
                        key: "supplierName",
                        width: 220,
                        render:(h, param)=>{
                            if(param.row.purchaseLink){
                                return h("a",{
                                    domProps:{
                                        href:param.row.purchaseLink,
                                        target:'_blank',
                                    }
                                }, param.row.supplierName);
                            }else{
                                return h('div',param.row.supplierName)
                            }
                        }
                    },
                    {
                        title: "需采购数量",
                        key: "quantity",
                        width: 120
                    },
                    {
                        title: "已采购数量",
                        key: "purchaseQuantity",
                        width: 120
                    },
                    {
                        title: "图片",
                        key:"imgSrc",
                        width: 120,
                        render:(h, param)=>{
                            if(param.row.imgSrc){
                                return h(Viewer, [h('img', {
                                    attrs: {
                                        src: param.row.imgSrc,
                                    },
                                    style: {
                                        width: '80px',
                                        height: '80px',
                                    }
                                })]);
                            }
                        }
                    },
                    {
                        title: "报价日期",
                        key: "quotedPriceDate",
                        width: 180,
                    },

                ],
                flowColumns:[
                    {
                        title: "实际处理人",
                        key: "staff",
                        width: 200
                    },
                    {
                        title: "处理结果",
                        key: "note",
                    }
                ],
                exceptionModal:false,
                detailData:{task:{},goodsPriceMap:{},flowList:[],purchasesSkuList:[]},
                exceptionType:{},
                currentShow:true,
                exceptionForm:{
                    poNum:null,
                    flowId: null,
                    taskId: null,
                    nextUser: null,
                    nextDepId: null,
                    note:null,
                },
                exceptionValid:{
                    note:[
                        { required: true, message: "请填写详细问题描述", trigger: "blur" }
                    ]
                },
                total: 0,
                rowSpans:[],
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getDataList();
                this.initExceptionType();
            },
            handleSelectDep(v){
                this.searchForm.depId = v;
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] +" 00:00:00";
                    this.searchForm.endDate = v[1] +" 23:59:59";
                }
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            initExceptionType(){
                getExceptionType().then((res)=>{
                    if(res.success){
                        this.exceptionType=res.result;
                    }
                });
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                getExceptionList(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(3,'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            handleSelectDepTree(v){
              this.exceptionForm.nextDepId = v;
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            closeExceptionHandle(){
                closeException(this.exceptionForm).then((res)=>{
                    if(res.success){
                        this.exceptionModal = false;
                        this.getDataList();
                    }
                })
            },
            submitException(){
                if(!this.exceptionForm.note){
                    Message.error("请详细描述问题");
                    return;
                }
                if(!this.exceptionForm.nextUser && !this.exceptionForm.nextDepId){
                    Message.error("下一步处理人或者下一步处理部门必须有一个必填");
                    return;
                }
                nextException(this.exceptionForm).then((res)=>{
                    if(res.success){
                        this.exceptionModal = false;
                        this.getDataList();
                    }
                })
            },
            showDetail(v){
                let that = this;
                getExceptionDetail(v.id).then((res)=>{
                    if(res.success){
                        that.exceptionModal = true;
                        that.detailData = res.result;
                        if(!res.result.currentFlow ){
                            that.currentShow = false;
                        }else{
                            that.$refs.exceptionForm.resetFields();
                            that.$refs.nextDepId.clearSelect();
                            that.exceptionForm.taskId = v.id;
                            that.exceptionForm.poNum = res.result.task.poNum;
                            that.exceptionForm.flowId = res.result.currentFlow.id;
                        }
                        //合并skuGoods和
                        that.mergeDataPurchaseAndSkuGoods();
                        that.spanSkuList();
                        if( v.flowStatus == 1){
                            that.currentSubmit = false;
                            that.currentShow = false;
                        }else{
                            that.currentSubmit = true;
                            that.currentShow = true;
                        }
                    }
                });
            },
            parseUrl(url){
                if(url){
                    let realUrl = "";
                    let id = "";
                    //获取参数 保留id
                    if(url.indexOf('taobao.com')>0){
                        url.substr(url.indexOf("?"), url.length).split("&").forEach((item)=>{
                            if(item.indexOf("id=") >= 0){
                                id = item;
                            }
                        });
                    }else if(url.indexOf('tmall.com')>0){
                        url.substr(url.indexOf("?"), url.length).split("&").forEach((item)=>{
                            if(item.indexOf("id=") >= 0){
                                id = item;
                            }
                        });
                    }
                    if (url.indexOf("?") >0 ){
                        realUrl = url.substr(0, url.indexOf("?")) + id;
                    }else{
                        realUrl = url + id;
                    }
                    return realUrl;
                }else{
                    return "";
                }
            },
            mergeDataPurchaseAndSkuGoods(){
               if(this.detailData.purchasesSkuList.length >0){
                   this.detailData.purchasesSkuList.forEach((item)=>{
                       if(this.detailData.goodsPriceMap[item.sku]){
                           let goodPrice = this.detailData.goodsPriceMap[item.sku];
                           item.quotedPriceDate = goodPrice.quotedPriceDate;
                           item.purchaseLink = goodPrice.purchaseLink;
                       }
                   });
               }
            },
            spanSkuList(){
                let that = this;
                let numObj = {};
                for(let item of that.detailData.purchasesSkuList){
                    item.mergeKey = item.supplierName + that.parseUrl(item.purchaseLink);
                    if(numObj[item.mergeKey]){
                        numObj[item.mergeKey] += 1;
                    }else{
                        numObj[item.mergeKey] = 1;
                    }
                }
                that.detailData.purchasesSkuList.sort(function (a, b) {
                    if(a.mergeKey > b.mergeKey){
                        return 1;
                    }
                    if (a.mergeKey < b.mergeKey ) {           // 按某种排序标准进行比较, a 小于 b
                        return -1;
                    }
                    // a must be equal to b
                    return 0;
                });
                for (let data of that.detailData.purchasesSkuList){
                    if(numObj[data.mergeKey] >= 0){
                        that.rowSpans.push(numObj[data.mergeKey]);
                        numObj[data.mergeKey] = 0;
                    }
                }
                console.log(that.rowSpans);
            },
            objectSpanMethod({row,column,rowIndex,columnIndex}) {
                // 选中"姓名"列
                if (columnIndex === 2) {
                    const rowspan = this.rowSpans[rowIndex];
                    const colspan = rowspan > 0 ? 1 : 0;
                    return {
                        rowspan,
                        colspan
                    }
                }
            },
        },
        mounted() {
            this.init();
        },
    }
</script>
