<style>
  .detailClass{
     margin: 5px;
  }
</style>
<template>
  <div>
    <Row>
        <Card>
          <Row class="operation">
            <Button @click="closeCurrentPage" type="primary" >关闭窗口</Button>
          </Row>
        <Tabs type="card" :animated="false"  v-model="editCardValue">
          <TabPane label="录入采购信息" name="editShow" v-if="editCard" key="edit" >
            <Card>
              <Form ref="form" :model="form" :label-width="150" :rules="FormValidate">
                <Row >
                  <Col span="12">
                    <Row class="detailClass">
                      <Col span="5">
                        <p>PONum:</p>
                      </Col>
                      <Col span="16"> <p>{{data.poNum}}</p></Col>
                    </Row>
                    <Row class="detailClass">
                      <Col span="5">总金额:</Col>
                      <Col span="16">{{data.amount}}</Col>
                    </Row>
                    <Row class="detailClass">
                      <Col span="5">采购单日期:</Col>
                      <Col span="16">{{data.purchaseDate}}</Col>
                    </Row>
                    <Row class="detailClass">
                      <Col span="5">供应商:</Col>
                      <Col span="16">{{data.corporationFullName}}</Col>
                    </Row>
                    <Row class="detailClass">
                      <Col span="5">切换备注描述:</Col>
                      <Col span="16">
                        <RadioGroup v-model="type" @on-change="changeRadio">
                          <Radio label="服装" ></Radio>
                          <Radio label="手机" ></Radio>
                          <Radio label="Other" ></Radio>
                        </RadioGroup>
                      </Col>
                    </Row>
                    <Row class="detailClass">
                      <Col span="5">备注:</Col>
                      <Col span="16">
                        <Code>
                           <span v-html="remarkStr"></span>
                           <span v-html="otherRemark"></span>
                        </Code>
                      </Col>
                      <Col>
                        <Button size="small" v-clipboard:copy="remarkStr.replace(/<br\/>/g,'\r\n') + otherRemark.replace(/<br\/>/g,'\r\n')">copy</Button>
                      </Col>
                    </Row>
                  </Col>
                  <Col span="12">
                    <FormItem label="poNum" prop="poNum"  style="display: none">
                      <Input v-model="form.poNum"  clearable />
                    </FormItem>
                      <FormItem label="平台" prop="platform" >
                        <Select v-model="form.platform" >
                          <Option value="1688" selected="selected">1688</Option>
                          <Option value="天猫">天猫</Option>
                          <Option value="淘宝">淘宝</Option>
                          <Option value="其他">其他</Option>
                        </Select>
                      </FormItem>
                      <FormItem label="平台订单号" prop="orderNumber">
                        <Input v-model="form.orderNumber" clearable />
                      </FormItem>
                      <FormItem label="供应商" prop="supplier" >
                        <Input v-model="form.supplier" placeholder="请录入供应商" clearable></Input>
                      </FormItem>
                      <FormItem label="本次采购金额" prop="orderAmount" >
                        <Input v-model="form.orderAmount" @on-blur="changeOrderAmount" type="number" clearable/>
                      </FormItem>
                      <FormItem label="本次采购运费" prop="orderShipping">
                        <Input v-model="form.orderShipping" @on-blur="changeShipingAmount" type="number" clearable/>
                      </FormItem>
                      <FormItem label="优惠费用" prop="orderDiscount">
                        <Input v-model="form.orderDiscount"  type="number" clearable/>
                      </FormItem>
                  </Col>
                </Row>
                <Table
                        :loading="loading"
                        border
                        :span-method="objectSpanMethod"
                        :columns="columns"
                        :data="purchasesSkuList"
                        sortable="custom"
                        @on-selection-change="showSelect"
                        ref="table"
                        show-summary
                        sum-text="合计"
                ></Table>
                <FormItem label="跟踪号" prop="trackingNumber"  >
                  <Input v-model="form.trackingNumber" clearable />
                </FormItem>
                <FormItem label="备注" prop="note"  >
                  <Input type="textarea" v-model="form.note" :rows="5" clearable></Input>
                </FormItem>
              </Form>
              <Row>
                <Button type="primary" :loading="submitLoading" @click="submitPurchase">提交</Button>
                <Button @click="purchaseError" type="error" >标记为异常</Button>
              </Row>
            </Card>
          </TabPane>
          <TabPane v-for="(item, i) in historyData" :label="'订单:'+item.orderNumber" :name="'Order'+i" :key="item.orderNumber" >
            <Card>
              <Form :ref="'orderForm'+i" :label-width="150" >
                <Row >
                    <FormItem label="poNum" :prop="'poNum'+i" >
                      <Input v-model="item.poNum" disabled="disabled" />
                    </FormItem>
                    <FormItem label="平台" :prop="'platform'+i" >
                      <Select v-model="item.platform" :readonly="editOrder">
                        <Option value="1688" selected="selected">1688</Option>
                        <Option value="天猫">天猫</Option>
                        <Option value="淘宝">淘宝</Option>
                        <Option value="其他">其他</Option>
                      </Select>
                    </FormItem>
                    <FormItem label="平台订单号" :prop="'orderNumber'+i" >
                      <Input v-model="item.orderNumber" disabled="disabled"/>
                    </FormItem>
                    <FormItem label="供应商" prop="supplier" >
                      <Input v-model="item.supplier" placeholder="请录入供应商" :readonly="editOrder"></Input>
                    </FormItem>
                    <FormItem label="本次采购金额" :prop="'orderAmount'+i" >
                      <Input v-model="item.orderAmount" @on-blur="changeOrderAmountOrder" type="number" :readonly="editOrder"/>
                    </FormItem>
                    <FormItem label="本次采购运费" :prop="'orderShipping'+i" >
                      <Input v-model="item.orderShipping" @on-blur="changeShipingAmountOrder" type="number" :readonly="editOrder"/>
                    </FormItem>
                    <FormItem label="优惠费用" :prop="'orderDiscount'+i" >
                      <Input v-model="item.orderDiscount"  type="number" :readonly="editOrder"/>
                    </FormItem>
                </Row>
                <Table
                        style="margin-left: 150px"
                        border
                        :columns="historyColumns"
                        :data="item.ordersSkuList"
                        :key="i"
                        sortable="custom"
                        ref="table"
                ></Table>
                <FormItem label="跟踪号" prop="trackingNumber">
                  <Input v-model="item.trackingNumber" :readonly="editOrder" clearable/>
                </FormItem>
                <FormItem label="备注" prop="note"  disabled="disabled">
                  <Input type="textarea" v-model="item.note" :rows="5" :readonly="editOrder" clearable></Input>
                </FormItem>
              </Form>
              <Row class="operation">
                <Button type="primary" :loading="deleteOrderLoading" @click="deleteOrderNum(item.orderNumber, item.poNum)">作废</Button>
                <Button type="primary"  @click="editOrderFunction(i)" >编辑</Button>
                <Button  @click="editOrderFunction(i)" v-if="!editOrder && curIndex==i">取消</Button>
                <Button type="success" :loading="submitLoading" @click="submitEditButton" v-if="!editOrder && curIndex==i">提交</Button>
              </Row>
            </Card>
          </TabPane>
        </Tabs>
        </Card>
    </Row>
    <Modal
            title="异常提交"
            v-model="exceptionModal"
            :mask-closable="false"
            :width="500"
            :styles="{top: '30px'}">
      <Form ref="exceptionForm" :model="exceptionForm" :label-width="150" :rules="exceptionValid">
        <FormItem label="选择异常类型" prop="expType" >
          <Select v-model="exceptionForm.type" placeholder="请选择" clearable style="width: 200px">
            <Option v-for="(item, i) in Object.keys(exceptionType)" :key="i" :value="item">{{exceptionType[item]}}</Option>
          </Select>
        </FormItem>
        <FormItem label="问题描述" prop="note">
          <Input  v-model="exceptionForm.note" placeholder="在这里你可以详细描述问题" type="textarea" :rows="5" clearable></Input>
        </FormItem>
<!--        <FormItem label="下一步处理人" prop="nextUser">-->
<!--          -->
<!--        </FormItem>-->
        <FormItem label="下一步处理组" prop="newDepId">
          <department-choose @on-change="handleSelectDepTree" :open-data-filter="false" style="width: 200px" ref="dep"></department-choose>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="exceptionModal = false">取消</Button>
        <Button type="primary" :loading="exceptionLoading" @click="submitException">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import {
  addPurchaseOrder,
  editPurchaseOrder,
  deletePurchaseByOrderNumber,
  getPurchaseDetailPage,
  savePurchaseException,
  getExceptionType,
  getHistoryOrders
} from "@/api/bu8api";
import {Message} from "view-design";
import decimal from "decimal.js"
import departmentChoose from "../../my-components/xboot/department-choose";
import 'viewerjs/dist/viewer.css'
import Viewer from "v-viewer/src/component.vue"
export default {
  name: "purchaseEdit",
  components: {
    departmentChoose,
    Viewer
  },
  data() {
    return {
      loading: true, // 表单加载状态
      submitLoading: false, // 表单提交状态
      deleteOrderLoading: false,
      editCard:false,
      editCardValue:"editShow",
      poNum:null,
      selectList:[],
      form:{
        poNum: null,
        orderNumber:null,
        platform:null,
        supplier:null,
        orderShipping: '0',
        orderAmount:0,
        orderTime:null,
        orderStatus:null,
        orderDiscount: '0',
        purchaseLink:'',
        trackingNumber:null,
        nodes:null,
        ordersSkuList:[],
      },
      columns:[
        {
          type: "selection",
          align: "center",
          width: 80,
          fixed: "left"
        },
        {
          title: "采购链接",
          key: "purchaseLink",
          render:(h, param)=>{
            if(param.row.purchaseLink){
              return h("a",{
                domProps:{
                  href:param.row.purchaseLink,
                  target:'_blank',
                }
              }, '采购连接');
            }
          }
        },
        {
          title: "图片",
          key:"imgSrc",
          render:(h, param)=>{
            if(param.row.imgSrc){
              return h(Viewer, [h('img', {
                attrs: {
                  src: param.row.imgSrc,
                },
                style: {
                  width: '80px',
                  height: '100px',
                }
              })])
            }
          }
        },
        {
          title: "名称",
          key:"productName",
        },
        {
          title: "sku",
          key: "sku",
        },
        {
          title: "采购单需求量",
          key: "quantity",
        },
        {
          title: "剩余需采购数量",
          key: "leftPurchaseQuantity",
        },
        {
          title: "当前采购数量",
          key: "purchaseQuantity",
          render:(h, params)=>{
             let that = this;
             return h('Input',
                  {
                    props: {
                      value: params.row.quantity,
                    },
                    on: {
                      'on-blur': function(event){
                        that.purchasesSkuList[params.index].purchaseQuantity = event.target.value;
                        that.resetTotalAmount();
                      }
                    }
                  }
             )
          }
        },
        {
          title: "采购单价",
          key: "price",
          render:(h, params)=>{
            let that = this;
            return h('Input',
                    {
                      props: {
                        value: params.row.price,
                      },
                      on: {
                        'on-blur': function(event){
                          that.purchasesSkuList[params.index].price = event.target.value;
                          that.resetTotalAmount();
                        }
                      }
                    }
            )
          }
        }
      ],
      // 表单验证规则
      FormValidate: {
        orderNumber: [
          { required: true, message: "平台订单号不能为空", trigger: "blur" }
        ],
        orderShipping:[
          { required: true, message: "运费不能为空", trigger: "blur" }
        ],
        orderStatus:[
          { required: true, message: "前选择状态", trigger: "blur" }
        ],
        supplier:[
          { required: true, message: "请填写实际采购供应商", trigger: "blur" }
        ]
      },
      exceptionValid:{
        note:[
          { required: true, message: "请填写详细问题描述", trigger: "blur" }
        ]
      },
      exceptionForm:{
        poNum:null,
        note: null,
        type: null,
        nextUser: null,
        nextDepId: null,
        skus: null,
      },
      goodsPrice:{},
      exceptionLoading:false,
      exceptionType: {},
      exceptionModal:false,
      data:{},
      remarkStr: "",
      type:null,
      otherRemark:"",
      purchasesSkuList:[],
      rowSpans:[],
      curIndex: 0,
      backSearchForm:{},
      backRoute: "",
      historyData:[],
      editOrder: true,
      historyColumns:[
        {
          title: "图片",
          key: "imgSrc",
          width: 120,
          render:(h, param)=>{
            if(param.row.imgSrc){
              return h(Viewer, [h('img', {
                attrs: {
                  src: param.row.imgSrc,
                },
                style: {
                  width: '80px',
                  height: '100px',
                }
              })])
            }
          }
        },
        {
          title: "名称",
          key:"productName",
          width: 300,
        },
        {
          title: "sku",
          key: "sku",
          width: 200,
        },
        {
          title: "采购数量",
          key: "quantity",
          width: 200,
          render:(h, params)=>{
            let that = this;
            return h('Input',
              {
                props: {
                  value: params.row.quantity,
                  readonly : that.editOrder,
                },
                on: {
                  'on-blur': function(event){
                    that.historyData[that.curIndex].ordersSkuList[params.index].quantity = event.target.value;
                    that.resetTotalAmountOrder();
                  }
                }
              }
            )
          }
        },
        {
          title: "单价",
          key: "price",
          width: 200,
          render:(h, params)=>{
            let that = this;
            return h('Input',
              {
                props: {
                  value: params.row.price,
                  readonly : that.editOrder,
                },
                on: {
                  'on-blur': function(event){
                    that.historyData[that.curIndex].ordersSkuList[params.index].price = event.target.value;
                    that.resetTotalAmountOrder();
                  }
                }
              }
            )
          }
        },
      ],
    };
  },
  methods: {
    init() {
      this.rowSpans=[];
      this.backRoute = this.$route.query.backRoute;
      this.poNum = this.$route.query.poNum;
      let purchaseStatus = this.$route.query.status;
      if(purchaseStatus != 2){
         this.editCard = true;
         this.editCardValue = "editShow";
         this.showDetail();
      }else{
        this.editCardValue = "Order0";
        this.editCard = false;
      }
      this.backSearchForm = this.$route.query.searchForm;
      this.showHistoryDetail(purchaseStatus);
    },
    editOrderFunction(i){
      this.curIndex = i;
      this.editOrder = !this.editOrder;
    },
    resetTotalAmount(){
      let totalAmount = new decimal(0);
       this.purchasesSkuList.forEach((item)=>{
         totalAmount = totalAmount.add(new decimal(item.purchaseQuantity).mul(new decimal(item.price)));
       });
       this.form.orderAmount = totalAmount.toNumber();
    },
    resetTotalAmountOrder(){
      let totalAmount = new decimal(0);
      this.historyData[this.curIndex].ordersSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
      });
      this.historyData[this.curIndex].orderAmount = totalAmount.toNumber();
    },
    changeOrderAmount(){
      let totalAmount = new decimal(0);
      this.purchasesSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.purchaseQuantity).mul(new decimal(item.price)));
      });
      let discount = 0;
      if(totalAmount.comparedTo(new decimal(this.form.orderAmount)) > 0){
        discount = totalAmount.minus(new decimal(this.form.orderAmount)).toNumber().toString();
        this.form.orderShipping = "0";
      }else{
        this.form.orderShipping = new decimal(this.form.orderAmount).minus(totalAmount).toNumber().toString();
        discount = "0";
      }
      this.form.orderDiscount = discount;
    },
    changeOrderAmountOrder(){
      let totalAmount = new decimal(0);
      this.historyData[this.curIndex].ordersSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
      });
      let discount = 0;
      if(totalAmount.comparedTo(new decimal(this.historyData[this.curIndex].orderAmount)) > 0){
        discount = totalAmount.minus(new decimal(this.historyData[this.curIndex].orderAmount)).toNumber().toString();
        this.historyData[this.curIndex].orderShipping = "0";
      }else{
        this.historyData[this.curIndex].orderShipping = new decimal(this.historyData[this.curIndex].orderAmount).minus(totalAmount).toNumber().toString();
        discount = "0";
      }
      this.historyData[this.curIndex].orderDiscount = discount;
    },
    changeShipingAmount(){
      let totalAmount = new decimal(0);
      this.purchasesSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.purchaseQuantity).mul(new decimal(item.price)));
      });
      this.form.orderDiscount = totalAmount.add(this.form.orderShipping).minus(new decimal(this.form.orderAmount)).toNumber().toString();
    },
    changeShipingAmountOrder(){
      let totalAmount = new decimal(0);
      this.historyData[this.curIndex].ordersSkuList.forEach((item)=>{
        totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
      });
      this.historyData[this.curIndex].orderDiscount = totalAmount.add(this.historyData[this.curIndex].orderShipping).minus(new decimal(this.historyData[this.curIndex].orderAmount)).toNumber().toString();
    },
    showHistoryDetail(purchaseStatus){
      let searchObject = {"poNum":this.poNum};
      if(purchaseStatus != 0){
        getHistoryOrders(searchObject).then((res)=>{
          if(res.success) {
            this.historyData = res.result;
          }else{
            Message.error("查询历史采购明细出错。")
          }
        })
      }else{
        this.historyData = [];
      }
    },
    deleteOrderNum(orderNumber, poNum){
      this.$Modal.confirm({
        title: "确认提交",
        content: "您确认要做作废该订单? 作废后请重新录入采购信息 ",
        deleteOrderLoading: true,
        onOk: () => {
          let param = {orderNumber: orderNumber, poNum : poNum};
          deletePurchaseByOrderNumber(param).then(res => {
            this.deleteOrderLoading = false;
            this.$Modal.remove();
            if (res.success) {
              this.$Message.success("操作成功");
              //重新刷新当前页面数据
              this.editCard = true;
              this.showDetail();
              this.showHistoryDetail(res.result.data);
            }
          });
        }
      });
    },
    updateTrackingNumber(v){

    },
    submitException(){
      if(!this.exceptionForm.type){
         Message.error("请选择异常类型");
         return;
      }
      if(!this.exceptionForm.note){
        Message.error("请详细描述问题");
        return;
      }
      this.exceptionForm.poNum = this.form.poNum;
      if(!this.exceptionForm.nextUser && !this.exceptionForm.nextDepId){
        Message.error("下一步处理人或者下一步处理部门必须有一个必填");
        return;
      }
      this.exceptionLoading = true;
      savePurchaseException(this.exceptionForm).then((res)=>{
        this.exceptionLoading = false;
        if (res.success) {
           this.exceptionModal = false;
           this.closeCurrentPage();
        }
      })
    },
    handleSelectDepTree(v) {
      this.exceptionForm.nextDepId = v;
    },
    showDetail(){
      this.loading = true;
      let that = this;
      let param = {'poNum':this.poNum};
      //清空form
      this.clearForm();
      getPurchaseDetailPage(param).then((res)=>{
        this.loading = false;
        if (res.success) {
          this.data = res.result.data;
          that.initForm();
          let goodsPrice = res.result.goodsPrice;
          let list = this.data.purchasesSkuList;
          that.initDataList(goodsPrice, list);
        }
      })
    },
    clearForm(){
      this.selectList = [];
      this.form = {
        poNum: null,
        orderNumber:null,
        platform:null,
        supplier:null,
        orderShipping: '0',
        orderAmount:0,
        orderTime:null,
        orderStatus:null,
        orderDiscount: '0',
        purchaseLink:'',
        trackingNumber:null,
        nodes:null,
        ordersSkuList:[],
      }
      this.clearExceptionForm();
    },
    clearExceptionForm(){
      this.$refs.exceptionForm.resetFields();
      this.$refs.dep.clearSelect();
    },
    initForm(){
      this.form.orderAmount = this.data.amount;
      this.form.poNum = this.data.poNum;
      this.form.supplier = this.data.corporationFullName;
    },
    initDataList(goodsPrice,list){
      let that = this;
      let numObj = {};
      let i = 0;
      let leftList = [];
      let remark = this.data.poNum + "<br/>";
      for (let item of list){
          if(goodsPrice[item.sku]){
            let url = goodsPrice[item.sku].purchaseLink;
            if(item.quantity > item.purchaseQuantity){
              remark += item.productName + "  "+ item.quantity +"<br/>"
              item.link = that.parseUrl(url);
              item.purchaseLink  = url;
              //计算剩余可以采购数量
              item.leftPurchaseQuantity = item.quantity - item.purchaseQuantity;
              item.purchaseQuantity = item.leftPurchaseQuantity;
              if(numObj[item.link]){
                numObj[item.link] += 1;
              }else{
                numObj[item.link] = 1;
              }
              leftList.push(item);
            }else{
              //已经采购完成不展示
            }
            if(i == 0){
              that.initOtherRemark(item.sku);
              that.initFormPlatform(url);
            }
            i++;
          }else{
            item.link = "";
            item.purchaseLink  = "";
            item.leftPurchaseQuantity = item.quantity - item.purchaseQuantity;
            item.purchaseQuantity = item.leftPurchaseQuantity;
            if(item.leftPurchaseQuantity >0){
              leftList.push(item);
            }
          }
       };
      leftList.sort(function (a, b) {
        if(a.link > b.link){
          return 1;
        }
        if (a.link < b.link ) {           // 按某种排序标准进行比较, a 小于 b
          return -1;
        }
        // a must be equal to b
        return 0;
      });
      this.remarkStr = remark;
      if(leftList && leftList.length>0){
        this.editCard = true;
        this.editCardValue = "editShow";
      }
      this.purchasesSkuList = leftList;
      for (let data of this.purchasesSkuList){
          if(numObj[data.link] != undefined && numObj[data.link] >= 0){
            that.rowSpans.push(numObj[data.link]);
            numObj[data.link] = 0;
          }else{
            that.rowSpans.push(1);
          }
      }
      console.log(that.rowSpans);
    },
    objectSpanMethod({row,column,rowIndex,columnIndex}) {
      // 选中"姓名"列
      if (columnIndex === 1) {
        const rowspan = this.rowSpans[rowIndex];
        const colspan = rowspan > 0 ? 1 : 0;
        return {
          rowspan,
          colspan
        }
      }
    },
    parseUrl(url){
      let realUrl = "";
      let id = "";
      //获取参数 保留id
      if(url.indexOf('taobao.com')>0){
        url.substr(url.indexOf("?"), url.length).split("&").forEach((item)=>{
            if(item.indexOf("id=") >= 0){
              id = item;
            }
        });
      }else if(url.indexOf('tmall.com')>0){
        url.substr(url.indexOf("?"), url.length).split("&").forEach((item)=>{
          if(item.indexOf("id=") >= 0){
            id = item;
          }
        });
      }
      if (url.indexOf("?") >0 ){
        realUrl = url.substr(0, url.indexOf("?")) + id;
      }else{
        realUrl = url + id;
      }
      return realUrl;
    },
    initOtherRemark(sku){
       if(sku){
         let type = sku.substr(2,2);
         if(type === "CT"){
           this.type = "服装"
         }else if(type === "PV}"){
           this.type = "手机"
         }else{
           this.type = "Other"
         }
         this.changeRadio(this.type);
       }
    },
    changeRadio(type){
      if(type === "服装"){
        this.otherRemark = "齐货发！放发货清单,每件衣服请独立包装 ！！！ PO号打印在面单上或手写，优先发中通快递，衣服要贴尺码标签 放发货清单";
      }else if(type === "手机"){
        this.otherRemark = "齐货发！放发货清单,每个手机壳请用独立包装 ！PO号打印在面单上或手写，优先发中通快递 手机壳要贴产品型号标签 放发货清单";
      }else{
        this.otherRemark = "齐货发！放发货清单,每个产品请独立包装 ！！！ PO号打印在面单上或手写，优先发中通快递，不要发裸货 放发货清单";
      }
    },
    initFormPlatform(url){
       if(url.indexOf('1688.com')>0){
          this.form.platform = '1688';
       }else if(url.indexOf('taobao.com')>0){
         this.form.platform = '淘宝';
       }else if(url.indexOf('tmall.com')>0){
         this.form.platform = '天猫';
       }else{
         this.form.platform = '其他';
       }
    },
    showSelect(e) {
      this.selectList = e;
    },
    handleReset() {
      this.$refs.form.resetFields();
    },
    submitPurchase(){
      this.$refs.form.validate(valid => {
        if (valid) {
          // 编辑
          let flag = true;
          let totalAmount = new decimal(0);
          this.form.ordersSkuList = [];
          for(let item of this.purchasesSkuList){
             let submitSku = {};
             submitSku.poNum = item.poNum;
             submitSku.orderNumber = this.form.orderNumber;
             totalAmount = totalAmount.add(new decimal(item.purchaseQuantity).mul(new decimal(item.price)));
             submitSku.quantity = item.purchaseQuantity;
             submitSku.sku = item.sku;
             submitSku.price = item.price;
             this.form.ordersSkuList.push(submitSku);
          }
          totalAmount = totalAmount.add(this.form.orderShipping).minus(this.form.orderDiscount);
          if(totalAmount.comparedTo(new decimal(this.form.orderAmount)) != 0){
            Message.error("订单金额不等于实际采购金额", {duration:1});
            return;
          }
          if(this.form.ordersSkuList.length == 0){
            Message.error("必须有采购明细信息",{duration:1});
            return;
          }
          this.$Modal.confirm({
            title: "确认提交",
            content: "您确认信息都已经填写正确，点击确认后将自动提交 ? ",
            submitLoading: true,
            onOk: () => {
              addPurchaseOrder(this.form).then(res => {
                this.submitLoading = false;
                this.$Modal.remove();
                if (res.success) {
                  this.$Message.success("操作成功");
                  this.closeCurrentPage();
                }
              });
            }
          });
        }
      });
    },
    submitEditButton(){
      // 编辑
      let flag = true;
      let totalAmount = new decimal(0);
      for(let item of this.historyData[this.curIndex].ordersSkuList){
        totalAmount = totalAmount.add(new decimal(item.quantity).mul(new decimal(item.price)));
      }
      totalAmount = totalAmount.add(this.historyData[this.curIndex].orderShipping).minus(this.historyData[this.curIndex].orderDiscount);
      if(totalAmount.comparedTo(new decimal(this.historyData[this.curIndex].orderAmount)) != 0){
        Message.error("订单金额不等于实际采购金额", {duration:1});
        return;
      }
      if(this.historyData[this.curIndex].ordersSkuList.length == 0){
        Message.error("必须有采购明细信息",{duration:1});
        return;
      }
      this.$Modal.confirm({
        title: "确认提交",
        content: "确认要修改当前订单 ? ",
        submitLoading: true,
        onOk: () => {
          console.log(this.historyData[this.curIndex])
          editPurchaseOrder(this.historyData[this.curIndex]).then(res => {
            this.submitLoading = false;
            this.$Modal.remove();
            if (res.success) {
              this.$Message.success("操作成功", {duration:1});
              this.editOrderFunction(this.curIndex);
              this.closeCurrentPage();
            }
          });
        }
      });
    },
    // 关闭当前页面
    closeCurrentPage() {
      this.$store.commit("removeTag", "purchaseEdit");
      localStorage.pageOpenedList = JSON.stringify(
        this.$store.state.app.pageOpenedList
      );
      let query = {searchForm: this.backSearchForm};
      this.$router.push({
        name: this.backRoute,
        query: query,
      });
      this.backSearchForm = null;
    },
    purchaseError(){
      let skus = [];
      if(this.selectList.length == 0){
        Message.error({duration:1, content:"请选择异常的sku!"});
        return;
      }
      this.selectList.forEach(function(e) {
         skus.push(e.sku);
      });

      this.exceptionForm.skus = skus;
      getExceptionType().then((res)=>{
        this.exceptionType = res.result;
        this.exceptionModal = true;
      });
    }
  },
  watch: {
    $route(to, from) {
      if (to.name == "purchaseEdit") {
          this.init();
      }
    },
  },
  mounted() {
    this.init();
  }
};
</script>
