<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <p slot="title" class="card-title">
                <Icon type="md-map" style="margin-right:5px;"></Icon>广告账户管理
            </p>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="账户名称" prop="accountName">
                        <Input
                                type="text"
                                v-model="searchForm.accountName"
                                clearable
                                placeholder="请输入账户名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="账户ID" prop="accountID">
                        <Input
                                type="text"
                                v-model="searchForm.accountId"
                                clearable
                                placeholder="请输入账户Id"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="BM名称" prop="adsManagerName" >
                        <Input
                                type="text"
                                v-model="searchForm['manager.adsManagerName']"
                                clearable
                                placeholder="BM名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <FormItem label=广告平台 prop="platform"  >
                        <Select v-model="form['manager.platform']" style="width: 200px">
                            <Option value="Facebook" >Facebook</Option>
                            <Option value="Tiktok" >Tiktok</Option>
                            <Option value="Google" >Google</Option>
                        </Select>
                    </FormItem>
                    <span v-if="drop">
                    <Form-item label="域名" prop="domainUrl" >
                        <Input
                                type="text"
                                v-model="searchForm['domain.domainUrl']"
                                clearable
                                placeholder="域名Url"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="主体" prop="nameZh" >
                        <Input
                                type="text"
                                v-model="searchForm['company.nameZh']"
                                clearable
                                placeholder="主体名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="状态" prop="accountStatus" >
                        <Select v-model="searchForm.accountStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
<!--                <Button @click="add" type="primary" icon="md-add">添加广告账户</Button>-->
<!--                <Button @click="addBM" type="primary" icon="md-add">添加广告管理账号</Button>-->
<!--                <Button @click="addCompany" type="primary" icon="md-add">添加主体公司</Button>-->
<!--                <Button @click="addAll" type="primary" icon="md-add">快速添加</Button>-->
                <Button @click="updateStatusModelVisible = true" type="primary">批量更新广告状态</Button>
                <Button @click="modalExportAll = true" type="success">导出数据</Button>
<!--                <p style="color:red">快速复制添加：选择要复制的账户记录，点击添加账户</p>-->
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="状态变更"
               v-model="updateStatusModelVisible"
               :width="500"
               :styles="{top: '30px'}"
        >
            <Select v-model="updateStatus" placeholder="请选择" clearable style="width: 300px">
                <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
            </Select>
            <div slot="footer">
                <Button type="text" @click="updateStatusModelVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdateStatus">提交</Button>
            </div>
        </Modal>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="账户ID" prop="accountId"  >
                    <Input v-model="form.accountId" autocomplete="off" />
                </FormItem>
                <FormItem label="账户名称" prop="accountName"  >
                    <Input v-model="form.accountName" autocomplete="off" />
                </FormItem>
                <FormItem label="时区" prop="timeZone"  >
                    <Select v-model="form.timeZone" style="width: 200px">
                        <Option value="Asia/Shanghai" selected="selected">中国标准时间</Option>
                        <Option value="America/Los_Angeles" >太平洋标准时间</Option>
                    </Select>
                </FormItem>
                <FormItem label="域名Id" prop="domainId"  >
                    <Select v-model="form.domainId" placeholder="请选择" clearable filterable style="width: 300px">
                        <Option v-for="item in domainList"  :value="item.id" :key="item.id" :disabled="item.domainStatus < 0 ? true : false">{{item.domainUrl}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="开户主体" prop="companyId"  >
                    <Select v-model="form.companyId" placeholder="请选择" clearable filterable style="width: 300px">
                        <Option v-for="item in companyList"  :value="item.id" :key="item.id">{{item.nameZh}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="广告管理平台 ID" prop="managerId"  >
                    <Select v-model="form.managerId" placeholder="请选择" clearable filterable style="width: 300px">
                        <Option v-for="item in managerList"  :value="item.id"  >{{item.adsManagerName}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="备注" prop="note"  >
                    <Input v-model="form.note" />
                </FormItem>
                <FormItem label="FB 主页 ID" prop="fbPageId"  >
                    <Input v-model="form.fbPageId" autocomplete="off" />
                </FormItem>
                <FormItem label="一级代理" prop="agency1"  >
                    <Input v-model="form.agency1" />
                </FormItem>
                <FormItem label="二级代理" prop="agency2"  >
                    <Input v-model="form.agency2" />
                </FormItem>
                <FormItem label="申请开户时间" prop="appliedAt"  >
                    <DatePicker
                            type="date"
                            v-model="form.appliedAt"
                            format="yyyy-MM-dd"
                            placeholder="选择起始时间"
                            style="width: 200px"
                    ></DatePicker>
                </FormItem>
                <FormItem label="账号开通时间" prop="openedAt"  >
                    <DatePicker
                            type="date"
                            v-model="form.openedAt"
                            format="yyyy-MM-dd"
                            placeholder="选择起始时间"
                            style="width: 200px"
                    ></DatePicker>
                </FormItem>
                <FormItem label="状态" prop="accountStatus"  >
                    <Select v-model="form.accountStatus" placeholder="请选择" clearable style="width: 300px">
                        <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                    </Select>
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
        <applied-account-record v-on:getData="this.getDataList"></applied-account-record>
    </div>
</template>

<script>
    import {
        adAccountAPI,
        accountCompanyAPI,
        adsBmManageAPI,
        domainManageAPI,
    } from "@/api/starlinkApi";
    import moment from "moment";
    import appliedAccountRecord from "./appliedAccountRecord.vue"
    export default {
        name: "adAccountManage",
        components:{
            appliedAccountRecord,
        },
        data() {
            return {
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                importDataModel:false,
                updateStatusModelVisible:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                statusEnum:{},
                searchForm: {
                    accountId:null,
                    accountName: null,
                    "manager.adsManagerName":null,
                    accountStatus:null,
                    "manager.platform":null,
                    "company.nameZh":null,
                    "domain.domainUrl":null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    accountId:"",
                    domainId:"",
                    accountName:"",
                    fbPageId:"",
                    accountStatus:"",
                    companyId:"",
                    platform:"",
                    pageId:"",
                    managerId:"",
                    appliedAt:"",
                    openedAt:"",
                    timeZone:"",
                    agency2:"",
                    agency1:"",
                    note:"",
                },
                FormValidate: {
                    accountId: [
                        { required: true, message: "账户不能为空", trigger:"blur" },
                    ],
                    accountName: [
                        { required: true, message: "账户名称不能为空", trigger:"blur" },
                    ],
                    timeZone : [
                        { required: true, message: "时区不能为空", trigger:"change" },
                    ],
                    platform: [
                        { required: true, message: "平台不能为空", trigger:"change" },
                    ],
                    companyId: [
                        { required: true, message: "开户主体ID不能为空", trigger:"change", type:"number"  },
                    ],
                    managerId: [
                        { required: true, message: "广告管理平台ID不能为空", trigger:"change",type:"number" },
                    ]
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "账户",
                        key: "accountId",
                        width: 180,
                        sortable: true,
                        // render:(h, params) => {
                        //     return h("a",{
                        //         domProps:{
                        //             href: "#",
                        //             target:'_blank',
                        //         }
                        //     }, params.row.accountId);
                        // }
                    },
                    {
                        title: "账户名称",
                        key: "accountName",
                        width: 240,

                    },
                    {
                        title: "域名",
                        key: "domainUrl",
                        width: 130,
                        render:(h, params) => {
                            if(params.row.domain){
                                return h("span", params.row.domain.domainUrl);
                            }
                        }
                    },
                    {
                        title: "广告管理平台 ID",
                        key: "managerId",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "管理账户名称",
                        key: "adsManagerName",
                        width: 200,
                        render:(h, params) => {
                            if(params.row.manager){
                                return h("span", params.row.manager.adsManagerName);
                            }
                        }
                    },
                    {
                        title: "申请时间",
                        key: "appliedAt",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "开通时间",
                        key: "openedAt",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "公司主体",
                        width: 240,
                        align: "center",
                        render:(h, params) => {
                            if(params.row.company){
                                return h("span", params.row.company.nameZh);
                            }
                        }
                    },
                    {
                        title: "公司英文名称",
                        width: 240,
                        align: "center",
                        render:(h, params) => {
                            if(params.row.company){
                                return h("span", params.row.company.nameEn);
                            }
                        }
                    },
                    {
                        title: "状态",
                        key: "accountStatus",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.accountStatus == 0) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.accountStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.accountStatus < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.accountStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.accountStatus > 0 ) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.accountStatus]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "timeZone",
                        key: "timeZone",
                        sortable: true,
                        width: 300
                    },
                    {
                        title: "一级代理",
                        key: "agency1",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "二级代理",
                        key: "agency2",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "备注",
                        key: "note",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = h(
                                "Button",
                                {
                                    props: {
                                        type: "success",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.enable(params.row);
                                        }
                                    }
                                },
                                "启用"
                            );
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                                enableOrDisable,
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                domainList:[],
                companyList:[],
                managerList :[],
                domainUrlMap:{},
                total: 0,
            };
        },
        methods: {
            init() {
                this.getStatusEnum();
                this.getDataList();
            },
            getCompanyList(){
                adsBmManageAPI.getAll().then((res) => {
                    if (res.success) {
                        this.managerList = res.result;
                    }
                });
            },
            getDomainList() {
                domainManageAPI.getAll().then((res) => {
                    if (res.success) {
                        this.domainList = res.result;
                    }
                })
            },
            getBMList(){
                accountCompanyAPI.getAll().then((res) =>{
                    if (res.success) {
                        this.companyList = res.result;
                    }
                })
            },
            getStatusEnum(){
                adAccountAPI.getStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                adAccountAPI.get(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            exportAllMethod(){
                adAccountAPI.getAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "广告账户全部数据"
                            });
                        }, 1000);
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if(this.form.appliedAt){
                            this.form.appliedAt = moment(this.form.appliedAt).format("YYYY-MM-DD");
                        }
                        if(this.form.openedAt){
                            this.form.openedAt = moment(this.form.openedAt).format("YYYY-MM-DD");
                        }
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            adAccountAPI.post(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            delete this.form.updatedAt;
                            delete this.form.company;
                            delete this.form.manager;
                            delete this.form.domain;
                            adAccountAPI.put(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                //查询BM 域名 以及公司主体 并缓存
                if(this.domainList.length <=0){
                    this.getCompanyList();
                    this.getBMList();
                    this.getDomainList();
                }
                if(this.selectCount > 0){
                    if(this.selectCount == 1){
                        this.form = this.selectList[0];
                        delete this.form.accountId;
                        delete this.form.accountStatus;
                    }else{
                        this.$Message.warning("只能选择一个账户进行复制添加")
                    }
                }
                this.modalType = 0;
                this.modalTitle = "添加广告账户";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                if(this.domainList.length <=0){
                    this.getCompanyList();
                    this.getBMList();
                    this.getDomainList();
                }
                this.modalType = 1;
                this.modalTitle = "编辑广告账户";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                data.accountStatus = data.accountStatus+"";
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用站点 " + v.accountName + " ?",
                    loading: true,
                    onOk: () => {
                        let param = {ids: [v.id], status :1};
                        adAccountAPI.batchUpdateStatus(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            batchUpdateStatus(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
                if(this.updateStatus){
                    this.$Modal.confirm({
                        title: "确认变更",
                        content: "您确认要变更所选的 " + this.selectCount + " 条数据的状态?",
                        loading: true,
                        onOk: () => {
                            let ids = [];
                            this.selectList.forEach(function(e) {
                                ids.push(e.id);
                            });
                            let param = {ids: ids, status : this.updateStatus};
                            adAccountAPI.batchUpdateStatus(param).then(res => {
                                this.updateStatusModelVisible = false;
                                this.$Modal.remove();
                                if (res.success) {
                                    this.$Message.success("批量更新成功");
                                    this.clearSelectAll();
                                    this.getDataList();
                                }
                            });
                        }
                    });
                }else{
                    this.$Message.warning("请选择变更状态");
                }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
