<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search" style="margin-top: 10px">
        <Card>
            <p slot="title" class="card-title">
                <Icon type="md-map" style="margin-right:5px;"></Icon>广告账户申请记录
            </p>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <FormItem label=广告平台 prop="platform"  >
                        <Select v-model="searchForm.platform" clearable style="width: 200px">
                            <Option value="Facebook" >Facebook</Option>
                            <Option value="Tiktok" >Tiktok</Option>
                            <Option value="Google" >Google</Option>
                        </Select>
                    </FormItem>
                    <Form-item label="域名" prop="domainUrl" >
                        <Input
                                type="text"
                                v-model="searchForm['domain.domainUrl']"
                                clearable
                                placeholder="域名Url"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="主体" prop="nameZh" >
                        <Input
                                type="text"
                                v-model="searchForm['company.nameZh']"
                                clearable
                                placeholder="主体名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="状态" prop="status" >
                        <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加申请表</Button>
                <Button @click="exportAllMethod" type="primary" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="域名" prop="domainId"  >
                    <Select v-model="form.domainId" placeholder="请选择" clearable filterable style="width: 300px">
                        <Option v-for="item in domainList"  :value="item.id" :key="item.id">{{item.domainUrl}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="开户主体" prop="companyId"  >
                    <Select v-model="form.companyId" placeholder="请选择" clearable filterable style="width: 300px">
                        <Option v-for="item in companyList"  :value="item.id" :key="item.id" >{{item.nameZh}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="申请广告数量" prop="adNum" >
                    <Input v-model="form.adNum" type="number" />
                </FormItem>
                <FormItem label="时区" prop="timeZone"  >
                    <Select v-model="form.timeZone" style="width: 200px">
                        <Option value="Asia/Shanghai" selected="selected">中国标准时间</Option>
                        <Option value="America/Los_Angeles" >太平洋标准时间</Option>
                    </Select>
                </FormItem>
                <FormItem label="一级代理" prop="agency1"  >
                    <Input v-model="form.agency1" />
                </FormItem>
                <FormItem label="二级代理" prop="agency2"  >
                    <Input v-model="form.agency2" />
                </FormItem>
                <FormItem label="申请日期" prop="appliedAt"  >
                    <DatePicker
                            type="date"
                            v-model="form.appliedAt"
                            format="yyyy-MM-dd"
                            placeholder="选择起始时间"
                            style="width: 200px"
                    ></DatePicker>
                </FormItem>
                <FormItem label="状态" prop="status"  >
                    <Select v-model="form.status" placeholder="请选择" clearable style="width: 300px">
                        <Option v-for="item in Object.keys(statusEnum)"  :value="item" :key="item" :disabled="item == 1">{{statusEnum[item]}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="备注" prop="note"  >
                    <Input v-model="form.note" />
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>

        <Modal
                title="申请成功录入广告账户信息"
                v-model="applySuccessModal"
                :mask-closable="false"
                :width="1500"
                :styles="{top: '30px'}"
        >
            <Row>
                <Button @click="addAd" type="primary" icon="md-add">添加（比预计申请数量多）</Button>
                <Button @click="copyAll" type="primary" icon="md-add">一键复制</Button>
            </Row>
            <Form ref="applyForm"  :label-width="120">
                <Row v-for="(item,i) in adAccountList" :index="i" :key="i">
                    <Col span="6">
                        <FormItem label="账户ID:" prop="accountId"  >
                            <Input v-model="item.accountId" />
                        </FormItem>
                    </Col>
                    <Col span="6">
                        <FormItem label="账户名称:" prop="accountName"  >
                            <Input v-model="item.accountName" />
                        </FormItem>
                    </Col>
                    <Col span="6">
                        <FormItem label="FB 主页 ID:" prop="fbPageId"  >
                            <Input v-model="item.fbPageId" placeholder='可填写多个,每个以","分割' />
                        </FormItem>
                    </Col>
                    <Col span="6">
                        <FormItem label="广告管理平台 ID:" prop="managerId"  >
                            <Select v-model="item.managerId" placeholder="请选择" clearable filterable style="width: 200px">
                                <Option v-for="manager in managerList"  :value="manager.id" :key="manager.id" >{{manager.adsManagerName}}</Option>
                            </Select>
                        </FormItem>
                    </Col>
                </Row>
            </Form>
            <div slot="footer">
                <Button type="text" @click="applySuccessModal = false">取消</Button>
                <Button type="primary" :loading="applySubmitLoading" @click="submitApplySuccess">提交</Button>
            </div>
        </Modal>
    </div>
</template>
<script>
    import {
        adAppliedRecordAPI,
        domainManageAPI,
        accountCompanyAPI,
        adsBmManageAPI,
        adAccountAPI,
    } from "@/api/starlinkApi";
    import moment from "moment";
    import utils from "../../../libs/util";
    export default {
        name: "appliedAccountRecord",
        data() {
            return {
                loading: true,
                applySubmitLoading:false,
                operationLoading: false,
                applySuccessModal: false,
                loadingExport: true,
                modalExportAll: false,
                importDataModel:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                statusEnum:{},
                searchForm: {
                    status:null,
                    platform:null,
                    "company.nameZh":null,
                    "domain.domainUrl": null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    domainId:"",
                    status:"0",
                    adNum: null,
                    companyId:"",
                    platform:"",
                    appliedAt:"",
                    openedAt:"",
                    timeZone:"",
                    agency2:"",
                    agency1:"",
                    note:"",
                },
                FormValidate: {
                    timeZone : [
                        { required: true, message: "时区不能为空", trigger:"change" },
                    ],
                    platform: [
                        { required: true, message: "平台不能为空", trigger:"change" },
                    ],
                    adNum: [
                        { required: true, message: "申请广告数量不能为空", trigger:"blur"},
                    ],
                    companyId: [
                        { required: true, message: "开户主体ID不能为空", trigger:"change", type:"number"  },
                    ],
                    domainId: [
                        { required: true, message: "域名不能为空", trigger:"change",type:"number" },
                    ]
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "域名",
                        key: "domainUrl",
                        width: 130,
                        render:(h, params) => {
                            if(params.row.domain){
                                return h("span", params.row.domain.domainUrl);
                            }
                        }
                    },
                    {
                        title: "申请时间",
                        key: "appliedAt",
                        width: 180,
                        sortable: true,
                        sortType:'desc',
                    },
                    {
                        title: "申请广告数量",
                        key: "adNum",
                        width: 90,
                        sortable: true
                    },
                    {
                        title: "公司主体",
                        width: 240,
                        align: "center",
                        render:(h, params) => {
                            if(params.row.company){
                                return h("span", params.row.company.nameZh);
                            }
                        }
                    },
                    {
                        title: "公司英文名称",
                        width: 240,
                        align: "center",
                        render:(h, params) => {
                            if(params.row.company){
                                return h("span", params.row.company.nameEn);
                            }
                        }
                    },
                    {
                        title: "状态",
                        key: "status",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.status == 0) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            } else if (params.row.status < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            } else if (params.row.status > 0 ) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.status]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "timeZone",
                        key: "timeZone",
                        sortable: true,
                        width: 200
                    },
                    {
                        title: "一级代理",
                        key: "agency1",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "二级代理",
                        key: "agency2",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "备注",
                        key: "note",
                        sortable: true,
                        width: 130
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = h(
                                "Button",
                                {
                                    props: {
                                        type: "success",
                                        size: "small"
                                    },
                                    style: {
                                        marginRight: "5px"
                                    },
                                    on: {
                                        click: () => {
                                            this.successApplied(params.row);
                                        }
                                    }
                                },
                                "申请成功"
                            );
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                                params.row.status == 0 ?  enableOrDisable : "",
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                domainList:[],
                companyList:[],
                managerList :[],
                adAccountList:[],
                currentEdit: null,
                total: 0,
            };
        },
        methods: {
            init() {
                this.getStatusEnum();
                this.getDataList();
            },
            getBMList(){
                let params={type:"enterprise"};
                adsBmManageAPI.getAll(params).then((res) =>{
                    if (res.success) {
                        this.managerList = res.result;
                    }
                })
            },
            getDomainList() {
                domainManageAPI.getAll().then((res) => {
                    if (res.success) {
                        this.domainList = res.result;
                    }
                })
            },
            getCompanyList(){
                accountCompanyAPI.getAll().then((res) =>{
                    if (res.success) {
                        this.companyList = res.result;
                    }
                })
            },
            getStatusEnum(){
                adAppliedRecordAPI.getStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                adAppliedRecordAPI.get(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            exportAllMethod(){
                adAppliedRecordAPI.getAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "申请记录数据导出"
                            });
                        }, 1000);
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitApplySuccess(){
                let count=0;
                let flag = false;
                this.adAccountList.filter((item)=>{ return item.accountId || item.accountName || item.managerId});
                this.adAccountList.forEach((item, index)=>{
                    if(!item.accountId){
                        this.$Message.error("第" +(index+1)+ "行账户id必填");
                        flag= true;
                        return;
                    }
                    if(!item.accountName){
                        this.$Message.error("第" +(index+1)+ "行账户名称必填");
                        flag= true;
                        return;
                    }
                    if(item.fbPageId){
                        item.fbPageId = (""+item.fbPageId).replace(/，/g,",");
                    }
                    if(!item.managerId){
                        this.$Message.error("第" +(index+1)+ "行Bm必选");
                        flag= true;
                        return;
                    }
                    count++;
                });
                if(!flag){
                    this.$Modal.confirm({
                            title: "确认",
                            content: "您确认申请广告信息填写正确，申请到广告数量"+ count +"?",
                            loading: true,
                            onOk: () => {
                                this.applySubmitLoading = true;
                                let param = {id:this.currentEdit.id, adAccountList: this.adAccountList};
                                adAccountAPI.add(param).then(res =>{
                                    this.applySubmitLoading = false;
                                    this.$Modal.remove();
                                    if(res.success){
                                        this.applySuccessModal = false;
                                        this.$emit("getData","刷新数据");
                                        this.adAccountList = [];
                                        this.currentEdit = {};
                                        this.$Message.success("操作成功")
                                        this.getDataList();
                                    }
                                })
                            }
                    });
                }
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if(this.form.appliedAt){
                            this.form.appliedAt = moment(this.form.appliedAt).format("YYYY-MM-DD");
                        }
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            adAppliedRecordAPI.post(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            delete this.form.updatedAt;
                            adAppliedRecordAPI.put(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                //查询BM 域名 以及公司主体 并缓存
                if(this.domainList.length <=0){
                    this.getCompanyList();
                    this.getDomainList();
                }
                this.modalType = 0;
                this.modalTitle = "添加广告申请记录";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                if(this.domainList.length <=0){
                    this.getCompanyList();
                    this.getDomainList();
                }
                this.modalType = 1;
                this.modalTitle = "编辑广告账户";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                data.status = data.status+"";
                data.adNum = data.adNum+"";
                delete data.domain;
                delete data.company;
                this.form = data;
                this.accountModalVisible = true;
            },
            copyAll(){
                if(this.adAccountList && this.adAccountList.length > 0){
                    let first = this.adAccountList[0];
                    this.adAccountList.forEach((item, index)=>{
                        if(index != 0){
                            item.fbPageId = first.fbPageId;
                            item.accountName = first.accountName;
                            item.managerId = first.managerId;
                        }
                    });
                }
            },
            successApplied(v) {
                if(this.managerList.length <= 0){
                    this.getBMList();
                }
                this.adAccountList = [];
                this.currentEdit = v;
                if(v.adNum >0){
                    for(let i =0; i < this.currentEdit.adNum; i++){
                        let adAccount = this.copy(this.currentEdit);
                        delete adAccount.company;
                        delete adAccount.domain;
                        delete adAccount.id;
                        delete adAccount.updatedTime;
                        adAccount.accountId = "";
                        adAccount.accountName = "";
                        adAccount.fbPageId = "";
                        adAccount.managerId = "";
                        this.adAccountList.push(adAccount);
                    }
                    this.applySuccessModal = true;
                }
            },
            addAd(){
                let adAccount = this.copy(this.currentEdit);
                delete adAccount.company;
                delete adAccount.domain;
                adAccount.accountId = "";
                adAccount.accountName = "";
                adAccount.fbPageId = "";
                adAccount.managerId = "";
                this.adAccountList.push(adAccount);
            },
            copy(obj){
                let that = this;
                // Handle the 3 simple types, and null or undefined or function
                if (null == obj || "object" != typeof obj) return obj;
                // Handle Date
                if (obj instanceof Date) {
                    let copy = new Date();
                    copy.setTime(obj.getTime());
                    return copy;
                }
                // Handle Array or Object
                if (obj instanceof Array | obj instanceof Object) {
                    let copy = (obj instanceof Array)?[]:{};
                    for (let attr in obj) {
                        if (obj.hasOwnProperty(attr))
                            copy[attr] = that.copy(obj[attr]);
                    }
                    return copy;
                }
                throw new Error("Unable to clone obj! Its type isn't supported.");
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
