<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="150" class="search-form">
                    <Form-item label="公司主体中文名" prop="nameZh">
                        <Input
                                type="text"
                                v-model="searchForm.nameZh"
                                clearable
                                placeholder="请输入Id"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="公司主体英文名" prop="nameEn">
                        <Input
                                type="text"
                                v-model="searchForm.nameEn"
                                clearable
                                placeholder="请输入账户名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="状态" prop="companyStatus" >
                        <Select v-model="searchForm.companyStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加主体</Button>
                <Button @click="updateStatusModelVisible = true" >批量更新状态</Button>
<!--                <Button @click="exportTemplate" >下载模板</Button>-->
<!--                <Button @click="importDataModel = true" >批量导入</Button>-->
                <Button @click="modalExportAll = true" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="状态变更"
               v-model="updateStatusModelVisible"
               :width="500"
               :styles="{top: '30px'}"
        >
            <Select v-model="updateStatus" placeholder="请选择" clearable style="width: 300px">
                <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
            </Select>
            <div slot="footer">
                <Button type="text" @click="updateStatusModelVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdateStatus">提交</Button>
            </div>
        </Modal>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="公司主体中文名" prop="nameZh"  >
                    <Input v-model="form.nameZh" autocomplete="off" />
                </FormItem>
                <FormItem label="公司主体英文名" prop="nameEn"  >
                    <Input v-model="form.nameEn" autocomplete="off" />
                </FormItem>
                <FormItem label="统一社会信用代码" prop="companyUsci"  >
                    <Input v-model="form.companyUsci" />
                </FormItem>
                <FormItem label="中文地址" prop="addressZh"  >
                    <Input v-model="form.addressZh"  />
                </FormItem>
                <FormItem label="英文地址" prop="addressEn"  >
                    <Input v-model="form.addressEn"  />
                </FormItem>
                <FormItem label="状态" prop="companyStatus"  >
                    <Select v-model="form.companyStatus" placeholder="请选择" clearable style="width: 300px">
                        <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                    </Select>
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
        <Modal title="导入站点数据"
               v-model="importDataModel"
               :mask-closable="false"
               :width="650"
               :styles="{top: '50px'}">
            <upload-excel :before-upload="beforeUpload" :on-success="handleSuccess"></upload-excel>
            <div slot="footer">
                <Button type="primary" @click="importDataModel = false" >取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        accountCompanyAPI,
    } from "@/api/starlinkApi";
    import uploadExcel from "../../my-components/xboot/upload-excel";
    export default {
        name: "bmAccountManage",
        components:{
            uploadExcel,
        },
        data() {
            return {
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                importDataModel:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                statusEnum:{},
                searchForm: {
                    nameZh:null,
                    nameEn: null,
                    companyStatus:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                updateStatusModelVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    nameZh:"",
                    nameEn:"",
                    companyStatus: 1,
                    companyUsci: "",
                    addressZh:"",
                    addressEn:"",
                },
                FormValidate: {
                    nameZh: [
                        { required: true, message: "公司主体中文名", trigger:"blur"},
                    ],
                    nameEn: [
                        { required: true, message: "公司主体英文名", trigger:"blur" },
                    ],
                    companyUsci : [
                        { required: true, message: "统一社会信用代码", trigger:"blur" }
                    ]
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "账户",
                        key: "id",
                        width: 180,
                        sortable: true,
                    },
                    {
                        title: "中文名",
                        key: "nameZh",
                        sortable: true,
                    },
                    {
                        title: "英文名",
                        key: "nameEn",
                        sortable: true,
                    },
                    {
                        title: "社会信用代码",
                        key: "nameEn",
                        sortable: true,
                    },
                    {
                        title: "状态",
                        key: "accountStatus",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.companyStatus == 0) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.companyStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.companyStatus < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.companyStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.companyStatus > 0 ) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.companyStatus]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "创建时间",
                        key: "createdAt",
                        sortable: true,
                        width: 200
                    },
                    {
                        title: "更新时间",
                        key: "updatedAt",
                        sortable: true,
                        width: 200
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                domainList:[],
                usedDomainList:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getStatusEnum();
                this.getDataList();
            },
            getStatusEnum(){
                accountCompanyAPI.getStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            beforeUpload(file) {
                const isLt1M = file.size / 1024 / 1024 < 10;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入10M以内的文件',
                    type: 'warning'
                });
                return false
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                accountCompanyAPI.get(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            exportAllMethod(){
                accountCompanyAPI.getAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "公司主体数据导出"
                            });
                        }, 1000);
                    }
                });
            },
            handleSuccess({ results, header }) {
                let flag = false;
                let message = "";
                //遍历校验
                results.forEach(function(item,i){
                    item.accountStatus = 0;
                    if(!item.accountId){
                        flag=true;
                        message = message+"第"+(i+1)+"行账户id不能为空";
                    }else if(!item.accountName){
                        flag=true;
                        message = message+"第"+(i+1)+"行账户名称不能为空";
                    }
                });
                if(flag){
                    this.$Message.error(message);
                }
                this.$Modal.confirm({
                    title: "确认导入",
                    content: "您确认要导入模板中 " + results.length + " 条数据?",
                    onOk: () => {
                        accountCompanyAPI.import(results).then((res)=>{
                            if(res.success){
                                this.importDataModel = false;
                                this.$Message.success({content:res.message, duration:3});
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            accountCompanyAPI.post(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            delete this.form.updateAt;
                            accountCompanyAPI.put(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                this.modalType = 0;
                this.modalTitle = "添加广告账户";
                this.$refs.form.resetFields();
                if(this.selectCount > 0){
                    if(this.selectCount == 1){
                        this.form = this.selectList[0];
                        delete this.form.accountId;
                        delete this.form.accountStatus;
                    }else{
                        this.$Message.warning("只能选择一个账户进行复制添加")
                    }
                }
                this.accountModalVisible = true;
            },
            edit(v) {
                this.modalType = 1;
                this.modalTitle = "编辑广告账户";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                data.companyStatus = data.companyStatus+"";
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用站点 " + v.accountName + " ?",
                    loading: true,
                    onOk: () => {
                        let param = {ids: [v.accountId], status :1};
                        accountCompanyAPI.batchUpdateStatus(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            exportTemplate(){
                import('@/vendor/Export2Excel').then(excel => {
                    delete this.form.accountStatus;
                    let tHeader = Object.keys(this.form);
                    let data = [];
                    excel.export_json_to_excel({
                        header: tHeader, //表头 必填
                        data, //具体数据 必填
                        filename: '导入采购单模板', //非必填
                        autoWidth: true, //非必填
                        bookType: 'xlsx' //非必填
                    });
                });
            },

            batchUpdateStatus(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
                if(this.updateStatus){
                    this.$Modal.confirm({
                        title: "确认变更",
                        content: "您确认要变更所选的 " + this.selectCount + " 条数据的状态?",
                        loading: true,
                        onOk: () => {
                            let ids = [];
                            this.selectList.forEach(function(e) {
                                ids.push(e.id);
                            });
                            let param = {ids: ids, status : this.updateStatus};
                            accountCompanyAPI.batchUpdateStatus(param).then(res => {
                                this.updateStatusModelVisible = false;
                                this.$Modal.remove();
                                if (res.success) {
                                    this.$Message.success("批量更新成功");
                                    this.clearSelectAll();
                                    this.getDataList();
                                }
                            });
                        }
                    });
                }else{
                    this.$Message.warning("请选择变更状态");
                }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
