
<style scoped>
    ul {
        list-style-type: none;
    }
    ul label{
        font-weight: 900;
        width: 150px;
        display: inline-table;
        text-align: right;
    }
    ul span{
        width: 300px;
        display: inline-table;
        margin: 0px 20px;
    }
</style>

<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="130" class="search-form">
                    <Form-item label="平台订单号" prop="orderId">
                        <Input
                                type="text"
                                v-model="searchForm.orderId"
                                clearable
                                placeholder="请输入平台订单号"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Col :lg="12">
                    <Card>
                        <p slot="title">
                            平台信息
                        </p>
                        <div v-if="platformOrderInfo && platformOrderInfo.id">
                            <Card class="base"  >
                                <p slot="title">
                                    基本信息
                                </p>
                                <ul>
                                    <li><label>ID:</label><span>{{platformOrderInfo.id}}</span></li>
                                    <li><label>name:</label><span>{{platformOrderInfo.name}}</span></li>
                                    <li><label>Toltal Amount:</label><span>{{platformOrderInfo.total_price_usd}}</span></li>
                                    <li><label>Subtotal Price:</label><span>{{platformOrderInfo.subtotal_price}}</span></li>
                                    <li><label>邮箱:</label><span>{{platformOrderInfo.contact_email}}</span></li>
                                    <li><label>First Name:</label><span>{{platformOrderInfo.customer ? platformOrderInfo.customer.first_name : ""}}</span></li>
                                    <li><label>Last Name:</label><span>{{platformOrderInfo.customer ? platformOrderInfo.customer.last_name : ""}}</span></li>
                                    <li><label>Sourse Name:</label><span>{{platformOrderInfo.customer ? platformOrderInfo.source_name: ""}}</span></li>
                                    <li><label>Gateway:</label><span>{{platformOrderInfo.gateway}}</span></li>
                                    <li><label>创建时间:</label><span>{{platformOrderInfo.created_at}}</span></li>
                                    <li><label>支付状态:</label><span>{{platformOrderInfo.financial_status}}</span></li>
                                </ul>
                            </Card>
                            <Card >
                                <p slot="title">
                                    订单明细
                                </p>
                                <Table
                                        border
                                        v-if="platformOrderInfo.line_items"
                                        :columns="platformItemColumns"
                                        :data="platformOrderInfo.line_items"
                                        sortable="custom"
                                        ref="table"
                                ></Table>
                            </Card>
                            <Card class="shipping">
                                <p slot="title">
                                    物流信息
                                </p>
                                <ul>
                                    <li><label>First Name:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.first_name :""}}</span></li>
                                    <li><label>Last Name:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.last_name:""}}</span></li>
                                    <li><label>phone:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.phone:""}}</span></li>
                                    <li><label>address1:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.address1:""}}</span></li>
                                    <li><label>address2:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.address2:""}}</span></li>
                                    <li><label>country:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.country:""}}</span></li>
                                    <li><label>province:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.province:""}}</span></li>
                                    <li><label>city:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.city:""}}</span></li>
                                    <li><label>zip:</label><span>{{platformOrderInfo.shipping_address?platformOrderInfo.shipping_address.zip:""}}</span></li>

                                </ul>
                            </Card>
                        </div>
                    </Card>
                </Col>
                <Col :lg="12">
                    <Card>
                        <p slot="title">
                            物流系统信息
                        </p>
                        <Collapse v-model="first">
                            <Panel v-for="(item, i) in orderInfo" :name="i">
                                OrderNumber:{{item.orderNumber}}
                                <Row slot="content">
                                <Card >
                                    <p slot="title">
                                        物流订单基本信息
                                    </p>
                                    <ul label-width="100">
                                        <li><label>ID:</label><span>{{item.id}}</span></li>
                                        <li><label>状态:</label><span>{{item.status}}</span></li>
                                        <li><label>ChannelIdt:</label><span>{{item.channelId}}</span></li>
                                        <li><label>OrderNumber:</label><span>{{item.orderNumber}}</span></li>
                                        <li><label>TotalAmount:</label><span>{{item.totalAmount}}</span></li>
                                        <li><label>TrackingNumber:</label><span>{{item.trackingNumber}}</span></li>
                                        <li><label>PaidTime:</label><span>{{item.paidTime}}</span></li>
                                        <li><label>ShippedTime:</label><span>{{item.shippedTime}}</span></li>
                                        <div v-if="item.packages">
                                            <li><label>PackageNumber:</label><span>{{item.packages.packageNumber}}</span></li>
                                            <li><label>SsName:</label><span>{{item.packages.ssName}}</span></li>
                                            <li><label>TrackingNumber:</label><span>{{item.packages.trackingNumber}}</span></li>
                                            <li><label>包裹Status:</label><span>{{item.packages.status}}</span></li>
                                            <li><label>ShippingAddress1:</label><span>{{item.packages.shippingaddressAddressline1}}</span></li>
                                            <li><label>ShippingAddress2:</label><span>{{item.packages.shippingaddressAddressline2}}</span></li>
                                            <li><label>ShippingaddressCity:</label><span>{{item.packages.shippingaddressCity}}</span></li>
                                            <li><label>ShippingProvince:</label><span>{{item.packages.shippingaddressStateorprovince}}</span></li>
                                            <li><label>ShippingPostalcode:</label><span>{{item.packages.shippingaddressPostalcode}}</span></li>
                                        </div>
                                    </ul>
                                </Card>
                                <Card >
                                    <p slot="title">
                                        商品明细
                                    </p>
                                    <Table
                                            border
                                            :columns="omsItemColumns"
                                            :data="item.itemList"
                                            sortable="custom"
                                            ref="table"
                                    ></Table>
                                </Card>
                                </Row>
                            </Panel>
                        </Collapse>
                    </Card>
                </Col>
            </Row>
        </Card>
    </div>
</template>

<script>
    import omsAPI from "@/api/oms";
    import {getOrderInfo} from "@/api/bu8api";
    import Viewer from "v-viewer/src/component";
    export default {
        name: "orderQuery.vue",
        data() {
            return {
                orderInfo:[],
                platformOrderInfo:{},
                searchForm:{
                    orderId: null,
                },
                show:false,
                showOms:false,
                first:"0",
                platformItemColumns:[
                    {
                        title: "sku",
                        key: "sku",
                        width: 140,
                        align: "left"
                    },
                    {
                        title: "title",
                        key: "title",
                        width: 200,
                        align: "left"
                    },
                    {
                        title: "quantity",
                        key: "quantity",
                        width: 100,
                        align: "left"
                    },
                    {
                        title: "price",
                        key: "price",
                        width: 80,
                        align: "left"
                    },
                    {
                        title: "total_discount",
                        key: "total_discount",
                        width: 100,
                        align: "left"
                    },
                ],
                omsItemColumns:[
                    {
                        title: "图片",
                        key: "productImgUrl",
                        width: 100,
                        align: "left",
                        render: (h, params) => {
                            return h(Viewer, [h('img', {
                                attrs: {
                                    src: params.row.productImgUrl,
                                },
                                style: {
                                    width: '60px',
                                    height: '60px',
                                }
                            })])
                        }
                    },
                    {
                        title: "skuCode",
                        key: "skuCode",
                        width: 120,
                        align: "left"
                    },
                    {
                        title: "title",
                        key: "title",
                        width: 260,
                        align: "left"
                    },
                    {
                        title: "quantity",
                        key: "quantity",
                        width: 90,
                        align: "left"
                    },
                    {
                        title: "priceAmount",
                        key: "priceAmount",
                        width: 120,
                        align: "left"
                    },
                ],
            }
        },
        methods: {
            handleSearch(){
                if(this.searchForm.orderId){
                    this.queryPlatformOrderInfo();
                    this.queryOmsOrderInfo();
                }else{
                    this.orderInfo=[];
                    this.platformOrderInfo={};
                }
            },
            queryPlatformOrderInfo(){
                getOrderInfo(this.searchForm).then((res)=>{
                    if(res.success){
                        this.platformOrderInfo = res.result;
                    }
                })
            },
            queryOmsOrderInfo(){
                let param = {ExternalOrderId: this.searchForm.orderId};
                omsAPI.getOrderInfo(param).then((res)=>{
                    if(res.success){
                        this.orderInfo = res.result;
                    }
                });
            }
        }
    }
</script>
