<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="80" class="search-form">
                    <Form-item label="域名" prop="domainId">
                        <Select v-model="searchForm.domainIdList" clearable  filterable multiple style="width: 200px">
                            <Option v-for="item in userDomainList" :value="item.domainId" :key="item.domainId" :label="item.domainUrl" >
                                <span style="margin-right:10px;">{{ item.domainUrl }}</span>
                            </Option>
                        </Select>
                    </Form-item>
                    <Form-item label="根据域名汇总" prop="flag">
                        <Select v-model="searchForm.flag" clearable  style="width: 150px">
                            <Option value="true" >是</Option>
                            <Option value="false" selected="selected">否</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="时区" prop="timeZone">
                        <Select v-model="searchForm.timeZone" style="width: 200px">
                            <Option value="Asia/Shanghai" selected="selected">中国标准时间</Option>
                            <Option value="America/Los_Angeles" >太平洋标准时间</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="时间" prop="selectDate">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="exportAll"  type="primary">导出全部数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        stripe
                        :columns="searchForm.flag == 'true' ? columnsFlag : columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        show-summary
                        :summary-method="handleSummary"
                        sum-text="总和"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Card style="margin-top: 20px">
            <Row>
                <Tabs type="card" @on-click="changeReport" :animated="false" >
                    <TabPane label="订单" name="Order" icon="logo-apple">
                         <base-charts ref="OrderCharts" id="OrderCharts" width="1000px" height="400px"></base-charts>
                    </TabPane>
                    <TabPane label="销售额" name="Sale" icon="logo-apple">
                        <base-charts ref="SaleCharts" id="SaleCharts" width="1000px" height="400px"></base-charts>
                    </TabPane>
                    <TabPane label="客单价" name="CustomerUnitPrice" icon="logo-apple">
                        <base-charts ref="CustomerUnitPriceCharts" id="CustomerUnitPriceCharts" width="1000px" height="400px"></base-charts>
                    </TabPane>
                </Tabs>
            </Row>
        </Card>
    </div>

</template>

<script>
    import {
        getUserDomain,
        easeseaOrderApi,
    } from "@/api/easeseaApi";
    import baseCharts from "../../my-components/echarts/baseCharts";
    import moment from 'moment';
    export default {
        name: "orderDetail",
        components:{
            baseCharts,
        },
        data() {
            return {
                loading: true,
                operationLoading: false,
                drop: false,
                loadingExport:false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                selectDate:null,
                modalExportAll:false,
                searchForm: {
                    domainIdList: null,
                    flag:"false",
                    timeZone:"Asia/Shanghai",
                    pageNumber: 1,
                    pageSize: 20,
                },
                exportData:[],
                currentPane:'Order',
                reportSelectDate:'',
                columns: [
                    {
                        title: "日期",
                        key: "cdate",
                        sortable: true,
                        width: "120",
                        sortType: "desc",
                        fixed: "left",
                    },
                    {
                        title: "弃单",
                        key: "abandonedOrders",
                        sortable: true,
                        width: "100",
                    },
                    {
                        title: "召回订单",
                        key: "recoverOrders",
                        sortable: true,
                        width: "100",
                    },
                    {
                        title: "订单",
                        key: "totalOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "有效订单",
                        key: "validOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "复购",
                        key: "returning",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "发货订单",
                        key: "fulfilledOrders",
                        width:"90",
                        sortable: true
                    },
                    {
                        title: "出单产品",
                        key: "productsCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "出单SPU",
                        key: "spuCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "件数",
                        key: "quantitySum",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "连带率",
                        key:"rate",
                        sortable: true,
                        width:"80",
                        render: (h, params) => {
                            if (params.row.quantitySum && params.row.totalOrders) {
                                let rate = (Number(params.row.quantitySum) / Number(params.row.totalOrders)).toFixed(2);
                                return h("div", rate);
                            }
                        },
                    },
                    {
                        title: "广告花费",
                        key: "spend",
                        width:"100",
                        sortable: true
                    },
                    // {
                    //     title: "FB购买",
                    //     key: "purchase",
                    //     width:"100",
                    //     sortable: true
                    // },
                    // {
                    //     title: "FB金额",
                    //     key: "purchaseValue",
                    //     width:"100",
                    //     sortable: true
                    // },
                    {
                        title: "总金额",
                        key: "totalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "净金额",
                        key: "netTotalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "整体ROAS",
                        key: "roas",
                        width:"100",
                        sortable: true
                    },
                ],
                columnsFlag: [
                    {
                        title: "域名",
                        key: "domainId",
                        width: "120",
                        fixed: "left",
                        render: (h, params) => {
                            return h('div',this.domainUrlMap[params.row.domainId]);
                        },
                    },
                    {
                        title: "日期",
                        key: "cdate",
                        sortable: true,
                        width: "120",
                        sortType: "desc",
                        fixed: "left",
                    },
                    {
                        title: "弃单",
                        key: "abandonedOrders",
                        sortable: true,
                        width: "100",
                    },
                    {
                        title: "召回订单",
                        key: "recoverOrders",
                        sortable: true,
                        width: "100",
                    },
                    {
                        title: "订单",
                        key: "totalOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "有效订单",
                        key: "validOrders",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "复购",
                        key: "returning",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "发货订单",
                        key: "fulfilledOrders",
                        width:"90",
                        sortable: true
                    },
                    {
                        title: "出单产品",
                        key: "productsCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "出单SPU",
                        key: "spuCount",
                        width:"80",
                        sortable: true
                    },
                    {
                        title: "件数",
                        key: "quantitySum",
                        width:"70",
                        sortable: true
                    },
                    {
                        title: "连带率",
                        key:"rate",
                        sortable: true,
                        width:"80",
                        render: (h, params) => {
                            if (params.row.quantitySum && params.row.totalOrders) {
                                let rate = (Number(params.row.quantitySum) / Number(params.row.totalOrders)).toFixed(2);
                                return h("div", rate);
                            }
                        },
                    },
                    {
                        title: "广告花费",
                        key: "spend",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "FB购买",
                        key: "purchase",
                        width:"100",
                        sortable: true
                    },
                    // {
                    //     title: "FB金额",
                    //     key: "purchaseValue",
                    //     width:"100",
                    //     sortable: true
                    // },
                    // {
                    //     title: "总金额",
                    //     key: "totalAmount",
                    //     width:"100",
                    //     sortable: true
                    // },
                    {
                        title: "净金额",
                        key: "netTotalAmount",
                        width:"100",
                        sortable: true
                    },
                    {
                        title: "整体ROAS",
                        key: "roas",
                        width:"100",
                        sortable: true
                    },
                ],
                data: [],
                dataAll:[],
                domainUrlMap:{},
                userDomainList:[],
                total: 0,
                sortKey: "cdate",
                sortOrder: "desc",
            };
        },
        methods: {
            init() {
                this.getDates();
                this.getDomainList();
                this.getDataList();
            },
            handleSummary ({ columns, data }) {
                const sums = {};
                columns.forEach((column, index) => {
                    const key = column.key;
                    if (index === 0) {
                        sums[key] = {
                            key,
                            value: '总和'
                        };
                        return;
                    }
                    const values = data.map(item => Number(item[key]));
                    if (!values.every(value => isNaN(value))) {
                        const v = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[key] = {
                            key,
                            value:  Math.round(v*100) / 100
                        };
                    } else {
                        sums[key] = {
                            key,
                            value: ''
                        };
                    }
                });
                sums["rate"] = {key:"rate",value:Math.round(sums["quantitySum"].value / sums["totalOrders"].value *100) /100 };
                sums["roas"] = {key:"roas",value:Math.round(sums["netTotalAmount"].value / sums["spend"].value *100) /100};
                return sums;
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.jsPage();
            },
            exportAll(){
                this.modalExportAll=true;
            },
            exportAllMethod(){
                let param = this.searchForm;
                this.exportData = this.dataAll;
                setTimeout(() => {
                    this.$refs.exportTable.exportCsv({
                        filename: "产品全部数据"
                    });
                }, 1000);
            },
            getDomainList(){
                getUserDomain().then(res =>{
                    if(res.success){
                        this.userDomainList = res.result;
                        this.userDomainList.forEach((item)=>{
                            this.domainUrlMap[item.domainId] = item.domainUrl;
                        })
                    }
                })
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.jsPage();
            },
            getDataList() {
                // 多条件搜索用户列表
                if(!this.searchForm.startDate){
                    this.$Message.error("请选择时间");
                    return;
                }
                if(moment(this.searchForm.endDate).subtract(90,'day').isAfter(moment(this.searchForm.startDate))){
                    this.$Message.error("时间范围不能超过3个月");
                    return;
                };
                this.loading = true;
                easeseaOrderApi.findOrderStatisticByTime(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.dataAll = res.result;
                        this.total = res.result.length;
                        this.dataAll.sort(this.sortMethod);
                        this.jsPage();
                        this.changeReport(this.currentPane);
                    }
                });
            },
            jsPage(){
                let start = (this.searchForm.pageNumber-1) *  this.searchForm.pageSize;
                this.data = this.dataAll.slice(start, start + this.searchForm.pageSize);
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 20;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.getDates();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 20;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.sortKey = e.key;
                this.sortOrder = e.order;
                this.dataAll.sort(this.sortMethod);
                this.jsPage();
            },
            sortMethod(a, b){
                if(this.sortOrder == "asc"){
                    return a[this.sortKey] > b[this.sortKey] ? 1: -1;
                }else if(this.sortOrder == "desc"){
                    return a[this.sortKey] < b[this.sortKey] ? 1: -1;
                }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            selectDateRange(v) {
                if (v) {
                    if(!v[0]){
                        this.$Message.error("请选择时间");
                        this.searchForm.startDate ='' ;
                        this.searchForm.endDate = '';
                        return;
                    }
                    if(moment(v[1]).subtract(90,'day').isAfter(moment(v[0]))){
                        this.$Message.error("时间范围不能超过3个月");
                    };
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            getDates() {
                const end = moment().format("YYYY-MM-DD 23:59:59");
                const start = moment().subtract(10,'day').format("YYYY-MM-DD 00:00:00");
                this.selectDate = [start, end];
                this.searchForm.startDate = start;
                this.searchForm.endDate = end;
            },
            getChartDataMethod(filed, chartDataList){
                //step 1 获得x 轴 以及Y轴的 value
                let charts = {category:[],series:[]};
                let categorySet = new Set();
                let nameSeries = {};
                let value = {};
                let nameSize = 0;
                chartDataList.forEach((item)=>{
                    categorySet.add(item.cdate);
                    let domainUrl = this.domainUrlMap[item.domainId];
                    if(!nameSeries[item.domainId]){
                        nameSeries[item.domainId] = {name:domainUrl,data:[],type:"line"};
                    }
                    if(filed == "UnitPrice"){
                        value[item.cdate+item.domainId] = Number(item.netTotalAmount / item.validOrders).toFixed(2);
                    }else{
                        value[item.cdate+item.domainId] = item[filed];
                    }
                })
                //放入value
                for(let key in nameSeries){
                    categorySet.forEach((category)=>{
                        nameSeries[key].data.push(value[category+key]);
                    });
                    charts.series.push(nameSeries[key]);
                    if(nameSize >= 5){
                        break;
                    }
                    nameSize++;
                }
                charts.category = Array.from(categorySet);
                return charts
            },
            changeReport(v){
                this.currentPane = v;
                let chartData = this.dataAll.slice(0, this.dataAll.length);
                chartData.sort((item1, item2)=>{
                     if(item1.cdate > item2.cdate){
                         return 1;
                     }else{
                         return -1;
                     };
                });

                if(chartData.length > 0){
                    if(v == "Order"){
                        if(this.searchForm.flag == "true"){
                            let orders = this.getChartDataMethod("validOrders", chartData);
                            this.$refs.OrderCharts.reDraw(orders);
                        }else{
                            const series = {name:"default",data:[],type:"line"};
                            let orders = {category:[],series:[]};
                            chartData.forEach((item)=>{
                                orders.category.push(item.cdate);
                                series.data.push(item.validOrders);
                            });
                            orders.series.push(series);
                            this.$refs.OrderCharts.reDraw(orders);
                        }
                    }else if(v == "Sale"){
                        if(this.searchForm.flag == "true"){
                            let sale = this.getChartDataMethod("netTotalAmount", chartData);
                            this.$refs.SaleCharts.reDraw(sale);
                        }else {
                            let sale = {category: [], series: []};
                            const series = {name: "default", data: [], type: "line"};
                            chartData.forEach((item) => {
                                sale.category.push(item.cdate);
                                series.data.push(item.netTotalAmount);
                            });
                            sale.series.push(series);
                            this.$refs.SaleCharts.reDraw(sale);
                        }
                    }else if(v == "CustomerUnitPrice"){
                        if(this.searchForm.flag == "true"){
                            let UnitPrice = this.getChartDataMethod("UnitPrice", chartData);
                            this.$refs.CustomerUnitPriceCharts.reDraw(UnitPrice);
                        }else {
                            let UnitPrice = {category: [], series: []};
                            const series = {name: "default", data: [], type: "line"};
                            chartData.forEach((item) => {
                                UnitPrice.category.push(item.cdate);
                                series.data.push(Number(item.netTotalAmount / item.validOrders).toFixed(2));
                            });
                            UnitPrice.series.push(series);
                            this.$refs.CustomerUnitPriceCharts.reDraw(UnitPrice);
                        }
                    }
                }else{
                    this.$refs.OrderCharts.noDataMethod();
                    this.$refs.SaleCharts.noDataMethod();
                    this.$refs.CustomerUnitPriceCharts.noDataMethod();
                }
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
