<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="100" class="search-form">
                    <Form-item label="域名" prop="domainUrl">
                        <Input
                                type="text"
                                v-model="searchForm.domainUrl"
                                clearable
                                placeholder="请输入账户名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <Form-item label="状态" prop="domainStatus" >
                        <Select v-model="searchForm.domainStatus" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                        </Select>
                    </Form-item>
                    <FormItem label="后台站点" prop="backendId"  >
                        <Select v-model="searchForm.backendId" placeholder="请选择" clearable filterable style="width: 200px">
                            <Option v-for="(item, i) in backendList" :key="i" :value="item.backendId">{{item.storeName}}</Option>
                        </Select>
                    </FormItem>
                    <span v-if="drop">
                    <Form-item label="Shopify是否封过" prop="domainStatus" >
                        <Select v-model="searchForm.shopifyDisabled" placeholder="请选择" clearable style="width: 200px">
                            <Option v-for="item in dictTrueOrFalse"  :value="item.value">{{item.title}}</Option>
                        </Select>
                    </Form-item>
                    <Form-item label="过期时间" prop="expiredAt" >
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加站点</Button>
                <Button @click="updateStatusModelVisible = true" >批量更新状态</Button>
                <Button @click="exportTemplate" >下载模板</Button>
                <Button @click="importDataModel = true" >批量导入</Button>
                <Button @click="modalExportAll = true" >导出数据</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
                <Table :columns="columns" :data="exportData" ref="exportTable" style="display:none"></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Modal title="状态变更"
               v-model="updateStatusModelVisible"
               :width="500"
               :styles="{top: '30px'}"
        >
                <Select v-model="updateStatus" placeholder="请选择" clearable style="width: 300px">
                    <Option v-for="item in Object.keys(statusEnum)"  :value="item">{{statusEnum[item]}}</Option>
                </Select>
            <div slot="footer">
                <Button type="text" @click="updateStatusModelVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdateStatus">提交</Button>
            </div>
        </Modal>
        <Modal v-model="modalExportAll" title="确认导出" :loading="loadingExport" @on-ok="exportAllMethod">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="700"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="140" :rules="FormValidate">
                <FormItem label="域名地址" prop="domainUrl"  >
                    <Input v-model="form.domainUrl" autocomplete="off" />
                </FormItem>
                <FormItem label="过期时间" prop="expiredAt"  >
                    <DatePicker
                            type="date"
                            v-model="form.expiredAt"
                            format="yyyy-MM-dd"
                            placeholder="选择起始时间"
                            style="width: 200px"
                    ></DatePicker>
                </FormItem>
                <FormItem label="后台站点" prop="backendId"  >
                    <Select v-model="form.backendId" placeholder="请选择" clearable filterable style="width: 200px">
                        <Option v-for="(item, i) in backendList" :key="i" :value="item.backendId" :disabled="item.storeStatus != 0 ? true : false">{{item.storeName}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="logoUrl" prop="logoUrl">
                    <Input v-model="form.logoUrl" ></Input>
                </FormItem>
                <FormItem label="googleAccount" prop="googleAccount">
                    <Input v-model="form.googleAccount" ></Input>
                </FormItem>
                <FormItem label="googlePassword" prop="googlePassword">
                    <Input v-model="form.googlePassword" ></Input>
                </FormItem>
                <FormItem label="insPassword" prop="insPassword">
                    <Input v-model="form.insPassword" ></Input>
                </FormItem>
                <FormItem label="note" prop="note">
                    <Input v-model="form.note" ></Input>
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
        <Modal title="导入站点数据"
               v-model="importDataModel"
               :mask-closable="false"
               :width="650"
               :styles="{top: '50px'}">
            <upload-excel :before-upload="beforeUpload" :on-success="handleSuccess"></upload-excel>
            <div slot="footer">
                <Button type="primary" @click="importDataModel = false" >取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        domainAPI,
        domainGetAll,
        getDomainStatusEnum,
        domainUpdateStatusByIds,
        domainImport,
        backendGetEnableCache,
        backendGetAll,
    } from "@/api/easeseaApi";
    import moment from 'moment';
    import uploadExcel from "../../my-components/xboot/upload-excel";
    export default {
        name: "domainAccountManage",
        components:{
            uploadExcel,
        },
        data() {
            return {
                selectDate:null,
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                importDataModel:false,
                updateStatusModelVisible:false,
                drop: false,
                updateStatus:"",
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                dictTrueOrFalse: this.$store.state.dict.type.trueOrFalse,
                statusEnum:{},
                searchForm: {
                    domainUrl: null,
                    domainStatus: null,
                    shopifyDisabled:null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    domainUrl:"",
                    backendId:0,
                    expiredAt:"",
                    logoUrl:"",
                    googleAccount:"",
                    googlePassword:"",
                    insPassword:"",
                    note:"",
                },
                FormValidate: {
                    domainUrl: [
                        { required: true, message: "站点名称不能为空", trigger:"blur" },
                    ],
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "ID",
                        key: "domainId",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "域名",
                        key: "domainUrl",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "后台ID",
                        key: "backendId",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "过期时间",
                        key: "expiredAt",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "创建时间",
                        key: "createdAt",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "更新时间",
                        key: "updatedAt",
                        width: 180,
                        sortable: true
                    },
                    {
                        title: "google账户",
                        key: "googleAccount",
                        width: 200,
                        align: "center"
                    },

                    {
                        title: "状态",
                        key: "domainStatus",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.domainStatus == 0) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: this.statusEnum[params.row.domainStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.domainStatus < 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: this.statusEnum[params.row.domainStatus]
                                        }
                                    })
                                ]);
                            } else if (params.row.domainStatus > 1 ) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: this.statusEnum[params.row.domainStatus]
                                        }
                                    })
                                ]);
                            }
                        },
                    },
                    {
                        title: "note",
                        key: "note",
                        sortable: true,
                        sortType: "desc",
                        width: 130
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                            ]);
                        }
                    }
                ],
                data: [],
                exportData:[],
                backendList:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getBackEndByStatus();
                this.getStatusEnum();
                this.getDataList();
            },
            getBackEndByStatus(){
                backendGetAll().then((res)=>{
                    if(res.success){
                        this.backendList = res.result;
                    }
                })
            },
            getStatusEnum(){
                getDomainStatusEnum().then((res)=>{
                    if(res.success){
                        this.statusEnum = res.result;
                    }
                })
            },
            beforeUpload(file) {
                const isLt1M = file.size / 1024 / 1024 < 10;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入10M以内的文件',
                    type: 'warning'
                });
                return false
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                domainAPI('get',this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            selectDateRange(v) {
                if (v) {
                    this.searchForm.startDate = v[0] + ' 00:00:00';
                    this.searchForm.endDate = v[1] + ' 23:59:59';
                }
            },
            exportAllMethod(){
                domainGetAll(this.searchForm).then(res => {
                    this.modalExportAll = false;
                    if (res.success) {
                        this.exportData = res.result;
                        setTimeout(() => {
                            this.$refs.exportTable.exportCsv({
                                filename: "站点全部数据"
                            });
                        }, 1000);
                    }
                });
            },
            handleSuccess({ results, header }) {
                let flag = false;
                let message = "";
                //遍历校验
                results.forEach(function(item,i){
                    item.domainStatus = 0;
                    item.shopifyDisable = 0;
                    if(!item.domainUrl){
                        flag = true;
                        message = message+"第"+(i+1)+"行域名不能为空";
                    }
                });
                if(flag){
                    this.$Message.error(message);
                }
                this.$Modal.confirm({
                    title: "确认导入",
                    content: "您确认要导入模板中 " + results.length + " 条数据?",
                    onOk: () => {
                        domainImport(results).then((res)=>{
                            if(res.success){
                                this.importDataModel = false;
                                this.$Message.success({content:res.message, duration:3});
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        this.form.expiredAt = moment(this.form.expiredAt).format("YYYY-MM-DD");
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id
                            domainAPI('post', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            delete this.form.updateAt;
                            domainAPI('put', this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                this.modalType = 0;
                this.modalTitle = "添加后台站点";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                this.modalType = 1;
                this.modalTitle = "编辑后台站点";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用站点 " + v.storeName + " ?",
                    loading: true,
                    onOk: () => {
                        let param = {ids: [v.domainId], status :2};
                        domainUpdateStatusByIds(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            exportTemplate(){
                import('@/vendor/Export2Excel').then(excel => {
                    delete this.form.accountStatus;
                    delete this.form.shopifyDisabled;
                    let tHeader = Object.keys(this.form);
                    let data = [];
                    excel.export_json_to_excel({
                        header: tHeader, //表头 必填
                        data, //具体数据 必填
                        filename: '导入domain信息模板', //非必填
                        autoWidth: true, //非必填
                        bookType: 'xlsx' //非必填
                    });
                });
            },
            enableAll(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用所选的 " + this.selectCount + " 条数据?",
                    loading: true,
                    onOk: () => {
                        let ids = [];
                        this.selectList.forEach(function(e) {
                            ids.push(e.accountId);
                        });
                        let param = {ids: ids, status :1};
                        domainUpdateStatusByIds(param).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("批量启用成功");
                                this.clearSelectAll();
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            batchUpdateStatus(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
               if(this.updateStatus){
                   this.$Modal.confirm({
                       title: "确认变更",
                       content: "您确认要变更所选的 " + this.selectCount + " 条数据的状态?",
                       loading: true,
                       onOk: () => {
                           let ids = "";
                           this.selectList.forEach(function(e) {
                               ids += e.domainId + ",";
                           });
                           ids = ids.substring(0, ids.length - 1);
                           let param = {ids: ids, status :this.updateStatus};
                           domainUpdateStatusByIds(param).then(res => {
                               this.updateStatusModelVisible = false;
                               this.$Modal.remove();
                               if (res.success) {
                                   this.$Message.success("批量更新成功");
                                   this.clearSelectAll();
                                   this.getDataList();
                               }
                           });
                       }
                   });
               }else{
                   this.$Message.warning("请选择变更状态");
               }
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
