<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                    <Form-item label="站点" prop="storeCode">
                        <Select v-model="searchForm.storeCode" clearable  filterable style="width: 200px">
                            <Option v-for="item in storeCodes" :value="item.storeCode" :key="item.storeCode" :label="item.storeName">
                                <span style="margin-right:10px;">{{ item.storeCode }}</span>
                                <span style="color:#ccc;">{{ item.storeName }}</span>
                            </Option>
                        </Select>
                    </Form-item>
                    <Form-item label="站点名称" prop="shopifyName">
                        <Input
                                type="text"
                                v-model="searchForm.shopifyName"
                                clearable
                                placeholder="请输入站点名称"
                                style="width: 200px"
                        />
                    </Form-item>
                    <span v-if="drop">
                        <Form-item label="站点状态" prop="storeStatus" >
                            <Select v-model="searchForm.storeStatus" placeholder="请选择" clearable style="width: 200px">
                                <Option value="0">新建</Option>
                                <Option value="1">启用</Option>
                                <Option value="2">废弃</Option>
                            </Select>
                        </Form-item>
                    </span>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                        <a class="drop-down" @click="dropDown">
                            {{dropDownContent}}
                            <Icon :type="dropDownIcon"></Icon>
                        </a>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" icon="md-add">添加站点</Button>
                <Button @click="enableAll" >批量启用</Button>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,20,50]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>

        <Modal
                :title="modalTitle"
                v-model="accountModalVisible"
                :mask-closable="false"
                :width="500"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="70" :rules="FormValidate">
                <FormItem label="站点code" prop="store_code">
                    <Input v-model="form.storeCode" autocomplete="off" />
                </FormItem>
                <FormItem label="站点名称" prop="storeName"  >
                    <Input v-model="form.storeName" autocomplete="off" />
                </FormItem>
                <FormItem label="店铺别名" prop="shopifyName"  >
                    <Input v-model="form.shopifyName" />
                </FormItem>
                <FormItem label="店铺前端url" prop="storeUrl"  >
                    <Input v-model="form.storeUrl" />
                </FormItem>
                <FormItem label="店铺后端url" prop="adminUrl"  >
                    <Input v-model="form.adminUrl" />
                </FormItem>
                <FormItem label="LOGO URL" prop="logoUrl"  >
                    <Input v-model="form.logoUrl" />
                </FormItem>
                <FormItem label="API  KEY" prop="apiKey"  >
                    <Input v-model="form.apiKey" />
                </FormItem>

                <FormItem label="API Password" prop="apiPassword"  >
                    <Input v-model="form.apiPassword" />
                </FormItem>
                <FormItem label="Shared Secret" prop="sharedSecret"  >
                    <Input v-model="form.sharedSecret" />
                </FormItem>
                <FormItem label="staff" prop="staff"  >
                    <Input v-model="form.staff" />
                </FormItem>
                <FormItem label="Google 邮箱" prop="googleAccount"  >
                    <Input v-model="form.googleAccount" />
                </FormItem>
                <FormItem label="邮箱密码" prop="googlePassword"  >
                    <Input v-model="form.googlePassword" password type="password"/>
                </FormItem>
                <FormItem label="paypal" prop="paypal"  >
                    <Input v-model="form.paypal" />
                </FormItem>
                <FormItem label="广告账户主体" prop="facebookCompany"  >
                    <Input v-model="form.facebookCompany" />
                </FormItem>
                <FormItem label="instagramPassword" prop="instagramPassword"  >
                    <Input v-model="form.instagramPassword" password type="password" />
                </FormItem>
                <FormItem label="note" prop="note"  >
                    <Input v-model="form.note" />
                </FormItem>
                <FormItem label="shopifyPlan" prop="shopifyPlan"  >
                    <Input v-model="form.shopifyPlan" />
                </FormItem>
                <FormItem label="addressLine1" prop="addressLine1"  >
                    <Input v-model="form.addressLine1" />
                </FormItem>
                <FormItem label="addressLine2" prop="addressLine2"  >
                    <Input v-model="form.addressLine2" />
                </FormItem>
                <FormItem label="addressCity" prop="addressCity"  >
                    <Input v-model="form.addressCity" />
                </FormItem>
                <FormItem label="addressProvince" prop="addressProvince"  >
                    <Input v-model="form.addressProvince" />
                </FormItem>
                <FormItem label="addressCountryRegion" prop="addressCountryRegion"  >
                    <Input v-model="form.addressCountryRegion" />
                </FormItem>
            </Form>
            <div slot="footer">
                <Button type="text" @click="accountModalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitAccount">提交</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        getAccountListData,
        enableAccount,
        disableAccount,
        addAccount,
        editAccount,
        getUserStoreCodes,
    } from "@/api/bu8api";
    export default {
        name: "site-manage",
        data() {
            return {
                loading: true,
                operationLoading: false,
                loadingExport: true,
                modalExportAll: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                selectCount: 0,
                selectList: [],
                dataDep: [],
                searchKey: "",
                searchForm: {
                    shopifyName: "",
                    storeCode: "",
                    storeStatus: "",
                    pageNumber: 1,
                    pageSize: 10,
                },
                accountModalVisible:false,
                modalTitle: "",
                modalType:0,
                form: {
                    storeCode:"",
                    storeName:"",
                    shopifyName:"",
                    storeStatus:0,
                    storeUrl:"",
                    logoUrl:"",
                    storeUrl:"",
                    apiKey:"",
                    apiPassword:"",
                    sharedSecret:"",
                    staff:"",
                    googleAccount:"",
                    googlePassword:"",
                    facebookCompany:"",
                    paypal:"",
                    instagramPassword:"",
                    note:"",
                    shopifyPlan:"",
                    addressLine1:"",
                    addressLine2:"",
                    addressCity:"",
                    addressZip:"",
                    addressProvince:"",
                    addressCountryRegion:"",
                },
                FormValidate: {
                    storeCode: [
                        { required: true, message: "站点code不能为空", trigger: "blur" }
                    ],
                    storeName: [
                        { required: true, message: "站点名称不能为空", trigger:"blur" },
                    ]
                },
                submitLoading: false,
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "店铺code",
                        key: "storeCode",
                        minWidth: 145,
                        sortable: true,
                        fixed: "left"
                    },

                    {
                        title: "店铺名称",
                        key: "storeName",
                        width: 120
                    },
                    {
                        title: "别名",
                        key: "shopifyName",
                        width: 130,
                        sortable: true
                    },
                    {
                        title: "店铺URL",
                        key: "storeUrl",
                        width: 300,
                        sortable: true
                    },
                    {
                        title: "管理后台URL",
                        key: "adminUrl",
                        width: 400,
                        align: "center"
                    },
                    {
                        title: "状态",
                        key: "storeStatus",
                        align: "center",
                        width: 150,
                        render: (h, params) => {
                            if (params.row.storeStatus == 1) {
                                return h("span", [
                                    h("Badge", {
                                        props: {
                                            status: "success",
                                            text: "启用"
                                        }
                                    })
                                ]);
                            } else if (params.row.storeStatus == 2) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "error",
                                            text: "废弃"
                                        }
                                    })
                                ]);
                            } else if (params.row.storeStatus == 0) {
                                return h("div", [
                                    h("Badge", {
                                        props: {
                                            status: "warning",
                                            text: "新建"
                                        }
                                    })
                                ]);
                            }
                        },
                        filters: [
                            {
                                label: "启用",
                                value: 1
                            },
                            {
                                label: "废弃",
                                value: 2
                            },
                            {
                                label: "新建",
                                value: 0
                            }
                        ],
                        filterMultiple: false,
                        filterMethod(value, row) {
                             return row.storeStatus == value;
                        }
                    },
                    {
                        title: "logoUrl",
                        key: "logoUrl",
                        sortable: true,
                        sortType: "desc",
                        width: 300
                    },
                    {
                        title: "apiPassword",
                        key: "apiPassword",
                        sortable: true,
                        sortType: "desc",
                        width: 300
                    },
                    {
                        title: "管理员",
                        key: "staff",
                        sortable: true,
                        sortType: "desc",
                        width: 130
                    },
                    {
                        title: "facebook广告主题",
                        key: "facebookCompany",
                        sortable: true,
                        sortType: "desc",
                        width: 100
                    },
                    {
                        title: "客服邮箱",
                        key: "google_account",
                        sortable: true,
                        sortType: "desc",
                        width: 160
                    },
                    {
                        title: "操作",
                        key: "action",
                        width: 200,
                        align: "center",
                        fixed: "right",
                        render: (h, params) => {
                            let enableOrDisable = "";
                            if (params.row.storeStatus == 1) {
                                enableOrDisable = h(
                                    "Button",
                                    {
                                        props: {
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.disable(params.row);
                                            }
                                        }
                                    },
                                    "废弃"
                                );
                            } else {
                                enableOrDisable = h(
                                    "Button",
                                    {
                                        props: {
                                            type: "success",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.enable(params.row);
                                            }
                                        }
                                    },
                                    "启用"
                                );
                            };
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                                enableOrDisable,
                            ]);
                        }
                    }
                ],
                data: [],
                storeCodes:[],
                total: 0,
            };
        },
        methods: {
            init() {
                this.getDataList();
                this.getStoreCodes();
            },
            getStoreCodes(){
                getUserStoreCodes().then(res =>{
                    if(res.success){
                        this.storeCodes = res.result;
                    }
                })
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                // 避免后台默认值
                if (!this.searchForm.storeStatus) {
                    this.searchForm.storeStatus = "";
                }
                getAccountListData(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            submitAccount() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if (this.modalType == 0) {
                            // 添加用户 避免编辑后传入id

                            addAccount(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getDataList();
                                    this.accountModalVisible = false;
                                }
                            });
                        } else {
                            // 编辑
                            this.submitLoading = true;
                            editAccount(this.form).then(res => {
                                this.submitLoading = false;
                                if (res.success) {
                                    this.$Message.success("操作成功");
                                    this.getUserList();
                                    this.accountModalVisible = false;
                                }
                            });
                        }
                    }
                });
            },
            add() {
                this.modalType = 0;
                this.modalTitle = "添加用户";
                this.$refs.form.resetFields();
                this.accountModalVisible = true;
            },
            edit(v) {
                this.modalType = 1;
                this.modalTitle = "编辑用户";
                this.$refs.form.resetFields();
                // 转换null为""
                for (let attr in v) {
                    if (v[attr] == null) {
                        v[attr] = "";
                    }
                }
                let str = JSON.stringify(v);
                let data = JSON.parse(str);
                this.form = data;
                this.accountModalVisible = true;
            },
            enable(v) {
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用站点 " + v.storeCode + " ?",
                    loading: true,
                    onOk: () => {
                        enableAccount(v.storeCode).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            enableAll(){
                if (this.selectCount <= 0) {
                    this.$Message.warning("您还未选择要启用的数据");
                    return;
                }
                this.$Modal.confirm({
                    title: "确认启用",
                    content: "您确认要启用所选的 " + this.selectCount + " 条数据?",
                    loading: true,
                    onOk: () => {
                        let ids = "";
                        this.selectList.forEach(function(e) {
                            ids += e.storeCode + ",";
                        });
                        ids = ids.substring(0, ids.length - 1);
                        enableAccount(ids).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("批量启用成功");
                                this.clearSelectAll();
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            disable(v) {
                this.$Modal.confirm({
                    title: "确认禁用",
                    content: "您确认要废弃站点 " + v.storeCode + " ?",
                    loading: true,
                    onOk: () => {
                        disableAccount(v.storeCode).then(res => {
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success("操作成功");
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
