<style lang="less">
    @import "../../../styles/table-common.less";
</style>
<template>
    <div class="search">
        <Card>
            <Row>
                <Form ref="searchForm" :model="searchForm" inline :label-width="100" class="search-form">
                   <Form-item label="采购员"  >
                       <Select v-model="searchForm.purchaserId" placeholder="请选择" clearable style="width: 200px">
                           <Option value="-1">空采购员</Option>
                           <Option v-for="(item) in purchaseUserList" :value="item.id" :key="item.id">{{item.username}}</Option>
                       </Select>
                    </Form-item>
                    <Form-item label="供应商名称"  >
                        <Input type="text" v-model="searchForm.supplierName" clearable
                               placeholder="请输入搜索的供应商（模糊搜索）"
                               style="width: 200px" ></Input>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="handleReset">重置</Button>
                    </Form-item>
                </Form>
            </Row>
            <Row class="operation">
                <Button @click="add" type="primary" v-if="buttonShow" >添加</Button>
                <Button @click="batchDelete" type="primary" v-if="buttonShow" >删除</Button>
                <Button @click="selectPurchaser" type="primary" v-if="buttonShow" >修改采购员</Button>
                <Dropdown @on-click="handleDropdown">
                    <Button>
                        更多操作
                        <Icon type="md-arrow-dropdown" />
                    </Button>
                    <DropdownMenu slot="list">
                        <DropdownItem name="exportTemplate">下载导入模板</DropdownItem>
                        <DropdownItem name="importData">导入供应商</DropdownItem>
                        <DropdownItem name="exportDataButton">导出筛选数据</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </Row>
            <Row>
                <Alert show-icon>
                    已选择
                    <span class="select-count">{{selectCount}}</span> 项
                    <a class="select-clear" @click="clearSelectAll">清空</a>
                </Alert>
            </Row>
            <Row>
                <Table
                        :loading="loading"
                        border
                        :columns="columns"
                        :data="data"
                        sortable="custom"
                        @on-sort-change="changeSort"
                        @on-selection-change="showSelect"
                        ref="table"
                ></Table>
            </Row>
            <Row type="flex" justify="end" class="page">
                <Page
                        :current="searchForm.pageNumber"
                        :total="total"
                        :page-size="searchForm.pageSize"
                        @on-change="changePage"
                        @on-page-size-change="changePageSize"
                        :page-size-opts="[10,50,100,200]"
                        size="small"
                        show-total
                        show-elevator
                        show-sizer
                ></Page>
            </Row>
        </Card>
        <Card v-if="showStatic">
            <Row>
                <Form ref="staticForm" :model="staticForm" inline :label-width="100" class="search-form">
                    <Form-item label="统计时间">
                        <DatePicker
                                type="daterange"
                                v-model="selectDate"
                                format="yyyy-MM-dd"
                                @on-change="selectDateRange"
                                placeholder="选择起始时间"
                                style="width: 200px"
                        ></DatePicker>
                    </Form-item>
                    <Form-item style="margin-left:-35px;" class="br">
                        <Button @click="staticHandleSearch" type="primary" icon="ios-search">搜索</Button>
                        <Button @click="staticHandleReset">重置</Button>
                    </Form-item>
                </Form>
            </Row>
            <Row>
                <Table
                        :loading="staticLoading"
                        border
                        :columns="staticColumns"
                        :data="staticList"
                        ref="table"
                        sum-text="总计"
                        :show-summary="true"
                ></Table>
            </Row>
        </Card>
        <Modal
                :title="modalTitle"
                v-model="modalVisible"
                :mask-closable="false"
                :width="500"
                :styles="{top: '30px'}"
        >
            <Form ref="form" :model="form" :label-width="70" :rules="FormValidate">
                <FormItem label="供应商名称" prop="supplierName">
                    <Input v-model="form.supplierName" />
                </FormItem>
                <FormItem label="平台" prop="platform">
                    <Select v-model="form.platform">
                        <Option value="1688" selected="selected">1688</Option>
                        <Option value="天猫">天猫</Option>
                        <Option value="淘宝">淘宝</Option>
                        <Option value="其他">其他</Option>
                    </Select>
                </FormItem>
                <FormItem label="采购员" prop="purchaser">
                    <Select v-model="form.purchaserId" placeholder="请选择" clearable style="width: 200px">
                        <Option v-for="(item,i) in purchaseUserList" :value="item.id" :key="item.id">{{item.username}}</Option>
                    </Select>
                </FormItem>
                <FormItem label="邮箱" prop="email">
                    <Input v-model="form.email" type="email" />
                </FormItem>
                <FormItem label="手机号" prop="telphone">
                    <Input v-model="form.telPhone" />
                </FormItem>
                <FormItem label="QQ" prop="qqNumber">
                    <Input v-model="form.qqNumber" />
                </FormItem>
                <Form-item label="国家" prop="country">
                    <Input v-model="form.country" />
                </Form-item>
                <Form-item label="省" prop="province">
                    <Input v-model="form.province" />
                </Form-item>
                <Form-item label="市" prop="city">
                    <Input v-model="form.city" />
                </Form-item>
                <Form-item label="详细地址" prop="address">
                    <Input v-model="form.address" />
                </Form-item>
                <Form-item label="备注" prop="remark">
                    <TextArea v-model="form.remark" rows="5" />
                </Form-item>
            </Form>
            <div slot="footer">
                <Button type="text" @click="modalVisible = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="submitForm">提交</Button>
            </div>
        </Modal>
        <Modal title="选择采购员"
               v-model="purchaserModelShow"
               :mask-closable="false"
               :width="300"
               :styles="{top: '30px'}">
                <Select v-model="selectPurchaserId" placeholder="请选择" clearable style="width: 200px">
                    <Option v-for="(item,i) in purchaseUserList" :value="item.id" :key="item.id">{{item.username}}</Option>
                </Select>
            <div slot="footer">
                <Button type="text" @click="purchaserModelShow = false">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="batchUpdatePurchaserId">确定</Button>
            </div>
        </Modal>
        <Modal title="导入供应商"
               v-model="importDataModel"
               :mask-closable="false"
               :width="650"
               :styles="{top: '50px'}">
            <upload-excel :before-upload="beforeUpload" :on-success="handleSuccess"></upload-excel>
            <div slot="footer">
                <Button type="primary" @click="importDataModel = false" >取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
    import {
        getSupplierList,
        getAllSupplier,
        updatePurchaser,
        addSupplier,
        deleteSupplier,
        editSupplier,
        getSupplier,
        getUserByPurchase,
        getStaticByPurchaser,
        importSupplierData,
    } from "@/api/bu8api";
    import moment from "moment";
    import uploadExcel from "../../my-components/xboot/upload-excel.vue";
    export default {
        name: "supplierManage",
        components:{
          uploadExcel,
        },
        data() {
            return {
                loading: true,
                importDataModel:false,
                staticLoading: false,
                drop: false,
                dropDownContent: "展开",
                dropDownIcon: "ios-arrow-down",
                buttonShow:false,
                selectCount: 0,
                selectList: [],
                submitLoading: false,
                purchaserModelShow:false,
                modalTitle:"添加供应商",
                modalVisible:false,
                modalType:0,
                selectDate:null,
                selectPurchaserId:null,
                form:{
                    supplierName:null,
                    platform:"",
                    purchaserId:"",
                    email:"",
                    qqNumber:"",
                    telPhone:"",
                    wwNumber:"",
                    address:"",
                    remark:"",
                    province:"",
                    city:"",
                    country:"",
                },
                FormValidate:{
                    supplierName: [
                        { required: true, message: "供应商名称不能为空", trigger: "blur" }
                    ]
                },
                searchForm: {
                    purchaserId: null,
                    supplierName: null,
                    pageNumber: 1,
                    pageSize: 10,
                },
                showStatic:false,
                staticForm:{
                },
                staticList:[],
                staticColumns:[
                    {
                        title: "采购员",
                        key: "purchaserUsername",
                        width: 250
                    },
                    {
                        title: "管理供应商数量",
                        key: "supplierCount",
                        width: 250
                    },
                    {
                        title: "统计日待采购数量",
                        key: "unPurchaseCount",
                        width: 250
                    },
                ],
                purchaseUserList:[],
                columns: [
                    {
                        type: "selection",
                        width: 60,
                        align: "center",
                        fixed: "left"
                    },
                    {
                        title: "供应商",
                        key: "supplierName",
                        sortable: true,
                        width: 250
                    },
                    {
                        title: "平台",
                        key: "platform",
                        sortable: true,
                        width: 250
                    },
                    {
                        title: "采购员",
                        key: "purchaserUsername",
                        sortable: true,
                        width: 120
                    },
                    {
                        title: "邮箱",
                        key: "email",
                        sortable: true,
                        width: 200
                    },
                    {
                        title: "电话号",
                        key: "telPhone",
                        sortable: true,
                        width: 180
                    },
                    {
                        title: "QQ",
                        key: "qqNumber",
                        sortable: true,
                        width: 120
                    },
                    {
                        title: "旺旺",
                        key: "wwNumber",
                        sortable: true,
                        width: 180
                    },
                    {
                        title: "地址",
                        key: "address",
                        sortable: true,
                        width: 350
                    },
                    {
                        title: "操作",
                        width: 100,
                        fixed:"right",
                        render: (h, params) => {
                            return h("div", [
                                h(
                                    "Button",
                                    {
                                        props: {
                                            type: "primary",
                                            size: "small"
                                        },
                                        style: {
                                            marginRight: "5px"
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row);
                                            }
                                        }
                                    },
                                    "编辑"
                                ),
                            ]);
                        },
                    },
                ],
                data: [],
                total: 0,
            };
        },
        methods: {
            init() {
                this.adminShow();
                this.getPurchaseUser();
                this.getDataList();
            },
            adminShow(){
                let userInfo = JSON.parse(this.getStore("userInfo"));
                if(userInfo.type == 1){
                    this.buttonShow = true;
                    this.showStatic = true;
                    //加载 统计信息
                    this.getStaticList();
                    this.getDates();
                }
            },
            selectDateRange(v) {
                if (v) {
                    this.staticForm.startDate = v[0] +" 00:00:00";
                    this.staticForm.endDate = v[1] +" 23:59:59";
                }
            },
            getDates() {
                let startDate= moment("2020-04-01")
                let end = moment().format("YYYY-MM-DD 23:59:59");
                let start = moment().subtract(1, "month");
                if(start.isBefore(startDate)){
                    start = startDate.format("YYYY-MM-DD 00:00:00");
                }
                this.selectDate = [start, end];
                this.staticForm.startDate = start;
                this.staticForm.endDate = end;
            },
            changePage(v) {
                this.searchForm.pageNumber = v;
                this.getDataList();
                this.clearSelectAll();
            },
            changePageSize(v) {
                this.searchForm.pageSize = v;
                this.getDataList();
            },
            getDataList() {
                // 多条件搜索用户列表
                this.loading = true;
                getSupplierList(this.searchForm).then(res => {
                    this.loading = false;
                    if (res.success) {
                        this.data = res.result.records;
                        this.total = res.result.total;
                    }
                });
            },
            add(){
                this.modalType = 0;
                this.modalVisible = true;
                this.$refs.form.resetFields();
                this.modalTitle = "添加供应商";
            },
            edit(v){
                this.modalType = 1;
                this.modalTitle = "编辑供应商";
                let params = {supplierName: ""+v.supplierName}
                getSupplier(params).then((res)=>{
                    if(res.success){
                        this.modalVisible = true;
                        this.form = res.result;
                    }
                })
            },
            submitForm(){
                this.$refs.form.validate(valid => {
                    if (valid) {
                        if (this.modalType == 0) {
                            addSupplier(this.form).then((res)=>{
                                if(res.success){
                                    this.modalVisible = false;
                                    this.$Message.success({duration:1, content:"添加成功"});
                                    this.getDataList();
                                }
                            })
                        } else {
                            delete this.form.updateTime;
                            delete this.form.createTime;
                            editSupplier(this.form).then((res)=>{
                                if(res.success){
                                    this.modalVisible = false;
                                    this.$Message.success({duration:1, content:"修改成功"});
                                    this.getDataList();
                                }
                            })
                        }
                    }
                });
            },
            batchDelete(){
                let supplierNameList = [];
                if(this.selectList.length == 0){
                    this.$Message.error({duration:1, content:"请选择要删除的供应商"});
                    return;
                }
                this.selectList.forEach(function(e) {
                    supplierNameList.push(e.supplierName);
                });
                let params = {'supplierNameList': supplierNameList};
                this.$Modal.confirm({
                    title: "确认删除",
                    content: "你确认要删除吗？",
                    submitLoading: true,
                    onOk: () => {
                        deleteSupplier(params).then(res => {
                            this.submitLoading = false;
                            this.$Modal.remove();
                            if (res.success) {
                                this.$Message.success({duration: 1, content:"操作成功"});
                                this.getDataList();
                            }
                        });
                    }
                });
            },
            selectPurchaser(){
                this.purchaserModelShow = true;
            },
            batchUpdatePurchaserId(){
                let supplierNameList = [];
                if(this.selectList.length == 0){
                    this.$Message.error({duration:1, content:"请选择要删除的供应商"});
                    return;
                }
                this.selectList.forEach(function(e) {
                    supplierNameList.push(e.supplierName);
                });
                if(!this.selectPurchaserId){
                    this.$Message.error({duration:1, content:"请选择要分配的采购员"});
                    return;
                }
                let params = {'supplierNameList': supplierNameList, 'purchaserId': this.selectPurchaserId};
                this.submitLoading = true;
                updatePurchaser(params).then((res)=>{
                    this.submitLoading = false;
                    if(res.success){
                        this.purchaserModelShow = false;
                        this.$Message.success({duration: 1, content:"操作成功"})
                        this.getDataList();
                    }
                })
            },
            getPurchaseUser(){
                getUserByPurchase().then((res)=>{
                    if(res.success){
                        this.purchaseUserList = res.result;
                        let userInfo = JSON.parse(this.getStore("userInfo"));
                        if(this.purchaseUserList){
                            this.purchaseUserList.forEach((item)=>{
                                if(item.id == userInfo.id){
                                    this.searchForm.purchaserId = item.id;
                                }
                            })
                        }
                    }
                });
            },
            getStaticList(){
                this.staticLoading = true;
                getStaticByPurchaser(this.staticForm).then((res)=>{
                    this.staticLoading = false;
                    if(res.success){
                        this.staticList = res.result;
                    }
                })
            },
            handleSearch() {
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                this.getDataList();
            },
            handleReset() {
                this.$refs.searchForm.resetFields();
                this.searchForm.pageNumber = 1;
                this.searchForm.pageSize = 10;
                // 重新加载数据
                this.getDataList();
            },
            staticHandleSearch() {
                this.getStaticList();
            },
            staticHandleReset() {
                this.$refs.staticForm.resetFields();
                this.getDates();
                // 重新加载数据
                this.getStaticList();
            },
            changeSort(e) {
                this.searchForm.sort = e.key;
                this.searchForm.order = e.order;
                if (e.order == "normal") {
                    this.searchForm.order = "";
                }
                this.getDataList();
            },
            dropDown() {
                if (this.drop) {
                    this.dropDownContent = "展开";
                    this.dropDownIcon = "ios-arrow-down";
                } else {
                    this.dropDownContent = "收起";
                    this.dropDownIcon = "ios-arrow-up";
                }
                this.drop = !this.drop;
            },
            showSelect(e) {
                this.exportData = e;
                this.selectList = e;
                this.selectCount = e.length;
            },
            clearSelectAll() {
                this.$refs.table.selectAll(false);
            },
            beforeUpload(file) {
                const isLt1M = file.size / 1024 / 1024 < 10;
                if (isLt1M) {
                    return true
                }
                this.$Message({
                    message: '导入文件过大，请导入10M以内的文件',
                    type: 'warning'
                });
                return false
            },
            handleSuccess({ results, header }) {
                this.$Modal.confirm({
                    title: "确认导入",
                    content: "您确认要导入excel中 " + results.length + " 条数据?",
                    onOk: () => {
                       importSupplierData(results).then((res)=>{
                           if(res.success){
                               this.importDataModel = false;
                               this.$Message.success({content:res.message, duration:3});
                               this.getDataList();
                           }
                       });
                    }
                });
            },
            exportDataMethod(){
                getAllSupplier(this.searchForm).then((res)=>{
                    if(res.success){
                        let list = res.result;
                        import('@/vendor/Export2Excel').then(excel => {
                            let tHeader = ["supplierName", "platform","purchaserUsername"];
                            const filterVal = ["supplierName", "platform","purchaserUsername"];
                            let data = this.formatJson(filterVal, list);
                            excel.export_json_to_excel({
                                header: tHeader, //表头 必填
                                data, //具体数据 必填
                                filename: '供应商数据导出', //非必填
                                autoWidth: true, //非必填
                                bookType: 'xlsx' //非必填
                            });
                        })
                    }
                });
            },
            exportTemplate(){
                let param = this.searchForm;
                param.pageSize=100;
                param.pageNumber=1;
                param.searchData="";
                getSupplierList(param).then((res)=>{
                    if(res.success){
                        this.searchForm.searchData=null;
                        let list = res.result.records;
                        import('@/vendor/Export2Excel').then(excel => {
                            let tHeader = ["supplierName", "platform","purchaserUsername"];
                            const filterVal = ["supplierName", "platform","purchaserUsername"];
                            let data = this.formatJson(filterVal, list);
                            excel.export_json_to_excel({
                                header: tHeader, //表头 必填
                                data, //具体数据 必填
                                filename: '导入采购单模板', //非必填
                                autoWidth: true, //非必填
                                bookType: 'xlsx' //非必填
                            });
                        })
                    }
                });
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => {
                    if (j === 'timestamp') {
                        return parseTime(v[j])
                    } else {
                        return v[j]
                    }
                }))
            },
            handleDropdown(name){
                if (name == "exportTemplate") {
                    this.exportTemplate();
                } else if (name == "importData") {
                    this.importDataModel = true;
                }else if(name == "exportDataButton") {
                    this.exportDataMethod();
                }
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
